<template>
  <div class="ef-base">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
.ef-base {
  padding: 8px 8px 8px 8px;
  margin: 56px 6px 56px 0px;
  background-color: var(--white);
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
  border-radius: 24px !important;
}
</style>
