<template>
  <div class="mx-8 my-5">
    <v-row justify="space-between" align="center" class="mb-8">
      <v-col :cols="5">
        <div class="d-flex align-center">
          <img
            v-if="backIcon"
            style="cursor: pointer"
            src="../../assets/images/back.svg"
            alt=""
            @click="$nuxt.$emit(backComponent)"
          />
          <div :class="{ 'ml-6': backIcon }" class="root-title">
            {{ title }}
          </div>
        </div>
      </v-col>
      <v-col :cols="6">
        <component
          :is="centerComponent"
          v-if="centerComponent != null"
          v-bind="centerComponent"
        ></component>
      </v-col>
      <v-col :cols="1">
        <div>
          <v-menu offset-y transition="slide-y-transition">
            <template #activator="{ on, attrs }">
              <v-avatar v-if="!!user.image" v-bind="attrs" size="40" v-on="on">
                <v-img :src="user.image" />
              </v-avatar>
              <v-avatar
                v-else
                v-bind="attrs"
                size="40"
                color="#E1E5EC"
                class="avatar"
                v-on="on"
              >
                <div>{{ $global.shortForm(user.name) }}</div>
              </v-avatar>
            </template>
            <v-list>
              <v-list-item to="/user">
                <v-list-item-title>
                  <div class="text_small">User Account</div>
                </v-list-item-title>
              </v-list-item>
              <v-list-item @click="logout">
                <v-list-item-title>
                  <div class="text_small">Logout</div>
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-col>
    </v-row>
    <slot />
  </div>
</template>

<script>
import { IS_UI_ONLY } from '../../constants/const';
import { userUtils } from '~/utils/user/user-utils';
import { accessor } from '~/store';
import { committeeUtils } from '~/utils';

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    backIcon: {
      type: Boolean,
      default: false,
    },
    backComponent: {
      type: String,
      default: '',
    },
    centerComponent: {
      type: [String, Object],
      default: null,
    },
  },
  data() {
    return {
      user: {
        name: 'Electa file',
        // image: 'https://cdn.vuetifyjs.com/images/john.jpg'
      },
    };
  },
  mounted() {
    // this.getUserData();
  },
  beforeMount() {
    console.log('Container back info >>  ', this.centerComponent);
  },
  methods: {
    async getUserData() {
      console.log('>>> Container getUserData');

      await accessor.restored;
      const UserModule = accessor.user;
      try {
        await UserModule.getUserData(accessor.user.email);
      } catch (e) {}

      if (accessor.user.committee_type === '') {
        await this.logout();
        return;
      }

      if (!accessor.user.is_committee_completed) {
        await this.$router.push({
          path: committeeUtils.getPathName(accessor.user.committee_type),
        });
      }
    },
    async logout() {
      console.log('>>>>user  logout');

      if (IS_UI_ONLY) {
        await this.$router.push({
          path: '/login',
        });
        return;
      }
      // console.log('user\'s logout')
      await this.$auth.logout({
        returnTo: window.location.origin,
      });

      await userUtils.logout();
    },
  },
};
</script>

<style lang="scss" scoped>
.root-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: var(--biscay);
}
.avatar {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #909fba;
}
.v-menu__content {
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(89, 103, 128, 0.16);
}
.text_small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
</style>
