<template>
  <v-row justify="center" align="center" no-gutters>
    <v-col cols="12" sm="8" md="12" class="pt-0">
      <label class="label">{{ customProps.label }}</label>
      <v-item-group v-model="ConditionMode" @change="onChangeCondition">
        <v-row>
          <v-col
            v-for="(condition, i) in conditions"
            :key="i"
            cols="12"
            md="6"
            class="pr-0 mt-1"
          >
            <v-item v-slot="{ active, toggle }">
              <v-card
                :color="active ? '#17356F' : 'rgba(146, 168, 210, 0.15)'"
                class="pa-3 rounded-lg"
                flat
                @click="toggle"
              >
                <div
                  :class="{ 'white--text': active }"
                  class="text-center button_text"
                >
                  {{ condition }}
                </div>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-item-group>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ['customProps'],

  data() {
    return {
      ConditionMode: null,
      conditions: ['No', 'Yes'],
    };
  },
  mounted() {
    // console.log(">>>>>>>>>>>>>>>>>",this.sectionName)
  },
  methods: {
    onChangeCondition() {
      this.$emit('ConditionalMode', {
        value: this.ConditionMode === 1,
        activeKey: this.customProps.id,
        item: this.customProps,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
label {
  font-family: var(--font-family-callout);
  font-style: var(--font-style-callout);
  font-weight: var(--font-weight-callout);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--comet);
}
.button_text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Comet */

  color: var(--comet);
}
</style>
