<template>
  <div>
    <div v-if="newReceipt">
      <div v-if="mode === 'reports'">
        <div
          style="cursor: pointer"
          class="mt-6 d-flex align-center"
          @click="$nuxt.$emit('EFReceipts')"
        >
          <img src="../../assets/images/back.svg" alt="" />
          <div class="root-title ml-3">New Receipt</div>
        </div>
        <div class="pt-6 pb-12 d-flex flex-column justify-center align-center">
          <EFNewReceipt @onReceiptType="onReceiptType" />
        </div>
      </div>
      <EFContainer
        v-else
        title="New Receipt"
        :back-icon="true"
        :back-component="parentComponent"
      >
        <EFCard class="py-12 d-flex flex-column justify-center align-center">
          <EFNewReceipt @onReceiptType="onReceiptType" />
        </EFCard>
      </EFContainer>
    </div>

    <div v-else>
      <EFReceiptFormContainer
        v-if="mode === 'reports'"
        :option-index="optionIndex"
        :mode="mode"
      />
      <EFReceiptFormContainer v-else :option-index="optionIndex" />
    </div>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFReceiptFormContainer from './EFReceiptFormContainer.vue';
import EFNewReceipt from './EFNewReceipt.vue';
export default {
  components: {
    EFCard,
    EFReceiptFormContainer,
    EFNewReceipt,
  },
  props: {
    parentComponent: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      newReceipt: true,
      optionIndex: null,
    };
  },
  beforeMount() {
    this.$nuxt.$on('EFNewReceipt', () => {
      console.log('new receipt component');
      this.reset();
    });
    this.$nuxt.$on('backToEFNewReceipt', () => {
      this.reset();
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('EFNewReceipt');
    this.$nuxt.$off('backToEFNewReceipt');
  },
  methods: {
    onReceiptType(index) {
      this.newReceipt = false;
      this.optionIndex = index;
      // console.log(this.optionIndex);
    },
    reset() {
      this.newReceipt = true;
      this.optionIndex = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.root-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: var(--biscay);
}
</style>
