<template>
  <div>
    <div v-if="mode === 'reports'">
      <div
        style="cursor: pointer"
        class="mt-6 d-flex align-center"
        @click="$nuxt.$emit('EFNewReceipt')"
      >
        <img src="../../assets/images/back.svg" alt="" />
        <div class="root-title ml-3">New Receipt</div>
      </div>
      <div class="px-12 pb-12 pt-9">
        <EFReceiptForm :option-index="optionIndex" />
      </div>
    </div>
    <div v-else>
      <EFContainer
        title="New Receipt"
        :back-icon="true"
        back-component="EFNewReceipt"
      >
        <EFCard class="px-12 pb-12 pt-9">
          <EFReceiptForm :option-index="optionIndex" />
        </EFCard>
      </EFContainer>
    </div>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFReceiptForm from '../receipts/EFReceiptForm.vue';
export default {
  components: {
    EFCard,
    EFReceiptForm,
  },
  props: {
    optionIndex: {
      type: Number,
      default: null,
    },
    mode: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.root-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: var(--biscay);
}
</style>
