<template>
  <div>
    <v-menu offset-y transition="slide-y-transition" @change="selected">
      <template #activator="{ on, attrs }">
        <v-chip-group>
          <div v-bind="attrs" class="d-flex align-center" v-on="on">
            <div class="card_subtitle mr-5">{{ selected.label }}</div>
            <v-icon class="card_subtitle-icon">mdi-chevron-down</v-icon>
          </div>
        </v-chip-group>
      </template>
      <v-list>
        <v-list-item
          v-for="(option, i) in receiptOptions"
          :key="i"
          @click="onSelected(option, i)"
        >
          <v-list-item-title>
            <div class="text_small">{{ option.label }}</div>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <div v-if="selectedIndex <= 5">
      <v-row class="mt-5 mb-16">
        <v-col cols="12" md="6">
          <EFForm name="receipt" :items="items" />
        </v-col>
        <v-col cols="12" md="6">
          <EFPaymentForm :payment-data.sync="paymentData" />
        </v-col>
      </v-row>
      <v-alert
        v-if="errorMessages.length"
        border="left"
        type="error"
        transition="scale-transition"
        dismissible
      >
        <div v-for="(msg, index) in errorMessages" :key="index">
          <p>{{ msg }}</p>
        </div>
      </v-alert>
      <div class="text-center">
        <v-btn large class="cancel-button elevation-0" @click="cancel">
          <span class="cancel-text">Cancel</span>
        </v-btn>
        <EFButton class="mx-4" large @el-onclick="save"> Save </EFButton>
        <EFButton large @el-onclick="save(true)"> Save and Add more</EFButton>
      </div>
    </div>
    <v-row v-else class="mt-5 mb-16">
      <v-col cols="12">
        <EFForm name="receipt" :items="items">
          <template #default="{ valid }">
            <div class="text-center mt-16 pt-3">
              <v-btn large class="cancel-button elevation-0" @click="cancel">
                <span class="cancel-text">Cancel</span>
              </v-btn>
              <EFButton
                :valid="valid"
                :disabled="!valid"
                class="mx-4"
                large
                @el-onclick="save"
              >
                Save
              </EFButton>
              <EFButton
                :valid="valid"
                :disabled="!valid"
                large
                @el-onclick="saveAddMore"
              >
                Save and Add more</EFButton
              >
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import EFConditionalButton from '../receipts/EFConditionalButton.vue';
import {
  PLAN,
  PAYEE,
  // CONTRIBUTOR,
  EXPENDITURES,
  LOAN_FORGIVEN,
} from '../../constants/const';
import { accessor } from '../../store';
import {
  getItemsReceiptFrom,
  getReceiptForSave,
} from '~/configurations/receipts';

export default {
  props: {
    optionIndex: {
      type: Number,
      default: null,
    },
    receipt: {
      type: Object,
      default: () => null,
    },
  },
  data() {
    return {
      receiptOptions: [],
      counterparties: [],
      errorMessages: [],
      valid: false,
      selected: '',
      selectedIndex: null,
      items: [],
      paymentData: {
        id: 0,
        key: 'check',
        value: '',
      },
    };
  },
  async fetch() {
    const getCounterparties = async () => {
      await accessor.restored;
      const CounterpartiesModule = accessor.counterparties;
      return await CounterpartiesModule.getCounterparties();
    };
    this.counterparties = (await getCounterparties()).filter(
      (el) => el.full_name !== '',
    );
  },
  watch: {
    counterparties() {
      this.receiptOptions[0].items[2].options = this.counterparties.map(
        (el) => ({
          label: el.full_name,
          value: {
            counterpartyId: el.id,
            cycleId: el.cycle_id,
          },
        }),
      );
    },
  },
  created() {
    this.receiptOptions = getItemsReceiptFrom(
      this.counterparties,
      PAYEE,
      EXPENDITURES,
      LOAN_FORGIVEN,
      PLAN,
      EFConditionalButton,
      this.receipt,
      this.paymentData,
    );
    this.watchSelected(this.receiptOptions[this.optionIndex], this.optionIndex);
    if (this.receipt) {
      console.log(
        '❗ . file: EFReceiptForm.vue . line 162 . created . receipt',
      );
      this.paymentData = {
        key: this.receipt.payment_type,
        value: this.receipt.payment_info.account,
      };
    }
  },
  methods: {
    cancel() {
      if (this.$route.params.id) this.$router.push({ path: '/receipts' });
      else this.$nuxt.$emit('backToEFNewReceipt');
    },
    async save(addMore) {
      this.errorMessages = [];
      const data = getReceiptForSave(
        this.items,
        this.paymentData,
        this.receiptOptions[this.optionIndex].value,
        this.errorMessages,
      );
      if (!this.errorMessages.length) {
        try {
          await accessor.restored;
          const ReceiptsModule = accessor.receipts;
          let isUpdate = false;
          if (this.$route.params.id) {
            await ReceiptsModule.updateReceipt({
              data,
              id: this.$route.params.id,
            });
            isUpdate = true;
          } else {
            await ReceiptsModule.saveReceipt(data);
          }
          this.showSnackbar({
            message: `Data was successfully ${isUpdate ? 'update' : 'save'}`,
            error: false,
          });
          if (isUpdate) this.$router.push({ path: '/receipts' });
          else if (addMore) this.$nuxt.$emit('backToEFNewReceipt');
          else this.$nuxt.$emit('backToHome');
        } catch (error) {
          this.showSnackbar({ message: 'Some error occurs', error: true });
        }
      }
    },
    saveAddMore() {
      // check is valid
      this.$nuxt.$emit('backToEFNewReceipt');
    },
    onSelected(option, index) {
      console.log('selected >>> ', index);
      this.watchSelected(option, index);
    },
    watchSelected(option, index) {
      if (index !== this.selectedIndex) {
        this.selected = option;
        this.selectedIndex = index;
        this.items = option.items;
      }
    },
    showSnackbar(data) {
      this.$nuxt.$notifier.showMessage({
        message: data.message,
        error: data.error,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.card_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  /* Biscay */

  color: var(--biscay);
}
.card_subtitle-icon {
  width: 12px;
  height: 6px;
  color: var(--biscay) !important;
}
.v-menu__content {
  min-width: 470px !important;
  box-shadow: 0px 0px 30px rgba(89, 103, 128, 0.16) !important;
  border-radius: 8px !important;
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.text_small {
  font-family: var(--font-family-callout);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--river-bed);
}
</style>
