<template>
  <div>
    <div v-if="receipts">
      <EFReceiptsData v-if="mode === 'reports'" />
      <EFReceiptsDataContainer v-else />
    </div>
    <div v-else>
      <EFNewReceiptContainer
        v-if="mode === 'reports'"
        parent-component="EFReceipts"
        :mode="mode"
      />
      <EFNewReceiptContainer v-else parent-component="EFReceipts" />
    </div>
  </div>
</template>

<script>
import EFReceiptsDataContainer from '../receipts/EFReceiptsDataContainer.vue';
import EFReceiptsData from '../receipts/EFReceiptsData.vue';
import EFNewReceiptContainer from './EFNewReceiptContainer.vue';
export default {
  components: {
    EFReceiptsDataContainer,
    EFReceiptsData,
    EFNewReceiptContainer,
  },
  props: {
    mode: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      receipts: true,
      edit: false,
    };
  },
  beforeMount() {
    this.$nuxt.$on('backToHome', () => {
      alert('Receipt added successfully');
      this.receipts = true;
      this.edit = false;
    });
    this.$nuxt.$on('EFReceipts', () => {
      this.receipts = true;
    });
    this.$nuxt.$on('addReceipt', () => {
      this.receipts = false;
      this.edit = false;
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('backToHome');
    this.$nuxt.$off('EFReceipts');
    this.$nuxt.$off('addReceipt');
  },
  methods: {},
};
</script>

<style></style>
