<template>
  <div>
    <EFContainer title="Receipts">
      <EFCard>
        <EFReceiptsData />
      </EFCard>
    </EFContainer>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFReceiptsData from './EFReceiptsData.vue';
export default {
  components: { EFCard, EFReceiptsData },
};
</script>

<style lang="scss" scoped></style>
