<template>
  <div class="d-flex flex-wrap">
    <div v-for="(item, i) in status" :key="i">
      <EFStatusLabel :type="item" @onStatus="onStatus(item)" />
    </div>
  </div>
</template>
<script>
import EFStatusLabel from './status/EFStatusLabel.vue';
import { ReportStatusKey } from '~/api/electafile-api/types/reports';

export default {
  components: {
    EFStatusLabel,
  },
  data() {
    return {
      status: [
        ReportStatusKey.DRAFT,
        ReportStatusKey.READY,
        ReportStatusKey.PENDING,
        ReportStatusKey.DECLINED,
        ReportStatusKey.SENT,
        ReportStatusKey.ACCEPTED,
        ReportStatusKey.REJECTED,
      ],
    };
  },
  methods: {
    onStatus(status) {
      this.$nuxt.$emit('reportStatusSelected', { status });
    },
  },
};
</script>
