<template>
  <div class="mt-10">
    <div class="d-flex">
      <v-row class="d-flex flex-column" no-gutters>
        <v-card
          elevation="0"
          width="462"
          height="65"
          class="mx-auto inner-card py-3 pl-6"
        >
          <v-row>
            <v-col cols="6">
              <div class="caption mb-1">Committee Name</div>
              <div class="subtext">Ronald Richards Committee</div>
            </v-col>
          </v-row>
        </v-card>
        <v-row class="mt-7 pl-1 mx-auto">
          <v-card
            elevation="0"
            width="219"
            height="65"
            class="mx-auto inner-card py-3 pl-6"
          >
            <div class="caption mb-1">Report Period Start Date</div>
            <div class="date-subtext">01-03-2022</div>
          </v-card>
          <EFForm
            class="mt-n5 ml-5"
            name="datepicker"
            :items="DraftItems.slice(0, 1)"
          />
        </v-row>
        <div class="mx-auto">
          <EFForm
            class="form-class mt-4"
            name="draft"
            :items="DraftItems.slice(1, 3)"
          />
        </div>
      </v-row>
      <div class="">
        <v-card
          elevation="0"
          width="146"
          height="146"
          class="inner-card d-flex flex-column align-center justify-center"
        >
          <div class="absolute-position">
            <img
              :src="require('~/assets/images/input-tooltip-icon.svg')"
              alt=""
            />
          </div>
          <div class="caption">Submission Cost</div>
          <div class="cost-text">$59.99</div>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      DraftItems: [
        {
          type: 'select',
          variant: 'datepicker',
          label: 'Report Period End Date',
          selected: '01-04-2022',
        },
        {
          id: 1,
          type: 'text',
          label: 'North Carolina Board of Elections ID',
          hint: 'Ex.: STA-123456-C-001',
          tooltip: true,
        },
        {
          id: 2,
          type: 'text',
          label: 'Number of Fundraisers',
        },
      ],
      ReadyItems: [
        {
          id: 0,
          type: 'text',
          label: 'Number of Fundraisers',
          value: 0,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.inner-card {
  background: #ffffff;
  /* Heather */

  border: 1px solid #afbed7;
  box-sizing: border-box;
  border-radius: 8px;
}
.absolute-position {
  position: absolute;
  top: 12px;
  right: 12px;
}
.caption {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;

  /* Comet */

  color: var(--comet);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;

  /* Big Stone */

  color: var(--big-stone);
}
.date-subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  /* Black Pearl */

  color: var(--black-pearl);
}
.cost-text {
  margin-top: 6px;
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  /* River Bed */

  color: var(--river-bed);
}
.form-class {
  width: 462px;
  margin-left: 10px;
}
</style>
