<template>
  <div>
    <EFFormTitle v-if="mode === VIEW_MODE.SETTINGS" subsubtitle="Details" />
    <v-row
      :class="[
        `${
          mode === VIEW_MODE.COMMITTEE
            ? `d-flex align-center justify-center`
            : ``
        }`,
      ]"
    >
      <v-col cols="12" sm="8" md="6">
        <EFForm :key="refreshKey" name="details1" :items="items.slice(0, 5)">
          <template #default="{ valid }">
            <div>
              <label class="label" style="color: var(--comet)"
                >Is there any organization connected or committee affiliated
                with your committee?</label
              >
              <v-item-group
                v-model="organization"
                @change="onOrganizationCondition"
              >
                <v-row>
                  <v-col
                    v-for="(condition, i) in conditions"
                    :key="i"
                    cols="12"
                    md="6"
                    class="mt-1"
                  >
                    <v-item v-slot="{ active, toggle }">
                      <v-card
                        :color="
                          active ? '#17356F' : 'rgba(146, 168, 210, 0.15)'
                        "
                        class="pa-3 rounded-lg"
                        flat
                        @click="toggle"
                      >
                        <div
                          :class="{ 'white--text': active }"
                          class="text-center text-color"
                        >
                          {{ condition }}
                        </div>
                      </v-card>
                    </v-item>
                  </v-col>
                </v-row>
              </v-item-group>
            </div>
            <div v-if="organization !== 1" class="text-center mt-6">
              <EFButton
                :valid="valid"
                :disabled="!valid"
                type="primary"
                @el-onclick="createDetails"
              >
                Continue
              </EFButton>
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
    <div v-if="organization === 1">
      <v-row justify="center" align="center">
        <v-col class="mt-6" cols="12" sm="8" md="6">
          <v-row justify="center" align="center" no-gutters>
            <EFFormTitle subtitle="Connected Organization" />
          </v-row>
          <v-row class="mb-4" justify="center" align="center" no-gutters>
            <EFFormTitle subtitle="or Affiliated Committee" />
          </v-row>
          <v-row justify="center" align="center" no-gutters>
            <EFForm name="details2" :items="items.slice(5, items.length)">
              <template #default="{ valid }">
                <div class="text-center mt-6" @click="$nuxt.$emit('nextTab')">
                  <EFButton
                    :valid="valid"
                    :disabled="!valid"
                    type="primary"
                    @el-onclick="createDetails"
                  >
                    Continue
                  </EFButton>
                </div>
              </template>
            </EFForm>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { formUtils } from '../../../utils/common/forms';
import {
  IS_UI_ONLY,
  PAC_CATEGORY,
  PAC_TYPE,
  VIEW_MODE,
} from '@/constants/const.ts';
import { accessor } from '~/store';
import { DetailsKeys } from '~/api/electafile-api/types/committee';
export default {
  props: {
    statesCities: {
      type: Object,
      default: () => {},
    },
    countyList: {
      type: Array,
      default: () => [],
    },
    mode: {
      type: String,
      default: VIEW_MODE.COMMITTEE,
    },
  },
  data() {
    return {
      valid: false,
      refreshKey: Date.now(),
      VIEW_MODE,
      items: [
        {
          id: 0,
          key: DetailsKeys.PAC_CATEGORY,
          type: 'select',
          label: 'PAC Category',
          options: PAC_CATEGORY,
          value: '',
          rules: [(v) => !!v || 'PAC category is required'],
        },
        {
          id: 1,
          key: DetailsKeys.PAC_TYPE,
          type: 'select',
          label: 'PAC Type',
          options: PAC_TYPE,
          value: '',
          tooltip: true,
          rules: [(v) => !!v || 'PAC type is required'],
        },
        {
          id: 3,
          key: DetailsKeys.DEFINITION_TYPE,
          type: 'text',
          label: 'Definition of Type',
        },
        {
          id: 4,
          key: DetailsKeys.MEMBER_DEFINITION,
          type: 'text',
          label: 'Member Definition',
        },
      ],
      conditions: ['No', 'Yes'],
      organization: null,
      flag: false,
      organizationItems: [
        {
          id: 5,
          type: 'text',
          label: 'Full Name',
        },
        {
          id: 6,
          type: 'text',
          label: 'Relationship',
        },
        {
          id: 7,
          type: 'text',
          label: 'Mailing Address',
          placeholder: 'Street Address',
        },
        {
          id: 9,
          type: 'select',
          options: Object.keys(this.statesCities).map((key) => {
            return { label: key, value: key };
          }),
          disabled: false,
          value: '',
          rules: [(v) => !!v || 'State is required'],
          cols: 12,
          md: 5,
        },
        {
          id: 8,
          type: 'select',
          placeholder: 'City',
          options: [],
          value: '',
          rules: [(v) => !!v || 'City is required'],
          cols: 12,
          md: 4,
        },
        {
          id: 10,
          type: 'text',
          placeholder: 'Zip',
          cols: 12,
          md: 3,
        },
        {
          id: 11,
          type: 'text',
          label: 'Phone Number',
          value: '+1',
        },
      ],
    };
  },
  mounted() {
    this.initDetails();

    this.$nuxt.$on('getItem', (res) => {
      if (res.id === 9) {
        this.organizationItems[
          this.organizationItems.findIndex((item) => item.id === 8)
        ].options = this.states_citizens[res.value];
      }
    });
    this.$nuxt.$on('getInputItem', (res) => {
      console.log(' >> text field value changes', res);
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
    this.$nuxt.$off('getInputItem');
  },
  methods: {
    onOrganizationCondition() {
      if (this.organization === undefined && this.flag === true) {
        this.items = this.items.slice(0, 5);
        this.flag = false;
      } else if (this.organization === 0 || this.organization === undefined) {
        console.log(' >> selcted NO or Default selected NO');
      } else if (this.organization === 1 && this.flag === false) {
        this.organizationItems.forEach((el) => {
          this.items.push(el);
        });
        this.flag = true;
      }
    },
    async createDetails() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const DetailsModule = accessor.details;
      console.log('POST createDetails: ', this.items);

      try {
        const res = await DetailsModule.createDetails(this.items);
        console.log('HERE createParty: ', res);
        this.$nuxt.$emit('nextTab');
      } catch (e) {
        alert('Some error occurs');
      }
    },
    async initDetails() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const DetailsModule = accessor.details;
      try {
        const response = await DetailsModule.getDetails();
        console.log('>>>> initDetails response:', response);

        /* Pre-populate */
        this.items = formUtils.buildItems(this.items, response);
        console.log('>>>> initDetails pre-populate items:', this.items);
      } catch (e) {
        // alert('Some error occurs');
      }

      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
  },
};
</script>

<style></style>
