<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <div class="mt-10 mb-8">
        <EFFormTitle title="Add Committee" />
      </div>
      <v-row>
        <v-col cols="12">
          <EFTabs :steps="steps" type="stepper" :active-tab="activeTab" />
          <v-row
            v-if="activeTab > 1"
            justify="center"
            class="pt-5 mb-16"
            align="center"
          >
            <div @click="$nuxt.$emit('activeTab', --activeTab)">
              <EFButton type="secondary" :disabled="activeTab <= 1">
                Back
              </EFButton>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import EFCommittee from '~/components/committee/EFCommittee';
import EFDetails from '~/components/committee/political-action-committee/EFDetails';
import EFOfficers from '~/components/committee/EFOfficers';
import EFAccounts from '~/components/committee/EFAccounts';
import statesCities from '~/constants/states-cities';
import countyList from '~/constants/county-list';

const WrappedCommittee = () => (
  <EFCommittee states-cities={statesCities} county-list={countyList} />
);

const WrappedDetails = () => (
  <EFDetails states-cities={statesCities} county-list={countyList} />
);

const WrappedOfficers = () => <EFOfficers states-cities={statesCities} />;

export default {
  components: {},
  data() {
    return {
      steps: [
        { title: 'Committee', content: WrappedCommittee },
        { title: 'Details', content: WrappedDetails },
        { title: 'Officers', content: WrappedOfficers },
        { title: 'Accounts', content: EFAccounts },
      ],
      activeTab: 1,
    };
  },
  beforeMount() {
    this.onTabs();
  },
  beforeDestroy() {
    this.offTabs();
  },
  methods: {
    onTabs() {
      this.$nuxt.$on('nextTab', () => {
        // console.log('its next tab')
        return this.activeTab < this.steps.length
          ? this.$nuxt.$emit('activeTab', ++this.activeTab)
          : '';
      });
    },
    offTabs() {
      this.$nuxt.$off('nextTab');
    },
  },
};
</script>

<style></style>
