<template>
  <div v-if="efDashboard">
    <EFContainer title="Dashboard">
      <EFDashboardBanner
        :content="dashBoardBannerContents"
        :cycle-ended="electionCycleEnded"
        @onElectionBUtton="onElectionBUtton"
      />
      <v-dialog
        v-model="dialog"
        width="661"
        overlay-color="var(--whisper)"
        content-class="rounded-dialog"
      >
        <EFModal
          :highlight-text="false"
          :content="modalContent"
          @closeDialog="closeDialog"
        >
          <EFButton> Start reporting </EFButton>
        </EFModal>
      </v-dialog>
      <div
        class="d-flex flex-column d-md-flex flex-md-row justify-space-between"
      >
        <div>
          <div class="mt-16 pt-1 mb-11 text-center">
            <div class="record-text mb-4">Record Transactions</div>
            <div>
              The records will be saved and added to the reports you file
            </div>
          </div>
          <div v-for="record in recordCard" :key="record.id">
            <EFRecordCard
              class="mb-6"
              :content="record"
              @addExpenditure="addExpenditure"
              @addReceipt="addReceipt"
            />
          </div>
        </div>
        <div>
          <div class="mt-16 pt-1 mb-11 text-center">
            <div class="record-text mb-4">
              {{
                electionCycleEnded
                  ? 'No Reports to File'
                  : 'Reports to be Filed'
              }}
            </div>
            <div>
              {{
                electionCycleEnded
                  ? 'Everything that is needed to be filed was filed.'
                  : 'Here are the reports you should file as of today'
              }}
            </div>
          </div>
          <!-- Cycle ended, no reports to file -->
          <div v-if="electionCycleEnded && counter === 0">
            <div class="d-flex justify-center">
              <v-img :src="require('~/assets/images/no-report.svg')" />
            </div>
            <div class="button-small mt-7 text-center mr-n9">
              File report Amendment
            </div>
          </div>
          <!-- If cycle not ended -->
          <!-- Checking 10 or less days ago / not giving them add button -->
          <div
            v-else-if="
              11 > $global.dateCounter(new Date(committeOrganized).getTime()) &&
              counter === 1
            "
          >
            <EFReportCardLayout class="d-flex justify-center">
              <EFReportCard :content="cardContentsless10days" />
            </EFReportCardLayout>
          </div>
          <!-- grater than 10 days -->
          <div v-else class="d-flex align-center">
            <div>
              <!-- Overdue -->
              <div v-if="overDue">
                <EFReportCardLayout class="d-flex">
                  <EFReportCard
                    :content="cardContents"
                    :is-issue="true"
                    :over-due="true"
                    class="mr-4"
                  />
                  <EFReportCard
                    :content="cardNoDateContents"
                    type="noDate"
                    :is-issue="true"
                    :over-due="true"
                  />
                </EFReportCardLayout>
              </div>
              <div v-else-if="counter === 2">
                <EFReportCardLayout class="d-flex">
                  <EFReportCard :content="cardContents" class="mr-4" />
                </EFReportCardLayout>
              </div>
              <div v-else-if="counter === 3">
                <EFReportCardLayout class="d-flex">
                  <EFReportCard :content="cardContents" class="mr-4" />
                  <EFReportCard :content="cardNoDateContents" type="noDate" />
                </EFReportCardLayout>
              </div>
              <div v-else-if="counter === 4">
                <EFReportCardLayout class="d-flex">
                  <EFReportCard
                    :content="cardContents"
                    rejected="true"
                    is-issue="true"
                    class="mr-4"
                  />
                </EFReportCardLayout>
              </div>
            </div>
            <div class="ml-4">
              <v-card
                class="card-style d-flex justify-center align-center"
                :style="reportCardLength === 1 ? 'width: 150px' : 'width: 54px'"
                height="222"
              >
                <v-btn icon>
                  <v-img :src="require('~/assets/images/plus-icon.svg')" />
                </v-btn>
              </v-card>
            </div>
          </div>
        </div>
      </div>
      <v-btn
        color="primary"
        dark
        absolute
        bottom
        style="right: 32px"
        fab
        :disabled="counter === 5"
        @click="onNext"
      >
        <v-icon large> mdi-chevron-right </v-icon>
      </v-btn>
      <v-btn
        color="primary"
        dark
        absolute
        bottom
        style="right: 122px"
        fab
        :disabled="counter === 0"
        @click="onPrevious"
      >
        <v-icon large> mdi-chevron-left </v-icon>
      </v-btn>
    </EFContainer>
  </div>
  <div v-else-if="efNewExpenditure">
    <EFNewExpenditureContainer
      :committee="committee"
      parent-component="EFDashboard"
    />
  </div>
  <div v-else>
    <EFNewReceiptContainer parent-component="EFDashboard" />
  </div>
</template>

<script>
import { IS_UI_ONLY } from '../../constants/const';
import EFNewExpenditureContainer from '../expenditures/EFNewExpenditureContainer.vue';
import EFNewReceiptContainer from '../receipts/EFNewReceiptContainer.vue';
import Q1 from '~/assets/images/Q1.vue';
import YE from '~/assets/images/YE.vue';
import EFReportCardLayout from '~/components/dashboard/EFReportCardLayout.vue';
import { accessor } from '~/store';
import { ExpenditureType } from '~/api/electafile-api/types/expenditure';

import { committeeUtils } from '~/utils';

export default {
  components: {
    EFReportCardLayout,
    EFNewExpenditureContainer,
    EFNewReceiptContainer,
  },
  setup() {},
  data() {
    return {
      efDashboard: true,
      efNewExpenditure: false,
      efNewReceipt: false,
      expenditureList: ExpenditureType,
      committee: {},

      user: {
        name: 'Electa file',
        // image: 'https://cdn.vuetifyjs.com/images/john.jpg'
      },
      dashBoardBannerContents: {
        header: 'NC Statewide General Elections',
        dividers: [
          { title: 'Committee', subtitle: 'Ronald Richards Committee' },
          { title: 'Committee ID', subtitle: 'STA-123456-C-001' },
        ],
        inCard: [
          { title: 'Primary', date: 'Mar 8, 2022' },
          { title: 'General', date: 'Nov 8, 2020' },
        ],
        linkText: 'NC Board of Elections',
        linkUrl: '',
      },
      reportCardLength: 2,
      recordCard: [
        {
          id: 0,
          image: require('~/assets/images/add-receipt.svg'),
          title: 'Add Receipt',
          subtitle: 'General Contribution, Loan Proceed, Interest',
        },
        {
          id: 1,
          image: require('~/assets/images/add-expenditure.svg'),
          title: 'Add Expenditure',
          subtitle: 'Operating Expense, Coordinated Party Expenditure',
        },
      ],
      cardContents: {
        image: Q1,
        title: 'Year-End Semiannual',
        dueDate: 'January 27',
      },
      cardContentsless10days: {
        image: Q1,
        title: 'Organizational',
        dueDate: 'January 10',
      },
      cardNoDateContents: {
        image: YE,
        title: '48-Hour Notice',
        subtitle:
          'There’s a contribution of $1,000 or more that must be reported within 48 hours',
      },
      committeOrganized:
        'Fri Sep 17 2021 10:26:03 GMT+0600 (Bangladesh Standard Time)',
      electionCycleEnded: true,
      overDue: false,
      rejected: false,
      counter: 0,
      dialog: false,
      modalContent: {
        title: 'Current Election Cycle',
        image: require('~/assets/images/current-election.svg'),
        subText:
          'This is the current election cycle for State and County elections. The reports will be filed for this cycle.',
      },
    };
  },
  beforeMount() {
    this.$nuxt.$on('backToHome', () => {
      if (this.efNewExpenditure) {
        alert('Expenditure added successfully');
      } else if (this.efNewReceipt) {
        alert('Receipt added successfully');
      }
      this.reset();
    });
    this.$nuxt.$on('EFDashboard', () => {
      this.reset();
    });
  },
  mounted() {
    // console.log('mounted')
    if (IS_UI_ONLY) {
      return;
    }

    const token = this.$auth.strategy.token.get();
    if (!token) {
      this.$router.push({
        path: '/login',
      });
      return;
    }

    this.getUserData();
  },
  beforeDestroy() {
    this.$nuxt.$off('backToHome');
    this.$nuxt.$off('EFDashboard');
  },
  methods: {
    addExpenditure() {
      this.efDashboard = false;
      this.efNewExpenditure = true;
      // check users committee type and redirect to the EFNewExpenditure component
      // const usersCommitteeType = 'party';
      // const usersCommitteeType = 'pac';
      this.committee = { options: this.expenditureList };
    },
    addReceipt() {
      this.efDashboard = false;
      this.efNewReceipt = true;
    },
    reset() {
      this.efDashboard = true;
      this.efNewExpenditure = false;
      this.efNewReceipt = false;
      this.expenditureList = ExpenditureType;
      this.committee = {};
    },
    onElectionBUtton() {
      // console.log('On election')
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false;
    },
    async getUserData() {
      console.log('>>> getUserData');

      await accessor.restored;
      const UserModule = accessor.user;
      try {
        await UserModule.getUserData(accessor.user.email);
      } catch (e) {}

      // if (accessor.user.committee_type === '') {
      //   await this.logout();
      //   return;
      // }

      if (!accessor.user.is_committee_completed) {
        await this.$router.push({
          path: committeeUtils.getPathName(accessor.user.committee_type),
        });
      }
    },
    onNext() {
      this.counter++;
      if (this.counter === 0) {
        this.electionCycleEnded = true;
      } else if (this.counter === 1) {
        this.electionCycleEnded = false;
        this.dashBoardBannerContents.dividers[1].subtitle = ' - ';
      } else if (this.counter === 2) {
        this.dashBoardBannerContents.dividers[1].subtitle = 'STA-123456-C-001';
        this.reportCardLength = 1;
      } else if (this.counter === 3) {
        this.reportCardLength = 2;
        this.cardContents = {
          image: Q1,
          title: 'First Quarter',
          dueDate: 'February 28',
        };
      } else if (this.counter === 4) {
        this.reportCardLength = 1;
      } else if (this.counter === 5) {
        this.reportCardLength = 2;
        this.overDue = true;
      }
    },
    onPrevious() {
      this.counter--;
      if (this.counter === 0) {
        this.dashBoardBannerContents.dividers[1].subtitle = 'STA-123456-C-001';
        this.electionCycleEnded = true;
      }
      if (this.counter === 1) {
        this.dashBoardBannerContents.dividers[1].subtitle = ' - ';
      }
      if (this.counter === 1) {
        this.dashBoardBannerContents.dividers[1].subtitle = ' - ';
      } else if (this.counter === 2) {
        this.reportCardLength = 1;
      } else if (this.counter === 3) {
        this.reportCardLength = 2;
        this.cardContents = {
          image: Q1,
          title: 'Year-End Semiannual',
          dueDate: 'January 27',
        };
      } else if (this.counter === 4) {
        this.reportCardLength = 1;
        this.overDue = false;
      } else if (this.counter === 5) {
        this.reportCardLength = 2;
        this.overDue = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.v-menu__content {
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(89, 103, 128, 0.16);
}
.text_small {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.card-style {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--black-squeeze);
  box-sizing: border-box;
  border-radius: 9px;
}
.record-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--biscay);
}
.report-text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--comet);
}
.button-small {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Biscay */
  color: var(--biscay);
}
</style>
