<template>
  <div>
    <v-dialog
      v-if="newReport"
      v-model="dialog"
      width="900"
      overlay-color="var(--biscay)"
      overlay-opacity="0.85"
      content-class="rounded-dialog"
    >
      <v-card class="card pt-7 pb-10">
        <div class="mb-4 pl-10 pr-8 d-flex justify-space-between align-center">
          <div class="title_h3">Select Report</div>
          <div>
            <v-btn icon @click="dialog = false">
              <v-icon color="#909FBA"> mdi-close </v-icon>
            </v-btn>
          </div>
        </div>
        <div v-for="(report, i) in reportType" :key="i" class="mx-10 mt-6">
          <div class="small_text mb-2 d-flex justify-space-between">
            <div>{{ report.type.label }}</div>
            <div v-if="i === 0">Submission Cost</div>
          </div>
          <div>
            <EFReportRow :report="report" />
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { ReportType } from '../../api/electafile-api/types/reports';
export default {
  data() {
    return {
      dialog: true,
      reportType: ReportType,
      newReport: true,
    };
  },
  methods: {
    closeModal() {
      this.dialog = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  background: #f6f7fb;
  /* DD Big Box */

  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1);
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  /* Biscay */

  color: var(--biscay);
}
.small_text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;

  /* Bali Hai */

  color: var(--bali-hai);
}
</style>
