<template>
  <v-dialog
    v-model="visibleDelete"
    width="450"
    overlay-color="var(--whisper)"
    content-class="rounded-dialog"
    @click:outside="handleDelete"
  >
    <v-card class="card pt-7 pb-10">
      <div class="pl-12 pr-8 d-flex justify-space-between align-center">
        <div class="title_h3">Delete Report</div>
        <div>
          <v-btn icon @click="handleDelete">
            <v-icon color="#909FBA"> mdi-close </v-icon>
          </v-btn>
        </div>
      </div>
      <div class="mx-12 mt-8">
        <div class="data-text mb-8">
          Are you sure you want to delete this report?
        </div>
      </div>
      <div class="text-center mt-10">
        <v-btn large class="cancel-button elevation-0" @click="handleDelete">
          <span class="cancel-text">Cancel</span>
        </v-btn>
        <EFButton class="mx-4" large @el-onclick="handleDelete">
          Yes, delete
        </EFButton>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
    },
    handleDelete: {
      type: Function,
    },
  },
  data() {
    return {
      visibleDelete: this.dialog,
    };
  },

  watch: {
    // This would be called anytime the value of dialog changes
    dialog(newValue) {
      this.visibleDelete = newValue;
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Biscay */

  color: var(--biscay);
}
.data-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Big Stone */

  color: var(--big-stone);
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
</style>
