<template>
  <div>
    <EFContainer v-if="EFReportsList" title="Reports">
      <EFCard>
        <v-row class="mt-6 mx-4" no-gutters>
          <v-col cols="12" md="4">
            <div v-if="deleteButton" @click="onMultiDelete">
              <v-btn text class="delete-text">Delete Selected</v-btn>
            </div>
            <div v-else @click="addReport">
              <EFButton large icon="mdi-plus"> New Report </EFButton>
            </div>
          </v-col>
          <v-col cols="12" md="8">
            <EFForm name="seacrh" :items="items" />
          </v-col>
        </v-row>
        <EFDataTables
          :flat="true"
          :items="indexedItems"
          :table-headers="tableHeaders"
          :reports="true"
          @delete="onDelete"
          @deleteSelected="deleteSelected"
          @fileModal="openFileModal"
        />

        <component :is="newReportModal" />

        <EFReportsDeleteModal :dialog="dialog" :handle-delete="handleDelete" />

        <component :is="fileModal" />
      </EFCard>
    </EFContainer>
    <div v-else-if="selectedReport">
      <EFReport :report="selectedReport" parent-component="EFReportsList" />
    </div>
    <!--    <div v-else-if="selectedReportType === ReportTypeKey.QUARTER">-->
    <!--      <EFFirstQuarter parent-component="EFReportsList" />-->
    <!--    </div>-->
    <!--    <div v-else-if="selectedReportType === ReportTypeKey.FORTY_EIGHT_HRS_NOTICE">-->
    <!--      <EF48hourNotice parent-component="EFReportsList" />-->
    <!--    </div>-->
    <!--    <div v-else-if="selectedReportType === ReportTypeKey.ORGANIZATIONAL">-->
    <!--      <EFOrganizational parent-component="EFReportsList" />-->
    <!--    </div>-->
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFForm from '../EFForm/EFForm.vue';
import {
  ReportStatusKey,
  ReportTypeKey,
} from '../../api/electafile-api/types/reports';
import EFReportsDeleteModal from './EFReportsDeleteModal.vue';
// import EFFirstQuarter from './remove/section/EFFirstQuarter.vue';
// import EF48hourNotice from './remove/annual/48-hour-notice/EF48hourNotice.vue';
// import EFOrganizational from './remove/annual/organizational/EFOrganizational.vue';
import EFReport from './report/EFReport';

export default {
  components: {
    EFCard,
    EFForm,
    EFReportsDeleteModal,
    EFReport,
    // EFFirstQuarter,
    // EF48hourNotice,
    // EFOrganizational,
  },
  data() {
    return {
      ReportStatusKey,
      ReportTypeKey,
      // TODO: refactor
      EFReportsList: true,
      selectedReport: null,
      // firstQuarter: false,
      // notice48hour: false,
      // organizational: false,
      dialog: false,
      items: [
        {
          cols: 2,
        },
        {
          id: 0,
          type: 'text',
          placeholder: 'Search',
          cols: 5,
          disabled: false,
        },
        {
          id: 1,
          type: 'text',
          placeholder: 'Type: All',
          cols: 5,
          disabled: true,
        },
      ],

      tableHeaders: [
        {
          text: 'Year',
          align: 'start',
          sortable: false,
          value: 'year',
        },
        {
          text: 'Type',
          value: 'type',
          sortable: false,
        },
        {
          text: '',
          value: 'additional',
          sortable: false,
        },
        {
          text: 'Start Date',
          value: 'startDate',
          sortable: false,
        },
        {
          text: 'End Date',
          value: 'endDate',
          sortable: false,
        },
        {
          text: 'Status',
          value: 'status',
          sortable: false,
        },
        {
          text: 'Last Modified',
          value: 'lastModified',
          sortable: false,
        },
        { value: 'actions', sortable: false },
      ],
      tableItems: [
        {
          year: '2022',
          type: ReportTypeKey.QUARTER, // 'Third Quarter',
          additional: 'Amendment',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.READY,
          issue: false,
          lastModified: '02-25-2022',
        },
        {
          year: '2022',
          type: ReportTypeKey.FORTY_EIGHT_HRS_NOTICE,
          additional: 'Amendment',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.ACCEPTED,
          issue: false,
          lastModified: '02-25-2022',
        },
        {
          year: '2022',
          type: ReportTypeKey.QUARTER, // 'Second Quarter',
          additional: '',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.PENDING,
          issue: false,
          lastModified: '02-25-2022',
        },
        {
          year: '2022',
          type: ReportTypeKey.QUARTER, // 'First Quarter '
          additional: '',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.DECLINED,
          issue: true,
          lastModified: '02-25-2022',
        },
        {
          year: '2022',
          type: ReportTypeKey.ORGANIZATIONAL,
          additional: '',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.SENT,
          issue: false,
          lastModified: '02-25-2022',
        },
        {
          year: '2022',
          type: ReportTypeKey.QUARTER, // 'Second Quarter',
          additional: '',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.DRAFT,
          issue: false,
          lastModified: '02-25-2022',
        },
        {
          year: '2021',
          type: ReportTypeKey.SEMI_ANNUAL, // 'Year-End Semiannual'
          additional: '',
          startDate: '02-25-2021',
          endDate: '02-25-2021',
          status: ReportStatusKey.REJECTED,
          issue: true,
          lastModified: '02-25-2022',
        },
        {
          year: '2022',
          type: ReportTypeKey.SEMI_ANNUAL, // 'Mid-Year Semiannual',
          additional: '',
          startDate: '02-25-2022',
          endDate: '02-25-2022',
          status: ReportStatusKey.ACCEPTED,
          issue: false,
          lastModified: '02-25-2022',
        },
        {
          year: '2021',
          type: ReportTypeKey.ORGANIZATIONAL, // 'Organizational (filed externally)',
          additional: '',
          startDate: '01-03-2021',
          endDate: '01-04-2021',
          status: ReportStatusKey.ACCEPTED,
          issue: false,
          lastModified: '01-04-2021',
        },
      ],
      deleteButton: false,
      deleteItems: [],
      fileModal: '',
      newReportModal: '',
    };
  },
  computed: {
    indexedItems() {
      return this.tableItems.map((item, index) => ({
        id: index,
        ...item,
      }));
    },
  },
  beforeMount() {
    this.$nuxt.$on('getInputItem', (res) => {
      console.log('get search values >>> ', res);
    });

    this.$nuxt.$on(ReportTypeKey.QUARTER, (report) => {
      this.EFReportsList = false;
      this.selectedReport = report;
    });

    this.$nuxt.$on(ReportTypeKey.SEMI_ANNUAL, (report) => {
      this.EFReportsList = false;
      this.selectedReport = report;
    });

    this.$nuxt.$on(ReportTypeKey.FORTY_EIGHT_HRS_NOTICE, (report) => {
      this.EFReportsList = false;
      this.selectedReport = report;
    });

    this.$nuxt.$on(ReportTypeKey.ORGANIZATIONAL, (report) => {
      console.log('SELECTED report: ', report);
      this.EFReportsList = false;
      this.selectedReport = report;
    });

    this.$nuxt.$on('EFReportsList', () => {
      this.EFReportsList = true;
      this.newReportModal = '';
      this.fileModal = '';
      this.selectedReport = null;
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getInputItem');
    this.$nuxt.$off(ReportTypeKey.QUARTER);
    this.$nuxt.$off(ReportTypeKey.SEMI_ANNUAL);
    this.$nuxt.$off(ReportTypeKey.FORTY_EIGHT_HRS_NOTICE);
    this.$nuxt.$off(ReportTypeKey.ORGANIZATIONAL);
    this.$nuxt.$off('EFReportsList');
  },
  methods: {
    addReport() {
      this.newReportModal = () => import('./EFNewReport.vue');
    },
    openFileModal() {
      this.fileModal = () => import('./EFReportsFileModal.vue');
    },
    handleDelete() {
      this.dialog = false;
    },
    onMultiDelete() {
      console.log('Delete items >>> ', this.deleteItems);
      this.dialog = true;
    },
    deleteSelected(selectedItems) {
      console.log('EFReportsData/ delete multiselect >>> ', selectedItems);
      if (selectedItems.length !== 0) {
        this.deleteItems = selectedItems;
        if (!this.deleteButton) {
          this.setDisabled();
        }
        this.deleteButton = true;
      } else {
        this.setDisabled();
        this.deleteButton = false;
      }
    },
    setDisabled() {
      this.items[1].disabled = !this.items[1].disabled;
      // this.items[2].disabled = !this.items[2].disabled;
    },
    onDelete(deleteItem) {
      console.log('single item delete >>> ', deleteItem);
      this.dialog = true;
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .delete-text {
    font-family: var(--font-family-page-title);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 114% */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* Biscay */

    color: var(--biscay);
  }
}
</style>
