<template>
  <div>
    <v-dialog
      v-model="dialog"
      width="542"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <v-card class="card pt-7 pb-10">
        <div class="pl-12 pr-8 text-right">
          <v-btn icon @click="closeModal">
            <v-icon color="#909FBA"> mdi-close </v-icon>
          </v-btn>
        </div>
        <div class="mx-10">
          <div class="text-center">
            <div class="title_h2">Your Report Will Be Filed Soon</div>
            <img class="my-6" src="~/assets/images/report-status.svg" alt="" />
            <div class="data-text black-pearl">
              Let us process your payment and then, we will file your report
              shortly.
            </div>
          </div>
          <v-card
            flat
            color="rgba(42, 111, 242, 0.1)"
            class="mt-8 pa-5 rounded-lg d-flex align-center"
          >
            <div class="mr-6">
              <img src="~/assets/images/misc-icon.svg" alt="" />
            </div>
            <div class="data-text big-stone">
              <div>
                Additionally, you must
                <span class="text-bold">sign and mail</span> the report cover to
                your Board of Elections.
              </div>
              <div class="mt-3">
                Mailing address and instructions can be found on the
                <span class="dodger-blue"
                  >website of the Board of Elections.</span
                >
              </div>
            </div>
          </v-card>
          <div class="my-10">
            <v-btn
              outlined
              width="462"
              height="54"
              class="reportButton elevation-0"
            >
              <img
                class="text-left"
                src="~/assets/images/download-icon.svg"
                alt=""
              />
              <div class="button-medium mx-auto">Report Cover</div>
            </v-btn>
          </div>
          <div class="text-center">
            <EFButton
              type="secondary"
              class="mx-4"
              large
              @el-onclick="closeModal"
            >
              Got it
            </EFButton>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: true,
    };
  },
  methods: {
    closeModal() {
      this.dialog = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Biscay */

  color: var(--biscay);
}
.data-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.black-pearl {
  /* Black Pearl */
  color: var(--black-pearl);
}
.big-stone {
  /* Big Stone */
  color: var(--big-stone);
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.dodger-blue {
  color: var(--dodger-blue);
}
.text-bold {
  font-weight: bold;
}
.title_h2 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  /* Biscay */
  color: var(--biscay);
}
.reportButton {
  background: rgba(255, 255, 255, 0.5);
  /* Black Squeeze */
  border: 2px solid var(--black-squeeze);
  border-radius: 9px;
}
.button-medium {
  /* Button/Medium */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Biscay */
  color: var(--biscay);
}
.v-btn:hover:before {
  color: var(--white);
}
// .v-btn:focus:before
</style>
