<template>
  <div>
    <div class="login">
      <nuxt-link v-if="signup" to="/onboarding">
        <div style="color: white" class="button-small">CREATE ACCOUNT</div>
      </nuxt-link>
      <div v-else class="avatar d-flex justify-center align-center">
        <div class="avatar-text">K</div>
      </div>
    </div>
    <div>
      <EFFormTitle title="Login" />
      <div class="text-center mt-5 subtext">It's nice to see you again</div>
      <div style="margin-top: 31px; width: 400px">
        <EFForm name="login" :items="items">
          <template #default="{ valid }">
            <div class="pr-2">
              <EFButton
                large
                block
                :valid="valid"
                :disabled="!valid"
                type="primary"
                @click="login"
              >
                Login
              </EFButton>
            </div>
          </template>
        </EFForm>
      </div>
    </div>
  </div>
</template>

<script>
import authZero from '~/store/module/authZero';
import { IS_UI_ONLY } from '~/constants/const';
import { accessor } from '~/store';

export default {
  data() {
    return {
      // valid: false,
      items: [
        {
          id: 0,
          type: 'email',
          label: 'email',
          class: '',
        },
        {
          id: 1,
          type: 'password',
          label: 'Password',
          class: '',
          rules: [(v) => !!v || 'Password is required'],
        },
      ],
      welcome: false,
      signup: true,
      model: 0,
    };
  },
  mounted() {
    this.$nuxt.$on('getItem', (res) => {
      if (this.items.findIndex((itm) => itm.id === res.id) !== -1) {
        this.items[this.items.findIndex((itm) => itm.id === res.id)].value =
          res.id !== 0 ? res.value : res.value.value;
      }
    });
    this.$nuxt.$on('login', (res) => {
      if (res.isValid) {
        this.login();
      }
    });
  },
  methods: {
    async login() {
      if (IS_UI_ONLY) {
        await this.$router.push({
          path: '/',
        });
        return;
      }

      const items = this.items;
      if (items.length < 2) {
        return;
      }

      const email = items[0].value;
      const password = items[1].value;

      const data = {
        email,
        password,
      };

      try {
        const res = await authZero.login(data, this.$auth);
        await this.$auth.setUserToken(res.data.access_token);

        authZero.init(this.$auth);

        await accessor.restored;
        const UserModule = accessor.user;
        await UserModule.login(email);

        await this.$router.push({
          path: '/',
        });
      } catch (e) {
        alert('Some error occurs');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
.login {
  position: absolute;
  top: 51px;
  right: 58px;
  z-index: 5;
}

.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Big Stone */

  // color: var(--big-stone);
}
.button-small {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  /* identical to box height, or 109% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Bali Hai */

  color: var(--bali-hai);
}
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.avatar-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* White */

  color: var(--white);
}
</style>
