<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <label class="label">
        Will this person be contributing to this committee?
      </label>
      <v-item-group v-model="ConditionMode" @change="onChangeCondition">
        <v-row no-gutters>
          <v-col
            v-for="(condition, i) in conditions"
            :key="i"
            cols="12"
            md="6"
            class="mt-1"
            :class="{ 'pr-1': i === 0, 'pl-1 pr-2': i !== 0 }"
          >
            <v-item v-slot="{ active, toggle }">
              <v-card
                :color="active ? 'var(--biscay)' : 'rgba(146, 168, 210, 0.15)'"
                class="pa-3 rounded-lg"
                flat
                @click="toggle"
              >
                <div
                  :class="{ 'white--text': active }"
                  class="text-center text-color"
                >
                  {{ condition }}
                </div>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-item-group>
    </v-col>
    <v-col cols="12">
      <EFForm name="conditional" :items="items" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    treasurer: {
      type: Boolean,
      default: false,
    },
    assistant: {
      type: Boolean,
      default: false,
    },
    custodian: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      ConditionMode: null,
      conditions: ['No', 'Yes'],
      items: [],
    };
  },
  methods: {
    onChangeCondition() {
      console.log('consdition mode >> ', this.ConditionMode);
      if (this.ConditionMode === 1) {
        if (this.treasurer) {
          this.items.push(
            {
              id: 6.1,
              type: 'text',
              label: 'Job Title / Profession',
            },
            {
              id: 6.2,
              type: 'text',
              label: 'Employer’s Name / Specific Field',
              tooltip: true,
              class: 'mt-n2',
            },
          );
          this.$emit('treasurerConditionalData', this.items);
        }
        if (this.assistant) {
          this.items.push(
            {
              id: 14.1,
              type: 'text',
              label: 'Job Title / Profession',
            },
            {
              id: 14.2,
              type: 'text',
              label: 'Employer’s Name / Specific Field',
              tooltip: true,
            },
          );
          this.$emit('assistantConditionalData', this.items);
        }
        if (this.custodian) {
          this.items.push(
            {
              id: 22.1,
              type: 'text',
              label: 'Job Title / Profession',
            },
            {
              id: 22.2,
              type: 'text',
              label: 'Employer’s Name / Specific Field',
              tooltip: true,
            },
          );
          this.$emit('custodianConditionalData', this.items);
        }
      } else if (this.ConditionMode === 0) {
        if (this.items.length) {
          this.items = [];
          this.$emit('treasurerConditionalData', this.items);
          this.$emit('assistantConditionalData', this.items);
          this.$emit('custodianConditionalData', this.items);
        }
      } else {
        this.items = [];
        this.$emit('treasurerConditionalData', this.items);
        this.$emit('assistantConditionalData', this.items);
        this.$emit('custodianConditionalData', this.items);
      }
    },
  },
};
</script>
