<template>
  <div>
    <div class="d-flex align-center">
      <v-row justify="center" align="center">
        <EFFormTitle subtitle="Custodian of books" />
      </v-row>
      <div
        style="cursor: pointer"
        class="text-right mt-2"
        @click="$emit('index', 1)"
      >
        <img :src="require('~/assets/images/delete-icon.svg')" alt="" />
      </div>
    </div>
    <v-row no-gutters class="mt-4">
      <EFForm name="custodian" :items="items" />
    </v-row>
    <v-row no-gutters>
      <EFConditional
        :custodian="true"
        @custodianConditionalData="getCustodianCondition"
      />
    </v-row>
  </div>
</template>

<script>
import EFConditional from '../EFOfficers/EFConditional.vue';
import statesCities from '~/constants/states-cities';
export default {
  components: {
    EFConditional,
  },
  data() {
    return {
      items: [
        {
          id: 15,
          type: 'text',
          label: 'Full Name',
        },
        {
          id: 16,
          type: 'text',
          label: 'Mailing Address',
          placeholder: 'Street Address',
        },
        {
          id: 18,
          type: 'select',
          placeholder: 'State',
          options: Object.keys(statesCities).map((key) => {
            return { label: key, value: key };
          }),
          value: '',
          cols: 12,
          md: 5,
        },
        {
          id: 17,
          type: 'select',
          placeholder: 'City',
          options: [],
          cols: 12,
          md: 4,
        },
        {
          id: 19,
          type: 'text',
          placeholder: 'Zip',
          cols: 12,
          md: 3,
        },
        {
          id: 20,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          md: 6,
        },
        {
          id: 21,
          type: 'text',
          label: 'Email',
          md: 6,
        },
        {
          id: 22,
          type: 'checkbox',
          label: 'Email copy of notices ',
        },
      ],
    };
  },
  beforeMount() {
    this.$nuxt.$on('getItem', (res) => {
      if (res.id === 18) {
        this.items[this.items.findIndex((item) => item.id === 17)].options =
          statesCities[res.value.value];
      }
    });

    this.$nuxt.$on('getInputItem', (res) => {
      console.log('all form inputs >>> ', res);
      if (res[0].id === 15) {
        this.$emit('custodianData', res);
      }
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
    this.$nuxt.$off('getInputItem');
  },
  methods: {
    getCustodianCondition(items) {
      if (items.length) {
        this.items[8] = items[0];
        this.items[9] = items[1];
        this.$emit('custodianData', this.items);
      } else {
        this.items.splice(8, 2);
        this.$emit('custodianData', this.items);
      }
    },
  },
};
</script>

<style></style>
