<template>
  <div>
    <v-form ref="form" v-model="validity">
      <EFFormItems :items="items" @data="data">
        <template :slot-scope="{ valid }">
          <slot :valid="validity" />
        </template>
      </EFFormItems>
    </v-form>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'form',
    },
    items: {
      type: Array,
      default: () => [],
    },
    valid: {
      type: Boolean,
      default: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      validity: '',
    };
  },
  created() {
    this.validity = this.valid;
  },
  methods: {
    data(items) {
      console.log('>> all items in form component', items);
      // passing form data by form name
      this.$nuxt.$emit(this.name, {
        name: this.name,
        items,
        isValid: this.$refs.form?.validate(),
      }); // validation should work
      // this.$refs.form.reset()
    },
  },
};
</script>

<style></style>
