<template>
  <div>
    <v-row no-gutters>
      <v-col
        v-for="(item, i) in items"
        :key="i"
        class="pr-2"
        :cols="item.cols || 12"
        :sm="item.sm"
        :md="item.md"
        :lg="item.lg"
        :xl="item.xl"
      >
        <div v-if="item.customLabel" class="mt-3 text_h3">
          {{ item.customLabel }}
        </div>
        <EFTextInput
          v-if="
            item.type === 'text' ||
            item.type === 'number' ||
            item.type === 'password' ||
            item.type === 'email' ||
            item.type === 'amount' ||
            item.type === 'start_amount' ||
            item.type === 'end_amount' ||
            item.type === 'textarea' ||
            item.type === 'amountRange' ||
            item.type === 'percentage'
          "
          :key="item.id"
          :class="item.class"
          :style="item.style"
          :item="items[i]"
          :label="item.label"
          :placeholder="item.placeholder"
          :value="item.value"
          :disabled="item.disabled"
          :is-error="item.isError"
          :rules="item.rules"
          :error-messages="item.errorMessages"
          :required="item.required"
          @getItem="$nuxt.$emit('getInputItem', items)"
        />
        <EFSelectComponent
          v-if="item.type === 'select'"
          :key="item.id"
          :placeholder="item.placeholder"
          :value="item.value"
          :class="item.class"
          :style="item.style"
          :item="items[i]"
          :label="item.label"
          :items="item.options"
          :type="item.variant"
          :disabled="item.disabled"
          :rules="item.rules"
          @onChange="onChange"
        />
        <EFCheckbox
          v-if="item.type === 'checkbox'"
          :class="item.class"
          :style="item.style"
          :item="items[i]"
          :label="item.label"
          :disabled="item.disabled"
          @onChange="onChange"
        />
        <component
          :is="item.content"
          v-if="item.type === 'customItems'"
          :custom-props="item"
          @ConditionalMode="ConditionalMode"
        ></component>
      </v-col>
    </v-row>
    <div @click="$emit('data', items)">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  beforeMount() {
    this.$nuxt.$on('onPickerDelete', (val) => {
      val.item.options.splice(val.index, 1);
      // item deleted on middle or something, so reassigning the value as index
      val.item.options.forEach((el, i) => {
        el.value = i;
      });
    });
    this.$nuxt.$on('onPickerEdit', (val) => {
      val.item.options[val.index].label = val.pickerDescription;
      val.item.options[val.index].date = val.date;
    });
    this.$nuxt.$on('onPickerAdd', (val) => {
      val.item.options.push({
        label: val.label,
        value: val.value,
        date: val.date,
      });
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('onPickerDelete');
    this.$nuxt.$off('onPickerEdit');
    this.$nuxt.$off('onPickerAdd');
    this.$nuxt.$off('ConditionMode');
  },
  methods: {
    ConditionalMode(val) {
      console.log(val);
      val.item.value = val.value;
      this.$nuxt.$emit('getItem', val.item);
    },
    onChange(val) {
      // console.log('value got', val);
      val.item.value = val.selectedData;
      val.item.selected = val.selectedData;
      // @ts-ignore

      this.$nuxt.$emit('getItem', val.item);
    },
  },
};
</script>

<style lang="scss" scoped>
.text_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  /* Biscay */

  color: var(--biscay);
}
</style>
