<template>
  <div>
    <EFFormTitle
      v-if="mode === VIEW_MODE.SETTINGS"
      subsubtitle="Bank Accounts"
    />
    <v-row
      :class="[
        `ml-1 mb-2`,
        `${
          mode === VIEW_MODE.COMMITTEE
            ? `d-flex align-center justify-center`
            : ``
        }`,
      ]"
    >
      <v-col cols="12" sm="8" md="6">
        <v-row
          v-for="(n, i) in account"
          :key="i"
          justify="center"
          align="center"
        >
          <EFForm :key="refreshKey" name="account" :items="items.slice(-5)">
            <template v-if="n === account" #default="{ valid }">
              <div
                style="cursor: pointer; visibility: hidden"
                class="d-flex align-center mr-8"
                @click="addAccount"
              >
                <img
                  class="mr-3"
                  :src="require('~/assets/images/plus-icon.svg')"
                  alt=""
                />
                <div class="button-small" style="color: var(--comet)">
                  Add Account
                </div>
              </div>
              <template>
                <div
                  v-if="mode === VIEW_MODE.COMMITTEE"
                  class="text-center"
                  @click="onFinish"
                >
                  <EFButton
                    :valid="valid"
                    :disabled="!valid"
                    type="primary"
                    @el-onclick="createAccount"
                  >
                    Finish
                  </EFButton>
                </div>
                <div v-if="mode === VIEW_MODE.SETTINGS">
                  <EFButton type="primary" @el-onclick="createAccount">
                    SAVE CHANGES
                  </EFButton>
                </div>
              </template>
            </template>
          </EFForm>
        </v-row>
      </v-col>
    </v-row>
    <!-- <v-dialog
      v-model="dialog"
      width="542"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <SuccessModalWithDescription :content="successWithDescriptionModalContent" @closeDialog="dialog=false">
        <div @click="dialog=false">
          <EFButton class="secondary">
            Got it
          </EFButton>
        </div>
      </SuccessModalWithDescription>
    </v-dialog> -->
    <v-dialog
      v-model="dialog"
      width="542"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <SuccessModal
        :content="successModalContent"
        @closeDialog="dialog = false"
      >
        <div @click="dialog = false">
          <EFButton class="secondary"> Got it </EFButton>
        </div>
      </SuccessModal>
    </v-dialog>
  </div>
</template>

<script>
// import SuccessModalWithDescription from '~/components/EFCommitteSuccessModals/SuccessModalWithDescription.vue'
import { formUtils } from '../../utils/common/forms';
import SuccessModal from '~/components/EFCommitteSuccessModals/SuccessModal.vue';
import { ACCOUNT_TYPES, IS_UI_ONLY, VIEW_MODE } from '~/constants/const';
import { accessor } from '~/store';
import { AccountKeys } from '~/api/electafile-api/types/committee';

export default {
  components: {
    // SuccessModalWithDescription,
    SuccessModal,
  },
  props: {
    mode: {
      type: String,
      default: VIEW_MODE.COMMITTEE,
    },
  },
  data() {
    return {
      valid: false,
      refreshKey: Date.now(),
      VIEW_MODE,
      initialItems: [
        {
          type: 'text',
          key: AccountKeys.ACCOUNT_CODE,
          label: 'Account Code',
          tooltip: true,
        },
        {
          type: 'select',
          key: AccountKeys.ACCOUNT_TYPE,
          label: 'Account Type',
          options: ACCOUNT_TYPES,
          disabled: false,
          rules: [(v) => !!v || 'Account type is required'],
        },
        {
          key: AccountKeys.ACCOUNT_NUMBER,
          type: 'text',
          label: 'Account Number',
        },
        {
          key: AccountKeys.FIN,
          type: 'text',
          label: 'Financial Institution Name',
        },
        {
          key: AccountKeys.PURPOSE,
          type: 'text',
          label: 'Purpose',
        },
      ],
      items: [],
      account: 1,
      fieldValues: [],
      dialog: false,
      successModalContent: {
        title: 'Committee Added!',
        image: require('~/assets/images/success.svg'),
        subtext:
          '<span>If needed, you can update the committee info and download Statement of Organization in <span>',
      },
      successWithDescriptionModalContent: {
        title: 'Commettee Added!',
        hightlightTitle: 'Information for Newly Created Committees',
        highlightSubtext:
          '<span>You must <span style="font-weight: bold">sign and mail</span> the Statement of Organization form accompanied by Certification of Financial Account Information (CRO-3500) to your Board of Elections.</span><br><br><span>Mailing address and instructions can be found on the <a href="https://www.ncsbe.gov/campaign-finance/reporting-schedules" target="_blank" rel="noopener noreferrer"><span style="color: var(--dodger-blue)">website of the Board of Elections.</span></a></span>',
        statement: 'Statement of organization (completed)',
        certification: 'Certification of Financial Account Information',
        footerText:
          '<span>If needed, you can update the committee info and download Statement of Organization in <span>',
      },
    };
  },
  created() {
    const len = this.items.length;
    this.initialItems.forEach((el, i) => {
      this.items.push({ id: len + i, ...el });
    });
    // console.log(this.items)
  },
  mounted() {
    this.iniAccount();
  },
  methods: {
    addAccount() {
      // console.log('add account')
      const len = this.items.length;
      this.initialItems.forEach((el, i) => {
        this.items.push({ id: len + i, ...el });
      });
      this.account++;
      // console.log('latest items', this.items)
    },
    onFinish() {
      this.dialog = true;
      // this.$nuxt.$emit('nextTab')
    },
    async createAccount() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const AccountModule = accessor.account;
      const UserModule = accessor.user;
      try {
        const response = await AccountModule.createAccount(this.items);
        console.log('>>>> createAccount response:', response);

        if (this.mode === VIEW_MODE.COMMITTEE) {
          console.log('>>>> HERE:');
          await UserModule.completeCommittee();
          await this.$router.push({
            path: '/',
          });
          // this.$nuxt.$emit('nextTab');
        }
      } catch (e) {
        alert('Some error occurs');
      }
    },
    async iniAccount() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const AccountModule = accessor.account;
      try {
        const response = await AccountModule.getAccount();

        console.log('>>>> iniAccount response:', response);

        /* Pre-populate */
        this.items = await formUtils.buildItems(this.items, response);
        console.log('>>>> iniAccount pre-populate items:', this.items);
      } catch (e) {
        // alert('Some error occurs');
      }

      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
  },
};
</script>

<style></style>
