<template>
  <div>
    <EFFormTitle v-if="mode === VIEW_MODE.SETTINGS" subsubtitle="Committee" />
    <v-row
      :class="[
        `${
          mode === VIEW_MODE.COMMITTEE
            ? `d-flex align-center justify-center`
            : ``
        }`,
      ]"
    >
      <v-col cols="14" sm="8" md="6">
        <EFForm :key="refreshKey" name="committee" :items="items">
          <template #default="{ valid }">
            <div v-if="mode === VIEW_MODE.COMMITTEE" class="text-center">
              <EFButton :valid="valid" :disabled="!valid" type="primary">
                Continue
              </EFButton>
            </div>
            <div v-if="mode === VIEW_MODE.SETTINGS">
              <EFButton type="primary"> SAVE CHANGES </EFButton>
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formUtils } from '../../utils/common/forms';
import {
  COMMITTE_ORGANIZATION_LEVEL,
  IS_UI_ONLY,
  VIEW_MODE,
} from '~/constants/const';
import { accessor } from '~/store';
import { committeeUtils } from '~/utils';
import { AddressKeys } from '~/api/electafile-api/types/address';
import { CommitteeKeys } from '~/api/electafile-api/types/committee';

export default {
  props: {
    statesCities: {
      type: Object,
      default: () => {},
    },
    countyList: {
      type: Array,
      default: () => [],
    },
    mode: {
      type: String,
      default: VIEW_MODE.COMMITTEE,
    },
  },

  data() {
    return {
      valid: false,
      refreshKey: Date.now(),
      VIEW_MODE,
      items: [
        {
          id: 0,
          key: CommitteeKeys.COMMITTEE_NAME,
          type: 'text',
          label: 'Committee Name',
          hint: 'Registered name that will be shown in your reports',
          class: 'mb-3',
        },
        {
          id: 1,
          key: CommitteeKeys.ELECTION_ID,
          type: 'text',
          label: 'North Carolina Board of Elections ID',
          hint: 'Ex.: STA-123456-C-001. Leave empty if you haven’t gotten it yet.',
          class: 'mb-3',
        },
        {
          id: 2,
          key: CommitteeKeys.ORGANIZATIONAL_LEVEL,
          type: 'select',
          label: 'Committee Organization Level',
          options: COMMITTE_ORGANIZATION_LEVEL,
          disabled: false,
          rules: [(v) => !!v || 'Committee organization level is required'],
        },
        {
          id: 3,
          key: CommitteeKeys.DATE_ORGANIZED,
          type: 'select',
          variant: 'datepicker', // variant for datepicker
          label: 'Date organized',
          rules: [(v) => !!v || 'Date is required'],
        },
        {
          id: 4,
          key: AddressKeys.STREET,
          parent_key: 'address',
          type: 'text',
          label: 'Mailing Address',
          placeholder: 'Street Address',
        },
        // Define column for screen if needed - cols sm md lg xl
        {
          id: 6,
          key: AddressKeys.STATE,
          parent_key: 'address',
          type: 'select',
          options: Object.keys(this.statesCities).map((key) => {
            return { label: key, value: key };
          }),
          disabled: false,
          placeholder: 'State',
          value: '',
          // selected: "NC",
          rules: [(v) => !!v || 'State is required'],
          cols: 12,
          md: 5,
        },
        {
          id: 5,
          key: AddressKeys.CITY,
          parent_key: 'address',
          type: 'select',
          placeholder: 'City',
          options: [],
          value: '',
          rules: [], // [(v) => !!v || 'City is required'], //TODO: return
          cols: 12,
          md: 4,
        },
        {
          id: 7,
          key: AddressKeys.ZIP,
          parent_key: 'address',
          type: 'text',
          placeholder: 'Zip',
          cols: 12,
          md: 3,
        },
        {
          id: 8,
          key: CommitteeKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          value: '+1',
        },
        {
          id: 9,
          key: CommitteeKeys.WEBSITE,
          type: 'text',
          label: 'Website',
        },
      ],
    };
  },
  mounted() {
    this.$nuxt.$on('getItem', (res) => {
      if (res.id === 2 && res.value?.value === AddressKeys.COUNTY) {
        const isExists = this.items.find((item) => {
          return item.key === AddressKeys.COUNTY;
        });
        if (!isExists) {
          this.generateCountyField('');
        }
      } else {
        // if Committee Organization Level === State then hide country list
        const indexOfCountyField = this.items.findIndex(
          (itm) => itm.id === 3.2,
        );
        if (indexOfCountyField !== -1 && res.id === 2) {
          this.items.splice(indexOfCountyField, 1);
        }
      }
      if (res.id === 6) {
        console.log('===== committee res value:', res);
        this.items[this.items.findIndex((item) => item.id === 6)].value =
          res.value;
        for (const x in this.statesCities) {
          if (x === res.value?.value) {
            this.items[this.items.findIndex((item) => item.id === 5)].options =
              this.statesCities[x];
          }
        }
      }
    });

    this.$nuxt.$on('committee', (res) => {
      console.log('HERE form value get', res);
      // this.showSnackbar({ message: 'Some error occurs', error: true });
      if (res.isValid) {
        this.createCommittee();
        //  this.$nuxt.$emit('nextTab');
      }
    });

    this.initCommittee();
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
    this.$nuxt.$off('committee');
  },
  methods: {
    generateCountyField(selected) {
      this.items.splice(3, 0, {
        id: 3.2,
        data: selected,
        key: AddressKeys.COUNTY,
        parent_key: 'address',
        type: 'select',
        label: 'County',
        selected,
        options: this.countyList,
        rules: [(v) => !!v || 'County is required'],
        value: selected,
        cols: 12,
        md: 12,
      });
    },
    async createCommittee() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const CommitteeModule = accessor.committee;
      console.log('POST createCommittee: ', this.items);

      try {
        const res = await CommitteeModule.createCommittee(this.items);
        console.log('HERE createCommittee: ', res);
        if (this.mode === VIEW_MODE.COMMITTEE) {
          this.$nuxt.$emit('nextTab');
        }
      } catch (e) {
        this.showSnackbar({ message: 'Some error occurs', error: true });
      }
    },
    addCounty(data) {
      if (data.committee_organization_level === AddressKeys.COUNTY) {
        const isExists = committeeUtils.findItem(
          this.items,
          AddressKeys.COUNTY,
        );
        if (isExists) {
          return;
        }

        if (data.address.county !== '') {
          const selected = committeeUtils.buildSelector(
            AddressKeys.COUNTY,
            data.address.county,
          );

          this.generateCountyField(selected);
        }
      }
    },
    async initCommittee() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const CommitteeModule = accessor.committee;
      try {
        const response = await CommitteeModule.getCommittee();
        console.log('>>>> initCommittee response:', response);

        /* Pre-populate */
        this.items = formUtils.buildItems(this.items, response);
        console.log('>>>> initCommittee pre-populate items:', this.items);
        this.addCounty(response);
      } catch (e) {
        // this.showSnackbar({ message: 'Some error occurs', error: true });
      }
      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
    showSnackbar(data) {
      this.$nuxt.$notifier.showMessage({
        message: data.message,
        error: data.error,
      });
    },
  },
};
</script>
