<template>
  <v-col>
    <v-row justify="center" align="center">
      <EFTextInput label="Mailing Address" value="Street Address" />
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="6" style="padding: 0">
        <EFTextInput label="" value="City" />
      </v-col>
      <v-col cols="3">
        <EFSelectComponent :items="['NY']" label="" value="NY" />
      </v-col>
      <v-col cols="3" style="padding: 0">
        <EFTextInput label="" value="Zip" />
      </v-col>
    </v-row>
  </v-col>
</template>
