<template>
  <div>
    <EFFormTitle v-if="mode === VIEW_MODE.SETTINGS" subsubtitle="Officers" />
    <v-form ref="entireForm" v-model="valid">
      <v-row class="mt-3 mb-4" :justify="justify" :align="align">
        <v-col cols="12" sm="8" md="6">
          <v-row justify="center" align="center">
            <EFFormTitle
              v-if="mode === VIEW_MODE.COMMITTEE"
              subtitle="Treasurer"
            />
            <EFFormTitle
              v-if="mode === VIEW_MODE.SETTINGS"
              minititle="Treasurer"
            />
          </v-row>
        </v-col>
      </v-row>
      <v-row class="mt-3 ml-1 mb-4" :justify="justify" :align="align">
        <v-col cols="12" sm="8" md="6">
          <v-row :justify="justify" :align="align">
            <EFForm :key="refreshKey" name="officers" :items="items">
              <template>
                <div v-if="mode === VIEW_MODE.SETTINGS">
                  <EFButton type="primary" @el-onclick="onContinue">
                    SAVE CHANGES
                  </EFButton>
                </div>
              </template>
            </EFForm>
          </v-row>
          <v-row>
            <EFConditional
              :treasurer="true"
              @treasurerConditionalData="getTreasurerCondition"
            />
          </v-row>
          <v-row v-for="(component, i) in componentsData" :key="i">
            <component
              :is="component.name"
              @index="getIndex"
              @assistantData="getAssistant"
              @custodianData="getCustodian"
            />
          </v-row>
          <v-row>
            <div
              v-for="(addButton, i) in addButtons"
              :key="i"
              style="cursor: pointer"
              @click="addMore(i)"
            >
              <div
                v-if="(i === 0 && !assistant) || (i === 1 && !custodian)"
                class="d-flex align-center mr-7"
              >
                <img
                  class="mr-3"
                  :src="require('~/assets/images/plus-icon.svg')"
                  alt=""
                />
                <div class="button-small">{{ addButton }}</div>
              </div>
            </div>
          </v-row>
          <div v-if="mode === VIEW_MODE.COMMITTEE" class="text-center mt-16">
            <EFButton
              :disabled="!valid"
              type="primary"
              @el-onclick="onContinue"
            >
              Continue
            </EFButton>
          </div>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import EFConditional from '../committee/EFOfficers/EFConditional.vue';
import EFAssistantTreasurer from '../committee/EFOfficers/EFAssistantTreasurer.vue';
import EFCustodian from '../committee/EFOfficers/EFCustodian.vue';

import { formUtils } from '../../utils/common/forms';
import { accessor } from '~/store';
import { IS_UI_ONLY, VIEW_MODE } from '~/constants/const';
import { AddressKeys } from '~/api/electafile-api/types/address';
import { OfficerKeys } from '~/api/electafile-api/types/committee';

export default {
  components: {
    EFConditional,
  },
  props: {
    statesCities: {
      type: Object,
      default: () => {},
    },
    mode: {
      type: String,
      default: VIEW_MODE.COMMITTEE,
    },
    justify: {
      type: String,
      default: 'center',
    },
    align: {
      type: String,
      default: 'center',
    },
  },
  data() {
    return {
      valid: false,
      refreshKey: Date.now(),
      VIEW_MODE,

      addButtons: ['Assistant Treasurer', 'Custodian of Books'],
      custodian: false,
      assistant: false,
      componentsData: [],
      items: [
        {
          id: 0,
          key: OfficerKeys.FULL_NAME,
          type: 'text',
          label: 'Full Name',
        },
        {
          id: 1,
          key: AddressKeys.STREET,
          parent_key: 'address',
          type: 'text',
          label: 'Mailing Address',
          placeholder: 'Street Address',
        },
        {
          id: 3,
          key: AddressKeys.STATE,
          parent_key: 'address',
          type: 'select',
          placeholder: 'State',
          options: Object.keys(this.statesCities).map((key) => {
            return { label: key, value: key };
          }),
          value: '',
          disabled: false,
          selected: 'NC',
          cols: 12,
          md: 5,
        },
        {
          id: 2,
          key: AddressKeys.CITY,
          parent_key: 'address',
          type: 'select',
          placeholder: 'City',
          options: [],
          rules: [], // [(v) => !!v || 'City is required'], //TODO; return
          cols: 12,
          md: 4,
        },
        {
          id: 4,
          key: AddressKeys.ZIP,
          parent_key: 'address',
          type: 'text',
          placeholder: 'Zip',
          cols: 12,
          md: 3,
        },
        {
          id: 5,
          key: OfficerKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          md: 6,
        },
        {
          id: 6,
          key: OfficerKeys.EMAIL,
          type: 'text',
          label: 'Email',
          md: 6,
        },
      ],
      assistantItems: [],
      custodianItems: [],
      treasurer: false,
      assistantTreasurer: false,
    };
  },
  mounted() {
    this.initOfficers();

    this.$nuxt.$on('getItem', (res) => {
      if (res.id === 3) {
        console.log('===== one officers res value:', res);
        this.items[this.items.findIndex((item) => item.id === 2)].options =
          this.statesCities[res.value.value];
      }
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
  },
  methods: {
    getTreasurerCondition(items) {
      if (items.length) {
        this.items[7] = items[0];
        this.items[8] = items[1];
      } else {
        this.items.splice(7, 2);
      }
    },
    getAssistant(items) {
      console.log('Assistant items >>>> ', items);
      this.assistantItems = items;
    },
    getCustodian(items) {
      console.log('Custodian items >>>> ', items);
      this.custodianItems = items;
    },
    getIndex(idx) {
      console.log('delete >>>', idx);
      const componentIndex = this.componentsData.findIndex(
        (el) => el.index === idx,
      );
      this.componentsData.splice(componentIndex, 1);
      idx === 0 ? (this.assistant = false) : (this.custodian = false);
      if (idx === 0) {
        this.assistant = false;
        this.assistantItems = [];
      } else {
        this.custodian = false;
        this.custodianItems = [];
      }
    },
    addMore(index) {
      console.log('add >>> ', index);
      if (index === 0) {
        this.assistant = true;
        this.componentsData.push({
          name: EFAssistantTreasurer,
          index: 0,
        });
      } else {
        this.custodian = true;
        this.componentsData.push({
          name: EFCustodian,
          index: 1,
        });
      }
    },

    async onContinue() {
      console.log(
        'Continue | officers items >>> ',
        this.items,
        'assistant items >>> ',
        this.assistantItems,
        'custodian items >>> ',
        this.custodianItems,
      );
      if (IS_UI_ONLY) {
        return;
      }

      console.log(this.valid);
      if (this.valid === true) {
        // this.$nuxt.$emit('nextTab');
      }

      await accessor.restored;
      const OfficerModule = accessor.officer;
      try {
        await OfficerModule.createOfficer(this.items);
        if (this.mode === VIEW_MODE.COMMITTEE) {
          this.$nuxt.$emit('nextTab');
        }
      } catch (e) {
        alert('Some error occurs');
      }
    },
    async initOfficers() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const OfficerModule = accessor.officer;
      try {
        const response = await OfficerModule.getOfficer();
        console.log('>>>> initOfficers response:', response);

        /* Pre-populate */
        this.items = formUtils.buildItems(this.items, response);
      } catch (e) {
        // alert('Some error occurs');
      }

      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .label {
    font-family: var(--font-family-callout);
    font-style: var(--font-style-callout);
    font-weight: var(--font-weight-callout);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--comet);
  }
  .text-color {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;

    /* Comet */
    color: var(--comet);
  }
  .button-small {
    font-family: var(--font-family-page-title);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 114% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* Bali Hai */

    color: var(--bali-hai);
  }
}
</style>
