<template>
  <div class="d-flex">
    <v-row class="d-flex flex-column" no-gutters>
      <v-card
        elevation="0"
        width="462"
        height="125"
        class="mx-auto inner-card py-3 pl-6"
      >
        <v-row>
          <v-col cols="6">
            <div class="caption mb-1">Committee Name</div>
            <div class="subtext">Ronald Richards Committee</div>
            <div class="caption mt-4 mb-1">Report Period Start Date</div>
            <div class="subtext">01-05-2022</div>
          </v-col>
          <v-col cols="6">
            <!-- <div class="caption mb-1">Board of Elections ID</div>
              <div class="subtext">STA-123456-C-001</div> -->
            <div class="caption mt-4 pt-11 mb-1">Report Period End Date</div>
            <div class="subtext">02-19-2022</div>
          </v-col>
        </v-row>
      </v-card>
      <div class="mx-auto">
        <EFForm
          class="form-class mt-4"
          name="ReportTypeKey.DRAFT"
          :items="DraftItems"
        />
      </div>
    </v-row>
    <div class="">
      <v-card
        elevation="0"
        width="146"
        height="146"
        class="inner-card d-flex flex-column align-center justify-center"
      >
        <div class="absolute-position">
          <img
            :src="require('~/assets/images/input-tooltip-icon.svg')"
            alt=""
          />
        </div>
        <div class="caption">Submission Cost</div>
        <div class="cost-text">$59.99</div>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      DraftItems: [
        {
          id: 0,
          type: 'text',
          label: 'North Carolina Board of Elections ID',
          hint: 'Ex.: STA-123456-C-001',
          tooltip: true,
        },
        {
          id: 1,
          type: 'text',
          label: 'Number of Fundraisers',
        },
      ],
    };
  },
};
</script>
