<template>
  <div class="d-flex justify-space-between">
    <div class="d-flex ml-5">
      <div class="mr-6">
        <div class="caption mb-1">Committee Name</div>
        <div class="subtext">Ronald Richards Committee</div>
        <div class="caption mt-4 mb-1">Report Period Start Date</div>
        <div class="subtext">01-05-2022</div>
        <div class="caption mt-4 mb-1">Number of Fundraisers</div>
        <div class="subtext">0</div>
      </div>
      <div>
        <div class="caption mb-1">Board of Elections ID</div>
        <div class="subtext">STA-123456-C-001</div>
        <div class="caption mt-4 mb-1">Report Period End Date</div>
        <div class="subtext">02-19-2022</div>
      </div>
    </div>
    <div>
      <v-card
        elevation="0"
        width="462"
        height="355"
        class="px-12 rounded-xl d-flex flex-column justify-center"
        color="#F6F7FB"
      >
        <div class="d-flex flex-column align-center">
          <img
            class="mb-6"
            :src="require('~/assets/images/report-status.svg')"
            alt="Reports status"
          />
          <div class="mb-2 title_h3 comet">Pending</div>
          <div class="pending-subtext comet mb-9">
            Please wait while we’re processing the payment
          </div>
        </div>
        <div class="">
          <div class="caption mb-1">Sent</div>
          <div class="pending-subtext black-pearl">02-20-2022, 12:10 PM</div>
        </div>
      </v-card>
    </div>
  </div>
</template>
