<template>
  <div class="d-flex justify-space-between">
    <div>
      <v-card
        elevation="0"
        width="462"
        height="125"
        class="inner-card py-3 pl-6"
      >
        <v-row>
          <v-col cols="6">
            <div class="caption mb-1">Committee Name</div>
            <div class="subtext">Ronald Richards Committee</div>
            <div class="caption mt-4 mb-1">Report Period Start Date</div>
            <div class="subtext">01-05-2022</div>
          </v-col>
          <v-col cols="6">
            <div class="caption mb-1">Board of Elections ID</div>
            <div class="subtext">STA-123456-C-001</div>
            <div class="caption mt-4 mb-1">Report Period End Date</div>
            <div class="subtext">02-19-2022</div>
          </v-col>
        </v-row>
      </v-card>
      <EFForm class="form-class mt-4" name="declined" :items="ReadyItems" />
    </div>
    <div>
      <v-card
        elevation="0"
        width="462"
        height="465"
        class="px-12 rounded-xl d-flex flex-column align-center justify-center"
        color="rgba(251, 64, 90, 0.05)"
      >
        <img
          class="mb-6"
          :src="require('~/assets/images/report-status-declined.svg')"
          alt="Reports status"
        />
        <div class="mb-5 title_h3 radical-red">Payment Didn’t Go Through</div>
        <v-card
          elevation="0"
          width="406"
          height="76"
          class="rounded-lg"
          style="border: 2px solid #fb405a"
        >
          <v-card
            class="text-center"
            elevation="0"
            width="402"
            height="26"
            :color="'var(--radical-red)'"
          >
            <span class="caption white--text">Reason</span>
          </v-card>
          <div class="text-center mt-3 pending-subtext black-pearl">
            Payment declined by card holder’s bank.
          </div>
        </v-card>
        <EFButton large class="rounded-lg my-6"> Try again </EFButton>
        <div class="small_text bali-hai mb-1">
          We charge a flat fee for each report or amendment submission.
        </div>
        <div class="small_text dodger-blue">Learn more about Pricing</div>
      </v-card>
    </div>
  </div>
</template>
