<template>
  <div class="d-flex justify-space-between">
    <div>
      <v-card
        elevation="0"
        width="462"
        height="125"
        class="inner-card py-3 pl-6"
      >
        <v-row>
          <v-col cols="6">
            <div class="caption mb-1">Committee Name</div>
            <div class="subtext">Ronald Richards Committee</div>
            <div class="caption mt-4 mb-1">Report Period Start Date</div>
            <div class="subtext">01-05-2022</div>
          </v-col>
          <v-col cols="6">
            <div class="caption mb-1">Board of Elections ID</div>
            <div class="subtext">STA-123456-C-001</div>
            <div class="caption mt-4 mb-1">Report Period End Date</div>
            <div class="subtext">02-19-2022</div>
          </v-col>
        </v-row>
      </v-card>
      <EFForm class="form-class mt-4" name="ready" :items="ReadyItems" />
    </div>
    <div>
      <v-card
        elevation="0"
        width="462"
        height="462"
        class="px-12 rounded-xl d-flex flex-column align-center justify-center"
        color="#F6F7FB"
      >
        <img
          class="mb-6"
          :src="require('~/assets/images/reports-status.svg')"
          alt="Reports status"
        />
        <div class="mb-7 title_h3 dodger-blue">Ready for Filing</div>
        <div class="caption mb-1">Submission Cost</div>
        <div class="mb-7 ready_cost">$59.99</div>
        <EFButton large class="rounded-lg mb-6">
          Pay and file to board of elections
        </EFButton>
        <div class="small_text bali-hai mb-1">
          We charge a flat fee for each report or amendment submission.
        </div>
        <div class="small_text dodger-blue">Learn more about Pricing</div>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ReadyItems: [
        {
          id: 0,
          type: 'text',
          label: 'Number of Fundraisers',
          value: 0,
        },
      ],
    };
  },
};
</script>
