<template>
  <div class="d-flex justify-space-between">
    <div class="d-flex ml-5">
      <div class="mr-6">
        <div class="caption mb-1">Committee Name</div>
        <div class="subtext">Ronald Richards Committee</div>
        <div class="caption mt-4 mb-1">Report Period Start Date</div>
        <div class="subtext">01-05-2022</div>
        <div class="caption mt-4 mb-1">Number of Fundraisers</div>
        <div class="subtext">0</div>
      </div>
      <div>
        <div class="caption mb-1">Board of Elections ID</div>
        <div class="subtext">STA-123456-C-001</div>
        <div class="caption mt-4 mb-1">Report Period End Date</div>
        <div class="subtext">02-19-2022</div>
      </div>
    </div>
    <div>
      <v-card
        elevation="0"
        width="462"
        height="515"
        class="px-7 rounded-xl d-flex flex-column justify-center"
        color="rgba(251, 64, 90, 0.05)"
      >
        <div class="d-flex flex-column align-center">
          <img
            class="mb-6"
            :src="require('~/assets/images/report-status-rejected.svg')"
            alt="Reports status"
          />
          <div class="mb-5 title_h3 radical-red">Rejected</div>
          <v-card
            elevation="0"
            width="406"
            height="98"
            class="rounded-lg"
            style="border: 2px solid #fb405a"
          >
            <v-card
              class="text-center"
              elevation="0"
              width="402"
              height="26"
              :color="'var(--radical-red)'"
            >
              <span class="caption white--text"
                >Board of Elections response</span
              >
            </v-card>
            <div class="mx-5 text-center mt-3 pending-subtext black-pearl">
              Start balance doesn’t match the end balance in the previous
              report.
            </div>
          </v-card>
        </div>
        <div class="d-flex mt-8 mx-3">
          <div class="mr-10">
            <div class="caption mb-1">Sent</div>
            <div class="pending-subtext black-pearl">02-20-2022, 12:10 PM</div>
          </div>
          <div>
            <div class="caption mb-1">Rejected</div>
            <div class="pending-subtext black-pearl">02-21-2022, 5:45 PM</div>
          </div>
        </div>
        <div class="d-flex justify-center mt-6">
          <EFButton large class="rounded-lg"> Edit </EFButton>
        </div>
      </v-card>
    </div>
  </div>
</template>
