<template>
  <component
    :is="
      statusItems[statusItems.findIndex((status) => status.type === type)]
        .content
    "
  ></component>
</template>

<script>
import EFReportDraft from './EFReportDraft.vue';
import EFReportReady from './EFReportReady.vue';
import EFReportPending from './EFReportPending.vue';
import EFReportDeclined from './EFReportDeclined.vue';
import EFReportSent from './EFReportSent.vue';
import EFReportAccepted from './EFReportAccepted.vue';
import EFReportRejected from './EFReportRejected.vue';
import { ReportStatusKey } from '~/api/electafile-api/types/reports';
export default {
  components: {
    EFReportDraft,
    EFReportReady,
    EFReportPending,
    EFReportDeclined,
    EFReportSent,
    EFReportAccepted,
    EFReportRejected,
  },
  props: ['type'],
  data() {
    return {
      statusItems: [
        {
          type: ReportStatusKey.DRAFT,
          content: EFReportDraft,
        },
        {
          type: ReportStatusKey.READY,
          content: EFReportReady,
        },
        {
          type: ReportStatusKey.PENDING,
          content: EFReportPending,
        },
        {
          type: ReportStatusKey.DECLINED,
          content: EFReportDeclined,
        },
        {
          type: ReportStatusKey.SENT,
          content: EFReportSent,
        },
        {
          type: ReportStatusKey.ACCEPTED,
          content: EFReportAccepted,
        },
        {
          type: ReportStatusKey.REJECTED,
          content: EFReportRejected,
        },
      ],
    };
  },
};
</script>
