<template>
  <div
    :class="type"
    class="cursor-pointer status d-flex align-center justify-center mr-1"
    @click="$emit('onStatus')"
  >
    {{ type }}
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.status {
  width: 72px;
  height: 26px;
  border-radius: 6px;

  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* TODO: we have EFStatusLabel */
.ready {
  /* Dodger Blue 10% */
  border: 2px solid rgba(42, 111, 242, 0.1);
  color: var(--dodger-blue);
}
.accepted {
  background: rgba(22, 200, 157, 0.09);
  color: var(--java);
}
.pending {
  border: 2px solid rgba(144, 159, 186, 0.1);
  color: var(--river-bed);
}
.declined {
  border: 2px solid rgba(251, 64, 90, 0.09);
  color: var(--radical-red);
}
.sent {
  background: rgba(42, 111, 242, 0.1);
  color: var(--dodger-blue);
}
.draft {
  border: 2px solid rgba(144, 159, 186, 0.1);
  color: var(--bali-hai);
}
.rejected {
  background: rgba(251, 64, 90, 0.09);
  color: var(--radical-red);
}
</style>
