<template>
  <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect opacity="0.05" x="39" y="-4" width="60" height="60" rx="16" transform="rotate(45 39 -4)" fill="#17356F"/>
    <rect x="15" y="8" width="48" height="62" rx="8" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <rect x="23" y="46" width="32" height="16" rx="3" fill="#FB405A"/>
    <path d="M35.9688 55.036H35.0688V53.044H33.4008V55.036H31.2168L34.0008 49.6H32.2248L29.4288 55.036V56.572H33.4008V58H35.0688V56.572H35.9688V55.036ZM41.4874 53.632C42.0274 53.248 42.3634 52.672 42.3634 51.892C42.3634 50.272 41.1154 49.432 39.6394 49.432C38.1634 49.432 36.9034 50.272 36.9034 51.892C36.9034 52.672 37.2514 53.248 37.7794 53.632C37.0474 54.076 36.6274 54.808 36.6274 55.66C36.6274 57.208 37.7674 58.168 39.6394 58.168C41.4994 58.168 42.6514 57.208 42.6514 55.66C42.6514 54.808 42.2314 54.076 41.4874 53.632ZM39.6394 50.992C40.2634 50.992 40.7194 51.352 40.7194 51.976C40.7194 52.588 40.2634 52.972 39.6394 52.972C39.0154 52.972 38.5594 52.588 38.5594 51.976C38.5594 51.352 39.0154 50.992 39.6394 50.992ZM39.6394 56.608C38.8474 56.608 38.2714 56.2 38.2714 55.444C38.2714 54.7 38.8474 54.292 39.6394 54.292C40.4314 54.292 41.0074 54.7 41.0074 55.444C41.0074 56.2 40.4314 56.608 39.6394 56.608ZM46.4218 52.86C45.7518 52.86 45.2318 53.11 44.9318 53.56V51H43.6418V58H44.9318V55.3C44.9318 54.43 45.4018 54.06 46.0318 54.06C46.6118 54.06 47.0218 54.41 47.0218 55.09V58H48.3118V54.93C48.3118 53.6 47.4818 52.86 46.4218 52.86Z" fill="white"/>
    <path d="M24 16.7441H38.2791" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 28.5L32 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M36 28.5L43 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M47 28.5L54 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 30.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 32.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 34.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 36.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 38.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 40.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 30.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 32.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 34.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 36.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 38.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 40.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 30.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 32.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 34.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 36.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 38.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 40.5H47" stroke="#17356F" stroke-linecap="round"/>
    <rect x="53" y="16" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect x="49" y="16" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect opacity="0.3" x="23" y="24" width="32" height="2" rx="0.5" fill="#17356F"/>
  </svg>
</template>
<script>
export default {}
</script>
