<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="4" y="11" width="42" height="22" rx="3" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <ellipse cx="25" cy="22" rx="6" ry="6.54903" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <a>
      <circle cx="11.5" cy="22" r="2" fill="#FB405A"/>
      <circle cx="38.5" cy="22" r="2" fill="#FB405A"/>
    </a>
    <path opacity="0.3" d="M41 14L43 14" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M41 30H43" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M7 14L9 14" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M7 30H9" stroke="#17356F" stroke-linecap="round"/>
  </svg>

</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.v-list-item .ef-svg-icon svg path {
  fill-opacity: 1 !important;
}
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
  stroke: var(--white)!important;
}

</style>
