<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="5" y="11" width="40" height="22" rx="3" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <path d="M15.0793 21.9503C14.7213 19.8537 11.1792 20.0686 11.1792 22.1835C11.1792 23.2644 12.109 23.6659 13.0957 23.6659C13.9148 23.6659 15.0793 24.1213 15.0793 25.3603C15.0793 27.481 11.1792 27.7553 10.8777 25.3603" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M13.0393 19.5634V20.4832" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M13.0393 27.0554V27.9753" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M22.5001 20.5H38" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M22.5001 22.5H31.0001" stroke="#17356F" stroke-linecap="round"/>
    <path d="M29.0487 29C28.6154 26.8937 31.1861 26.3642 32.3292 27.8285C34.0496 30.0325 35.8664 26.0733 35.593 27.2448C35.3197 28.4162 38.3598 27.8887 40 27.5958" stroke="#17356F" stroke-linecap="round"/>
    <a>
      <rect x="20" y="15" width="21" height="2" rx="0.5" fill="#FB405A"/>
    </a>
  </svg>

</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.v-list-item .ef-svg-icon svg path {
  fill-opacity: 0 !important;
}

.v-list-item .ef-svg-icon svg rect {
  fill-opacity: 1 !important;

}
////checkDefault, debitCard, inKindDefault
.v-list-item .ef-svg-icon svg a rect {
  fill-opacity: 1 !important;
  fill: var(--radical-red) !important;
  stroke: var(--radical-red) !important;

}
///
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}

</style>
