<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="8" y="10" width="34" height="24" rx="3" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <a>
      <rect x="8.74988" y="15" width="32.5002" height="5" fill="#FB405A"/>
    </a>
    <path opacity="0.3" d="M13 25.5H23.0039" stroke="#17356F" stroke-linecap="round"/>
    <path d="M33 27H37" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M35 25L35 29" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M13 28.5H19" stroke="#17356F" stroke-linecap="round"/>
  </svg>
</template>

<script>
export default {}
</script>
<style lang="scss" scoped>

.v-list-item .ef-svg-icon svg path {
  fill-opacity: 0 !important;
}
////checkDefault, debitCard, inKindDefault
.v-list-item .ef-svg-icon svg a rect {
  fill-opacity: 1 !important;
  fill: var(--radical-red) !important;
  stroke: var(--radical-red) !important;
}
/////
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
  fill: var(--radical-red) !important;
}
</style>
