<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="5" y="11" width="40" height="22" rx="3" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <path d="M39.7016 20.181C39.3436 18.0844 35.8016 18.2994 35.8016 20.4143C35.8016 21.4951 36.7313 21.8966 37.718 21.8966C38.5372 21.8966 39.7016 22.352 39.7016 23.591C39.7016 25.7117 35.8016 25.986 35.5 23.591" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M37.6616 17.7941V18.714" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M37.6616 25.2861V26.206" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M10 21.5H22.4999" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M10 27.5L30.5 27.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M10 24.5H15.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M18.5 24.5L21.5 24.5" stroke="#17356F" stroke-linecap="round"/>
    <a>
      <rect x="9" y="15" width="19" height="2" rx="0.5" fill="#FB405A"/>
    </a>

  </svg>

</template>

<script>
export default {}
</script>
<style lang="scss" scoped>

.v-list-item .ef-svg-icon svg rect {
  fill-opacity: 1 !important;
}

.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 1 !important;
  stroke: var(--white) !important;
}

.v-list-item--active .ef-svg-icon svg a rect {
  fill-opacity: 1 !important;
  fill: var(--radical-red) !important;
  stroke: var(--radical-red) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 1 !important;
  fill: var(--biscay) !important;
  stroke: var(--white) !important;
}
</style>
