<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="25" cy="21" r="12" fill="white"/>
    <path d="M39 21C39 18.2311 38.1789 15.5243 36.6406 13.222C35.1022 10.9197 32.9157 9.12531 30.3576 8.06569C27.7994 7.00606 24.9845 6.72881 22.2687 7.26901C19.553 7.8092 17.0584 9.14257 15.1005 11.1005C13.1426 13.0584 11.8092 15.553 11.269 18.2687C10.7288 20.9845 11.0061 23.7994 12.0657 26.3576C13.1253 28.9157 14.9197 31.1022 17.222 32.6406C19.5243 34.1789 22.2311 35 25 35" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M28.0001 18.4024C27.4888 15.4084 22.4306 15.7153 22.4306 18.7355C22.4306 20.279 23.7584 20.8524 25.1674 20.8524C26.3372 20.8524 28.0001 21.5027 28.0001 23.2721C28.0001 26.3004 22.4306 26.6921 22 23.2721" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M25.0868 14.9937V16.3073" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M25.0868 25.6927V27.0063" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M25 35H42.5" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M40 32L43 35L40 38" stroke="#17356F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <rect class="eft" x="7" y="6" width="13" height="13" rx="6.5" fill="#FB405A"/>
    <path d="M11 11.5L16 11.5" stroke="white" stroke-linecap="round"/>
    <path d="M11 13.5L15 13.5" stroke="white" stroke-linecap="round"/>
  </svg>

</template>

<script>
export default {}
</script>
<style lang="scss" scoped>
.v-list-item .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  }
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}
.v-list-item--active .ef-svg-icon svg circle {
  fill-opacity: 0 !important;
  fill: var(--biscay) !important;
}
</style>

