<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 11L11.6464 15.6464C11.8417 15.8417 12.1583 15.8417 12.3536 15.6464L17 11" stroke="#909FBA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 15V4" stroke="#909FBA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7 21H17" stroke="#909FBA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

</template>

<script>
export default {
  name: "IconDownload"
}
</script>

<style scoped>

</style>
