<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="14" y="9" width="24" height="24" rx="3" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <rect x="11" y="22" width="13" height="13" rx="2" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <rect x="20" y="30" width="11" height="7" rx="1.5" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <a>
      <rect x="25" y="12" width="10" height="3" rx="1" fill="#FB405A"/>
    </a>
    <path opacity="0.3" d="M14.5 28.5V25.5H17.5" stroke="#17356F" stroke-linecap="round" stroke-linejoin="round"/>
    <rect opacity="0.3" x="33" y="18" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect opacity="0.3" x="33" y="21" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect opacity="0.3" x="30" y="18" width="2" height="2" rx="0.5" fill="#17356F"/>
  </svg>

</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.v-list-item .ef-svg-icon svg path {
  fill-opacity: 0 !important;
}
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}

.v-list-item--active .ef-svg-icon svg circle {
  fill-opacity: 0 !important;
  stroke: var(--biscay) !important;
  fill: var(--radical-red) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
  fill: var(--radical-red) !important;
}
////checkDefault, debitCard, inKindDefault
.v-list-item .ef-svg-icon svg a rect {
  fill-opacity: 1 !important;
  fill: var(--radical-red) !important;
  stroke: var(--radical-red) !important;
}
/////


</style>
