<template>
  <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">

    <rect x="5" y="11" width="40" height="22" rx="3" fill="white"/>
   <a>
     <path d="M5 13C5 11.8954 5.89543 11 7 11H43C44.1046 11 45 11.8954 45 13V15H5V13Z" fill="#FB405A"/>
   </a>
    <rect x="5" y="11" width="40" height="22" rx="3" stroke="#17356F" stroke-width="1.5"/>
    <path d="M39.9193 21.3032C39.5854 19.3476 36.2814 19.548 36.2814 21.5208C36.2814 22.529 37.1487 22.9035 38.069 22.9035C38.8331 22.9035 39.9193 23.3283 39.9193 24.484C39.9193 26.4621 36.2814 26.718 36.0001 24.484" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M38.0165 19.0768V19.9348" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M38.0165 26.0652V26.9233" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M10 20.5H27.4999" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M10 23.5H30" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M10 26.5H21.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24.5 26.5L27.5 26.5" stroke="#17356F" stroke-linecap="round"/>
  </svg>

</template>

<script>
export default {}
</script>
<style lang="scss" scoped>

.v-list-item .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
}
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
  stroke: var(--white) !important;
}
/////moneyOrderDefault
.v-list-item--active .ef-svg-icon svg a path {
  fill-opacity: 1 !important;
  fill: var(--radical-red) !important;
}
/////


</style>
