<template>
  <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect opacity="0.05" x="39" y="-4" width="60" height="60" rx="16" transform="rotate(45 39 -4)" fill="#17356F"/>
    <rect x="15" y="8" width="48" height="62" rx="8" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <rect x="23" y="46" width="32" height="16" rx="3" fill="#FB405A"/>
    <path d="M41.077 53.8C41.077 51.34 39.121 49.432 36.709 49.432C34.297 49.432 32.353 51.34 32.353 53.8C32.353 56.248 34.297 58.168 36.709 58.168C37.477 58.168 38.197 57.976 38.821 57.628L39.733 58.576L40.909 57.532L40.045 56.632C40.693 55.876 41.077 54.892 41.077 53.8ZM36.709 56.548C35.197 56.548 33.997 55.408 33.997 53.8C33.997 52.18 35.197 51.04 36.709 51.04C38.221 51.04 39.421 52.18 39.421 53.8C39.421 54.436 39.229 55 38.917 55.444L37.441 53.908L36.265 54.952L37.645 56.392C37.357 56.488 37.033 56.548 36.709 56.548ZM43.7423 49.6L41.5343 50.38L41.9423 51.796L43.5263 51.352V58H45.1823V49.6H43.7423Z" fill="white"/>
    <path d="M24 16.7441H38.2791" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 28.5L32 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M36 28.5L43 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M47 28.5L54 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 30.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 32.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 34.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 36.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 38.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 40.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 30.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 32.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 34.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 36.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 38.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 40.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 30.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 32.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 34.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 36.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 38.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 40.5H47" stroke="#17356F" stroke-linecap="round"/>
    <rect x="53" y="16" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect x="49" y="16" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect opacity="0.3" x="23" y="24" width="32" height="2" rx="0.5" fill="#17356F"/>
  </svg>
</template>
<script>
export default {}
</script>
