<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 16V8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8 12L16 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="12" cy="12" r="8.5" stroke="white" stroke-width="1.5"/>
  </svg>
</template>
<script>
export default {}
</script>
<style lang="scss" scoped>
@import "./assets/menuIcon.scss";


</style>
