<template>
  <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect opacity="0.05" x="39" y="-4" width="60" height="60" rx="16" transform="rotate(45 39 -4)" fill="#17356F"/>
    <rect x="15" y="8" width="48" height="62" rx="8" fill="white" stroke="#17356F" stroke-width="1.5"/>
    <rect x="23" y="46" width="32" height="16" rx="3" fill="#FB405A"/>
    <path d="M39.5198 49.6H37.6478L35.8238 53.104L33.9998 49.6H32.1278L34.9958 54.724V58H36.6398V54.724L39.5198 49.6ZM41.9809 56.416V54.532H45.1609V52.972H41.9809V51.184H45.4609V49.6H40.3249V58H45.5209V56.416H41.9809Z" fill="white"/>
    <path d="M24 16.7441H38.2791" stroke="#17356F" stroke-width="1.5" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 28.5L32 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M36 28.5L43 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M47 28.5L54 28.5" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 30.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 32.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 34.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 36.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 38.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M24 40.5H40" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 30.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 32.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 34.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 36.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 38.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M51 40.5H54" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 30.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 32.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 34.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 36.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 38.5H47" stroke="#17356F" stroke-linecap="round"/>
    <path opacity="0.3" d="M44 40.5H47" stroke="#17356F" stroke-linecap="round"/>
    <rect x="53" y="16" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect x="49" y="16" width="2" height="2" rx="0.5" fill="#17356F"/>
    <rect opacity="0.3" x="23" y="24" width="32" height="2" rx="0.5" fill="#17356F"/>
  </svg>
</template>
<script>
export default {}
</script>
