<template>
  <p class="eftitle">
    {{ title }}
  </p>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Text Field Label',
    },
  },
};
</script>

<style lang="scss" scoped>
.eftitle {
  margin: auto;
  font-family: var(--font-family-page-title);
  font-style: var(--font-style-page-title);
  font-weight: var(--font-weight-page-title);
  font-size: var(--font-size-page-title);
  line-height: 36px;
  letter-spacing: 0.02em;
  color: var(--biscay);
}
</style>
