<template>
  <div class="mt-10">
    <div class="d-flex">
      <v-row class="d-flex flex-column" no-gutters>
        <v-card
          elevation="0"
          width="462"
          height="65"
          class="mx-auto inner-card py-3 pl-6"
        >
          <v-row>
            <v-col cols="6">
              <div class="caption mb-1">Committee Name</div>
              <div class="subtext">Ronald Richards Committee</div>
            </v-col>
            <v-col cols="6">
              <div class="caption mb-1">Board of Elections ID</div>
              <div class="subtext">STA-123456-C-001</div>
            </v-col>
          </v-row>
        </v-card>
        <div class="mx-auto">
          <EFForm class="form-class mt-4" name="draft" :items="DraftItems" />
        </div>
      </v-row>
      <div class="">
        <v-card
          elevation="0"
          width="146"
          height="146"
          class="inner-card d-flex flex-column align-center justify-center"
        >
          <div class="absolute-position">
            <img
              :src="require('~/assets/images/input-tooltip-icon.svg')"
              alt=""
            />
          </div>
          <div class="caption">Submission Cost</div>
          <div class="cost-text">$59.99</div>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      DraftItems: [
        {
          id: 0,
          type: 'select',
          variant: 'datepicker',
          label: 'Report Date',
          selected: '24-10-2022',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.inner-card {
  background: #ffffff;
  /* Heather */

  border: 1px solid #afbed7;
  box-sizing: border-box;
  border-radius: 8px;
}
.absolute-position {
  position: absolute;
  top: 12px;
  right: 12px;
}
.caption {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;

  /* Comet */

  color: var(--comet);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;

  /* Big Stone */

  color: var(--big-stone);
}
.cost-text {
  margin-top: 6px;
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  /* River Bed */

  color: var(--river-bed);
}
.form-class {
  width: 462px;
  margin-left: 10px;
}
</style>
