<template>
  <v-btn
    :block="block"
    :large="large"
    :disabled="disabled"
    depressed
    :color="type"
    @click="$emit('el-onclick')"
  >
    <v-icon v-if="icon !== ''">
      {{ icon }}
    </v-icon>
    <slot />
  </v-btn>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'primary',
    },
    icon: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    large: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
