<template>
  <v-hover v-slot="{ hover }">
    <v-sheet :class="{ 'on-hover': hover }">
      <v-btn class="cardButton" outlined width="200" height="54">
        <v-icon dark> mdi-plus </v-icon>
      </v-btn>
    </v-sheet>
  </v-hover>
</template>

<script>
export default {
  name: 'EFCardButtonIcon',
};
</script>

<style lang="scss" scoped>
.cardButton {
  background: rgba(255, 255, 255, 0.5);

  /* Black Squeeze */
  border: 1px solid var(--black-squeeze);
  box-sizing: border-box;
  border-radius: 9px;
}
.v-btn:not(.on-hover) {
  color: #909fba;
}
.v-btn:hover {
  opacity: 1;
  color: #424c5f;
}
</style>
