<template>
  <v-hover v-slot="{ hover }">
    <v-sheet :class="{ 'on-hover': hover }">
      <v-btn outlined>
        <ef-icon-svg :icon="icons.IconDownload" />
        <h class="maintext pa-2"> Statement of organization </h>
      </v-btn>
    </v-sheet>
  </v-hover>
</template>

<script>
import IconDownload from '../assets/images/IconDownload';
import EfIconSvg from './EFIcon';

export default {
  name: 'EFCardButtonIconDownload',
  components: { EfIconSvg },

  props: {
    tag: {
      type: String,
      default: '',
    },
  },
  label: {
    type: String,
    default: '',
  },
  data: () => ({
    icons: {
      IconDownload,
    },
  }),
};
</script>

<style lang="scss" scoped>
@media (max-width: 768px) {
  .maintext {
    display: none;
  }
}
.v-btn {
  background: rgba(255, 255, 255, 0.5);

  font-family: var(--font-family-page-title);
  max-width: 240px;
  max-height: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height, or 114% */
  text-align: center;
  letter-spacing: 0em;
  text-transform: uppercase;

  /* Biscay */
  color: var(--biscay) !important;

  /* Black Squeeze */
  border: 1px solid var(--black-squeeze);
  box-sizing: border-box;
  border-radius: 9px;
}

.v-btn:not(.on-hover) {
  color: var(--bali-hai);
}

.v-btn:hover {
  opacity: 1;
  color: var(--river-bed);
}
</style>
