<template>
  <div :class="{ 'd-flex align-center mt-n3 mb-1': label }">
    <v-checkbox
      v-model="checkbox"
      :input-value="inputValue"
      :dark="dark"
      :color="color"
      :indeterminate="indeterminate"
      :disabled="disabled"
      @change="onChange"
    />
    <label v-if="label">{{ label }}</label>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    label: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    indeterminate: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'indigo',
    },
    dark: {
      type: Boolean,
      default: false,
    },
    inputValue: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      checkbox: false,
    };
  },
  methods: {
    onChange() {
      /* eslint-disable */
      this.item ? (this.item.data = this.checkbox) : '';
      this.$emit('onChange', {
        selectedData: this.checkbox,
        item: this.item,
      });
    },
  },
};
</script>
<style lang="scss" scoped>
::v-deep {
  label {
    font-family: var(--font-family-callout);
    font-style: var(--font-style-callout);
    font-weight: var(--font-weight-callout);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--big-stone);
  }
  .v-input--selection-controls__ripple {
    height: 0px;
    width: 0px;
  }

  .v-icon.v-icon {
    align-items: center;
    display: inline-flex;
    font-feature-settings: 'liga';
    font-size: 20px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .theme--light.v-icon {
    color: var(--biscay);
  }

  .v-input--selection-controls__input input[role='checkbox'],
  .v-input--selection-controls__input input[role='radio'],
  .v-input--selection-controls__input input[role='switch'] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  //.text-body-1 {
  //  color: var(--comet) !important;
  //}
}
</style>
