<template>
  <div>
    <v-card
      flat
      color="#17356F"
      height="147"
      class="
        background
        white--text
        rounded-xl
        d-flex
        justify-space-between
        align-center
      "
    >
      <div class="ml-10">
        <div class="mb-7 text_h3">
          {{ content.header }}
        </div>
        <div class="d-flex">
          <div
            v-for="(divider, index) in content.dividers"
            :key="index"
            class="mr-10"
          >
            <div class="d-flex align-center">
              <v-card class="mr-4" flat color="#FF3D58" width="4" height="34" />
              <div>
                <div class="text_small mb-1">
                  {{ divider.title }}
                </div>
                <div class="text_small_bold">
                  {{ divider.subtitle }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <v-card
        v-if="cycleEnded"
        width="266"
        height="115"
        class="middle-card d-flex flex-column justify-center align-center"
      >
        <div class="text_cycle mb-3">This election cycle ended</div>
        <div @click="onElectionButton">
          <EFButton large>
            <div class="text_button">Start New election cycle</div>
          </EFButton>
        </div>
      </v-card>
      <div class="mr-6">
        <v-card
          flat
          width="165"
          height="68"
          class="white--text inside-card d-flex flex-column justify-center"
        >
          <div
            v-for="(data, i) in content.inCard"
            :key="i"
            class="d-flex justify-space-between"
            style="margin: 2px 0"
          >
            <div class="text_small">
              {{ data.title }}
            </div>
            <div class="text_small_bold">
              {{ data.date }}
            </div>
          </div>
        </v-card>
        <div class="text-center">
          <a
            style="text-decoration: none"
            class="white--text"
            :href="content.linkUrl"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="text_small">{{ content.linkText }}</span>
            <v-icon small class="mt-n2 ml-n1" color="white"
              >mdi-arrow-top-right-thick</v-icon
            >
          </a>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
    cycleEnded: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    // console.log(this.cycleEnded)
  },
  methods: {
    onElectionButton() {
      // console.log('button clicked')
      this.$emit('onElectionBUtton');
    },
  },
};
</script>

<style lang="scss" scoped>
.background {
  background-image: url('../assets/images/us-map-nc.png');
}
.inside-card {
  background: rgba(9, 21, 45, 0.4);
  border-radius: 14px;
  padding: 15px 18px 16px 17px;
  margin-bottom: 10px;
}
.middle-card {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: rgba(9, 21, 45, 0.4);
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1);
  border-radius: 24px;
}
.theme--light.v-divider {
  border-color: rgba(0, 0, 0, 0.12) !important;
}
.text_h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.text_small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.text_small_bold {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.text_cycle {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--white);
}
.text_button {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
</style>
