<template>
  <v-card :flat="flat" :disabled="disabled">
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="data"
      :single-select="singleSelect"
      item-key="id"
      show-select
      class="tables"
      checkbox-color="var(--biscay)"
      @item-selected="itemSelected"
      @input="itemsChange"
      @toggle-select-all="selectAllToggle"
    >
      <template v-if="name === 'counterparties'" #no-data>
        <div class="py-16 my-2 noData-text">
          There are no counterparties added yet
        </div>
      </template>
      <template v-if="reports">
        <div class="py-16 my-2 noData-text">
          There are no reports in this election cycle yet
        </div>
      </template>
      <template v-if="reports" #[`item.additional`]="{ item }">
        <div
          v-if="item.additional"
          class="additional d-flex align-center justify-center"
        >
          {{ item.additional }}
        </div>
      </template>
      <template v-if="reports" #[`item.status`]="{ item }">
        <div class="d-flex">
          <div
            :class="getColor(item.status)"
            class="status d-flex align-center justify-center"
          >
            {{ item.status }}
          </div>
          <div v-if="item.issue" class="ml-3 d-flex align-center">
            <img src="../assets/images/issue-misc.svg" alt="Issue" />
          </div>
        </div>
      </template>
      <template v-if="reports" #[`item.actions`]="{ item }">
        <v-menu left min-width="100" transition="slide-y-transition">
          <template #activator="{ on, attrs }">
            <v-icon
              :disabled="item.disabled"
              v-bind="attrs"
              @click="menuClick(item.status)"
              v-on="on"
            >
              mdi-dots-vertical
            </v-icon>
          </template>
          <v-list>
            <v-list-item
              v-for="(menuItem, i) in menuItems"
              :key="i"
              @click="menuItemClick(item, menuItem)"
            >
              <v-list-item-title>
                <div class="text_small">{{ menuItem }}</div>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-else #[`item.actions`]="{ item }">
        <v-menu min-width="100" left transition="slide-y-transition">
          <template #activator="{ on, attrs }">
            <v-icon :disabled="item.disabled" v-bind="attrs" v-on="on">
              mdi-dots-vertical
            </v-icon>
          </template>
          <v-list>
            <v-list-item @click="onEdit(item)">
              <v-list-item-title>
                <div class="text_small">Edit</div>
              </v-list-item-title>
            </v-list-item>
            <v-list-item @click="onDelete(item)">
              <v-list-item-title>
                <div class="text_small">Delete</div>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { ReportStatusKey } from '~/api/electafile-api/types/reports';

export default {
  props: {
    reports: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    flat: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    tableHeaders: {
      type: Array,
      default: () => [],
    },
    name: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      singleSelect: false,
      selected: [],
      headers: [],
      data: [],
      menuItems: [],
      menuAll: {
        accepted: [
          'Preview',
          'File Amendment',
          'Download Report Cover PDF',
          'Download PDF',
          'Download CFD',
          'Delete',
        ],
        drafts: ['Edit', 'Preview', 'Delete'],
        declined: ['Preview', 'Delete'],
        pendings: ['Preview'],
        ready: ['Pay and File', 'Preview', 'Delete'],
        rejected: [
          'Edit',
          'Preview',
          'Download Report Cover PDF',
          'Download PDF',
          'Download CDF',
          'Delete',
        ],
        sent: [
          'Preview',
          'Download Report Cover PDF',
          'Download PDF',
          'Download CFD',
          'Delete',
        ],
      },
    };
  },
  watch: {
    items: {
      handler(val) {
        this.data = val;
      },
    },
  },
  beforeMount() {
    this.data = this.items;
    this.headers = this.tableHeaders;
  },
  methods: {
    itemsChange(items) {
      console.log('items change >>> ', items);
      this.$emit('deleteSelected', items);
    },
    selectAllToggle(allItems) {
      console.log('all items toggle >>> ', allItems);
      allItems.items.forEach((element) => {
        element.disabled = allItems.value;
      });
    },
    itemSelected(selected) {
      console.log('single item selected >>> ', selected);
      selected.item.disabled = selected.value;
    },
    onDelete(item) {
      console.log('delete', item);
      this.$emit('delete', item);
    },
    onEdit(item) {
      console.log('edit', item);
      this.$emit('edit', item);
      this.$nuxt.$emit('edit' + this.name, { item });
    },

    // Reports
    getColor(status) {
      return status;
    },
    menuClick(status) {
      if (status === ReportStatusKey.READY) {
        this.menuItems = this.menuAll.ready;
      } else if (status === ReportStatusKey.ACCEPTED) {
        this.menuItems = this.menuAll.accepted;
      } else if (status === ReportStatusKey.PENDING) {
        this.menuItems = this.menuAll.pending;
      } else if (status === ReportStatusKey.DECLINED) {
        this.menuItems = this.menuAll.declined;
      } else if (status === ReportStatusKey.SENT) {
        this.menuItems = this.menuAll.sent;
      } else if (status === ReportStatusKey.DRAFT) {
        this.menuItems = this.menuAll.drafts;
      } else {
        this.menuItems = this.menuAll.rejected;
      }
    },
    menuItemClick(item, menuItem) {
      console.log('item row >> ', item, 'menu item clicked >>> ', menuItem);
      if (menuItem === 'Delete') {
        this.onDelete(item);
      } else if (menuItem === 'Pay and File') {
        console.log('OPEN DIALOG');
        this.$emit('fileModal');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.text_small {
  font-family: var(--font-family-callout);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--river-bed);
}
.noData-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;

  /* Comet */

  color: var(--comet);
}
.additional {
  width: 82px;
  height: 22px;

  /* Bali Hai */

  background: var(--bali-hai);
  border-radius: 5px;

  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;

  /* White */

  color: var(--white);
}
.status {
  width: 72px;
  height: 26px;
  border-radius: 6px;

  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ready {
  /* Dodger Blue 10% */
  border: 2px solid rgba(42, 111, 242, 0.1);
  color: var(--dodger-blue);
}
.accepted {
  background: rgba(22, 200, 157, 0.09);
  color: var(--java);
}
.pending {
  border: 2px solid rgba(144, 159, 186, 0.1);
  color: var(--river-bed);
}
.declined {
  border: 2px solid rgba(251, 64, 90, 0.09);
  color: var(--radical-red);
}
.sent {
  background: rgba(42, 111, 242, 0.1);
  color: var(--dodger-blue);
}
.draft {
  border: 2px solid rgba(144, 159, 186, 0.1);
  color: var(--bali-hai);
}
.rejected {
  background: rgba(251, 64, 90, 0.09);
  color: var(--radical-red);
}

.v-menu__content {
  // width: 100px;
  border-radius: 8px;
}
.tables {
  // width: 1068px;
  /* Data Numbers */
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* identical to box height, or 160% */
  text-align: right;
  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Big Stone */
  color: var(--big-stone);

  mix-blend-mode: normal;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.noData-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;

  /* Comet */

  color: var(--comet);
}
</style>
