<template>
  <div>
    <div v-if="title" class="eftitle">
      {{ title }}
    </div>
    <div v-if="subtitle" class="efsubtitle">
      {{ subtitle }}
    </div>
    <div v-if="subsubtitle" class="efsubsubtitle">
      {{ subsubtitle }}
    </div>
    <div v-if="minititle" class="efminititle">
      {{ minititle }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
    subsubtitle: {
      type: String,
      default: '',
    },
    minititle: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.eftitle {
  margin: auto;
  font-family: var(--font-family-page-title), sans-serif;
  font-style: var(--font-style-page-title);
  font-weight: var(--font-weight-page-title);
  font-size: var(--font-size-page-title);
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--biscay);
}
.efsubtitle {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--biscay);
}
.efsubsubtitle {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--biscay);
  margin-top: 20px;
  margin-bottom: 20px;
}
.efminititle {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--biscay) !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
