<template>
  <div :class="classes">
    <component :is="icon" />
  </div>
</template>

<script>
/**
 * EfIconSvg component.
 */
export default {
  name: 'EfIconSvg',
  props: {
    /**
     * Specify the icon vue-component (or import promise)
     */
    icon: {
      default: null,
      type: [Object, Function],
    },
    /**
     * Specify the icon size: xs - sm - md - lg
     */
    size: {
      default: '',
      type: String,
      validator: (size) => ['', 'xs', 'sm', 'md', 'lg', 'xl'].includes(size),
    },
  },
  computed: {
    classes() {
      return {
        'ef-svg-icon': true,
        [this.size]: this.size,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.ef-svg-icon {
  --size: px;

  display: inline-block;
  width: var(--size);
  height: var(--size);

  @media (forced-colors: active) {
    color: var(--hc-icon);
  }

  & > svg {
    fill: currentColor;
    object-fit: contain;
    width: 100% !important;
    height: 100% !important;
    display: block;
  }

  &.xs {
    --size: 10px;
  }

  &.sm {
    --size: 12px;
  }

  &.md {
    --size: 20px;
  }

  &.lg {
    --size: 40px;
  }
  &.xl {
    --size: 150px;
  }
}
</style>
