<template>
  <div>
    <v-row justify="center" no-gutters>
      <v-card class="card px-16 pt-14 pb-12">
        <v-btn class="close-icon" icon @click="$emit('closeDialog')">
          <v-icon color="#909FBA"> mdi-close </v-icon>
        </v-btn>
        <div class="text-center title">
          {{ content.title }}
        </div>
        <div>
          <v-img
            v-if="highlightText"
            class="mt-5 mx-auto"
            width="460"
            height="172"
            :src="content.image"
          />
          <v-img
            v-else
            class="mt-5 mx-auto"
            width="270"
            height="270"
            :src="content.image"
          />
          <div class="subtext text-center mt-6">
            {{ content.subText }}
          </div>
          <v-card
            v-if="highlightText"
            flat
            color="#F6F7FB"
            style="border-radius: 16px"
            class="py-5 px-7 mt-10"
          >
            <div class="subtitle mb-2">
              {{ content.hightlightTitle }}
            </div>
            <div class="subtext text-left">
              {{ content.highlightSubtext }}
            </div>
          </v-card>
        </div>
        <div class="text-center mt-10">
          <slot />
        </div>
      </v-card>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
    highlightText: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
  // border-radius: 24px !important;
}
.title {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--biscay);
}
.subtitle {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--dodger-blue);
}
.text_h4 {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  /* Biscay */

  color: var(--biscay);
}
.indigo-rainbow {
  color: var(--biscay);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--big-stone);
}
.button-medium {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--biscay);
}
.small-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: 0.02em;

  /* Bali Hai */

  color: var(--bali-hai);
}
.mystic {
  border: 2px solid var(--mystic) !important;
  box-sizing: border-box !important;
  border-radius: 9px !important;
}
.close-icon {
  position: absolute;
  right: 28px;
  top: 28px;
}
</style>
