<template>
  <v-container>
    <v-col>
      <v-row no-gutters>
        <template v-for="(item, i) in items">
          <v-col :key="i" style="width: 25%; height: 80px">
            <v-card>
              <ef-icon-svg :icon="item.icon" size="md" />
              <v-list-item-title v-text="item.title" />
            </v-card>
          </v-col>
          <v-responsive v-if="i === 3" :key="`width-${i}`" width="100%" />
        </template>
      </v-row>
      <v-row>
        <div>
          <v-row justify="center" align="center">
            <EFTextInput
              :label="types[id]"
              style="max-width: 90%; margin-right: 20px; padding-top: 20px"
            />
          </v-row>
        </div>
      </v-row>
    </v-col>
  </v-container>
</template>

<script>
import EfIconSvg from '../components/EFIcon';
import checkDefault from '../assets/images/checkDefault.vue';
import eftDefault from '../assets/images/eftDefault.vue';
import debitCard from '../assets/images/debitCard.vue';
import draftDefault from '../assets/images/draftDefault.vue';
import creditCardDefault from '../assets/images/creditCardDefault.vue';
import moneyOrderDefault from '../assets/images/moneyOrderDefault.vue';
import settings from '../assets/images/settings.vue';
import cashDefault from '~/assets/images/cashDefault.vue';
import inKindDefault from '~/assets/images/inKindDefault.vue';

export default {
  components: {
    EfIconSvg,
  },
  data() {
    return {
      visible: true,
      settings,
      id: 0,
      computed: {
        // геттер вычисляемого значения
        id() {
          // `this` указывает на экземпляр vm
          return this.id;
        },
      },
      types: [
        'Cards',
        'Funds,',
        'Debit Card',
        'Draft',
        'Account Code',
        'Money Order',
        'Cash',
        'In-Kind Description',
      ],
      items: [
        {
          id: 1,
          icon: checkDefault,
          title: 'Check',
        },
        {
          id: 2,
          icon: debitCard,
          title: 'Debit Card',
        },
        {
          icon: creditCardDefault,
          title: 'Credit Card',
          id: 3,
        },
        {
          id: 4,
          icon: cashDefault,
          title: 'Cash',
          to: '/cashDefault',
        },
        {
          icon: eftDefault,
          title: 'Funds Transfer',
          id: 5,
        },
        {
          icon: draftDefault,
          title: 'Draft',
          id: 6,
        },
        {
          id: 7,
          icon: moneyOrderDefault,
          title: 'Money Order',
        },
        {
          id: 8,
          icon: inKindDefault,
          title: 'In-Kind',
          to: '/inKindDefault',
        },
      ],
    };
  },
};
</script>
