<template>
  <div>
    <v-sheet>
      <v-list-item-group v-model="id">
        <div class="textPay">Form of Payment</div>
        <div>
          <v-row no-gutters>
            <template v-for="(item, i) in items">
              <v-col :key="i" cols="6" md="3" style="height: 90px">
                <v-sheet elevation="0" max-width="95%">
                  <v-list max-width="110">
                    <v-list-item :id="item.id">
                      <ul>
                        <li>
                          <v-list-item-action>
                            <ef-icon-svg :icon="item.icon" size="lg" />
                          </v-list-item-action>
                        </li>
                        <li>
                          <v-list-item-content>
                            <v-list-item-title v-text="item.title" />
                          </v-list-item-content>
                        </li>
                      </ul>
                    </v-list-item>
                  </v-list>
                </v-sheet>
              </v-col>
              <v-responsive
                v-if="i === 3"
                :key="`width-${i}`"
                width="100%"
              ></v-responsive>
            </template>
          </v-row>

          <template v-if="id >= 0">
            <EFForm v-if="id === 4" :items="fundItem" />
            <EFTextInput
              v-else
              :label="paymentValue.label"
              :item="paymentValue"
              class="mt-2"
            />
          </template>
        </div>
      </v-list-item-group>
    </v-sheet>
  </div>
</template>

<script>
import checkDefault from '../assets/images/checkDefault.vue';
import eftDefault from '../assets/images/eftDefault.vue';
import debitCard from '../assets/images/debitCard.vue';
import draftDefault from '../assets/images/draftDefault.vue';
import creditCardDefault from '../assets/images/creditCardDefault.vue';
import moneyOrderDefault from '../assets/images/moneyOrderDefault.vue';
import cashDefault from '~/assets/images/cashDefault.vue';
import inKindDefault from '~/assets/images/inKindDefault.vue';
import EfIconSvg from '~/components/EFIcon';
import { PaymentType } from '~/api/electafile-api/types/payment';

export default {
  components: {
    EfIconSvg,
  },
  props: {
    selectedPaymentMode: {
      type: String,
      default: '',
    },
    paymentData: {
      type: Object,
      default: () => ({
        id: 0,
        key: '',
        value: '',
      }),
    },
  },
  data() {
    return {
      visible: true,
      paymentValue: {
        type: 'text',
        options: [{ label: '00078541', value: '00078541' }],
        selected: '',
        label: '',
        value: '',
      },
      id: 4,
      fundItem: [
        {
          type: 'select',
          label: 'Account Code',
          options: [{ label: '00078541', value: '00078541' }],
          value: '00078541',
          selected: '00078541',
        },
      ],
      items: [
        {
          id: 0,
          icon: checkDefault,
          title: 'Check',
          key: PaymentType.CHECK,
        },
        {
          id: 1,
          icon: debitCard,
          title: 'Debit Card',
          key: PaymentType.DEBIT_CARD,
        },
        {
          icon: creditCardDefault,
          title: 'Credit Card',
          key: PaymentType.CREDIT_CARD,
          id: 2,
        },
        {
          id: 3,
          icon: cashDefault,
          title: 'Cash',
          key: PaymentType.CASH,
          to: '/cashDefault',
        },
        {
          icon: eftDefault,
          title: 'Funds Transfer',
          key: PaymentType.FUNDS_TRANSFER,
          id: 4,
        },
        {
          icon: draftDefault,
          title: 'Draft',
          key: PaymentType.DRAFT,
          id: 5,
        },
        {
          id: 6,
          icon: moneyOrderDefault,
          title: 'Money Order',
          key: PaymentType.MONEY_ORDER,
        },
        {
          id: 7,
          icon: inKindDefault,
          title: 'In-Kind',
          key: PaymentType.IN_KIND,
          to: '/inKindDefault',
        },
      ],
    };
  },
  watch: {
    id: {
      handler() {
        this.paymentValue.label = this.items[this.id].title;
        if (this.id === 4) {
          this.paymentValue.type = 'select';
          this.paymentValue.label = 'Account Code';
        } else this.paymentValue.type = 'text';
        this.$emit('update:payment-data', {
          id: this.id,
          key: this.items[this.id].key,
          value: this.paymentValue.value,
        });
      },
      immediate: true,
    },
    'paymentValue.value'(val) {
      this.$emit('update:payment-data', {
        id: this.id,
        key: this.items[this.id].key,
        value: val,
      });
    },
  },
  beforeMount() {
    if (this.selectedPaymentMode) {
      this.id = this.items.findIndex(
        (itm) => itm.title === this.selectedPaymentMode,
      );
    } else if (typeof this.paymentData.key === 'string') {
      this.id = this.items.findIndex((itm) => itm.key === this.paymentData.key);
      this.paymentValue.value = this.paymentData.value;
    }
  },
};
</script>

<style lang="scss" scoped>
li {
  list-style-type: none;
}

ul {
  margin-left: 16px;
  padding-left: 0;
  height: 84px;
}

//// text
.textPay {
  // position: absolute;
  // top: -10px;
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #596780;
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.v-list-item .v-list-item__title {
  color: #424c5f !important;
}

.v-list-item--active .v-list-item__title {
  color: var(--black-squeeze) !important;
}

.v-list-item--active {
  background-color: #17356f !important;
  width: 100%;
}

.v-list-item {
  border-radius: 8px;
}

.v-sheet.v-list {
  border-radius: 15px;
  background-color: var(--black-squeeze) !important;
}

.v-sheet {
  padding: 0;
  margin: 0;
}

.v-list-item__title {
  position: absolute;
  height: 16px;
  left: 7px;
  right: 7px;
  top: 54px;

  /* Small text */
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.02em;

  /* White Lilac */
  color: #f6f7fb;
}
</style>
