<template>
  <div>
    <v-card width="202" height="270" class="rounded-xl">
      <v-icon
        v-show="isIssue"
        style="position: absolute; top: 12px; right: 12px"
        class="error--text"
      >
        mdi-alert-circle
      </v-icon>
      <div class="pt-8 d-flex justify-center">
        <ef-icon-svg :icon="content.image" />
      </div>
      <div class="text-center mx-4">
        <div class="mt-5 text-h6 secondary--text font-weight-bold">
          {{ content.title }}
        </div>
        <div v-if="rejected" class="radicalRed font-weight-bold">Rejected</div>
        <div
          v-if="type === 'noDate'"
          :class="{ riverBed: !overDue, radicalRed: overDue }"
          class="mt-3"
        >
          There’s a contribution of $1,000 or more that must be reported within
          48 hours
        </div>
        <div
          v-else
          style="
            position: absolute;
            left: 0;
            right: 0;
            bottom: 18px;
            margin-left: auto;
            margin-right: auto;
          "
        >
          <div :class="{ riverBed: !overDue, radicalRed: overDue }">
            {{ overDue ? 'Due date missed:' : 'Due date:' }}
          </div>
          <div :class="{ dodgerBlue: !overDue, radicalRed: overDue }">
            {{ content.dueDate }}
          </div>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import EfIconSvg from './EFIcon.vue';
export default {
  components: {
    EfIconSvg,
  },
  props: {
    content: {
      type: Object,
      default: () => {},
    },
    type: {
      type: String,
      default: 'default',
    },
    isIssue: {
      type: Boolean,
      default: false,
    },
    overDue: {
      type: Boolean,
      default: false,
    },
    rejected: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .dodgerBlue {
    color: var(--dodger-blue) !important;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }
  .riverBed {
    color: var(--river-bed);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .radicalRed {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: var(--radical-red);
  }
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1);
  }
}
</style>
