<template>
  <div>
    <v-card
      v-for="(item, i) in report.items"
      :key="i"
      :disabled="item.disabled"
      elevation="0"
      class="MainCard mb-2"
      @click="onClick(item)"
    >
      <div class="d-flex justify-space-between align-center">
        <div class="d-flex align-center">
          <div class="mr-8 pl-2 py-2">
            <img :src="item.img" alt="" />
          </div>
          <div>
            <div class="text_h5 mb-1">
              {{ item.title }}
            </div>
            <div
              :class="{
                'radical-red': item.dueDate,
                'river-bed': !item.dueDate,
              }"
              class="text_color3"
            >
              {{ item.subtext }}
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div v-if="item.external" class="text_color2 mr-8">
            FIELD EXTERNALLY
          </div>
          <div class="text_color mr-5">${{ item.cost }}</div>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import I48 from '../assets/images/48.vue';
// import EfIconSvg from './EFIcon.vue';
export default {
  components: {
    // EfIconSvg,
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    report: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      items: [
        {
          title: '48-Hour Notice',
          price: '$250',
          subtext:
            'All contributions of $1,000 or more must be reported within 48 hours',
          img: I48,
        },
      ],
    };
  },
  methods: {
    onClick(item) {
      console.log('Clicked >>> ', item);
      this.$nuxt.$emit(item.type, item);
    },
  },
};
</script>

<style lang="scss" scoped>
.MainCard {
  box-shadow: 2px 2px 8px rgba(144, 159, 186, 0.08) !important;
  border-radius: 9px;
}

.text_h5 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  /* identical to box height, or 130% */
  color: var(--biscay) !important;
}
.text_color {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--river-bed);
}
.text_color2 {
  margin-top: 6px;
  /* Button/xSmall */
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;

  /* identical to box height, or 109% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--bali-hai);
}
.text_color3 {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.02em;
}
.river-bed {
  /* River Bed */

  color: var(--river-bed);
}
.radical-red {
  /* Radical Red */
  color: #fb405a;
}

.v-sheet {
  transition: opacity 0.4s ease-in-out;
}

.v-sheet:not(.on-hover) {
  color: var(--biscay) !important;
}
.v-sheet:hover {
  opacity: 1;
  color: var(--dodger-blue) !important;
}
.v-sheet:disabled {
  opacity: 0.5;
}
</style>
