<template>
  <div>
    <v-card
      width="506"
      height="123"
      class="rounded-xl pa-3 d-flex align-center"
    >
      <div>
        <v-btn
          width="99"
          height="99"
          class="
            inside-button
            elevation-0
            mr-10
            d-flex
            justify-center
            align-center
          "
          @click="addRecord(content.id)"
        >
          <img width="60" height="60" :src="content.image" alt="" />
        </v-btn>
      </div>
      <div>
        <div class="main-text">
          {{ content.title }}
        </div>
        <div class="sub-text truncate">
          {{ content.subtitle }}
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    addRecord(index) {
      // >>>> index 0 : Add Receipt , index 1: Add Expenditure
      if (index === 1) {
        this.$emit('addExpenditure');
      } else {
        this.$emit('addReceipt');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .main-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--biscay);
    margin-bottom: 6px;
  }
  .sub-text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: var(--river-bed);
  }
  .inside-button {
    background: rgba(23, 53, 111, 0.06);
    border-radius: 12px;
  }
  .truncate {
    width: 309px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1);
  }
}
</style>
