<template>
  <div :class="{ 'ef-select-disabled': disabled }">
    <div class="d-flex justify-space-between align-center">
      <label>{{ label }}</label>
      <div v-show="item ? item.tooltip : ''">
        <img :src="require('~/assets/images/input-tooltip-icon.svg')" alt="" />
      </div>
    </div>
    <v-hover
      v-if="
        type !== 'datepicker' &&
        type !== 'daterange' &&
        type !== 'multiple' &&
        type !== 'picker'
      "
      v-slot="{ hover }"
    >
      <v-select
        v-model="selectedData"
        :items="items"
        :placeholder="placeholder"
        :item-text="'label'"
        :item-value="'value'"
        :menu-props="{ bottom: true, offsetY: true }"
        :disabled="disabled"
        :rules="rules"
        persistent-hint
        :hint="item ? item.hint : ''"
        :background-color="
          hover ? 'rgba(42, 111, 242, 0.1)' : 'rgba(146, 168, 210, 0.15)'
        "
        append-icon="mdi-chevron-down"
        class="select-style"
        solo
        flat
        return-object
        @change="onSelect"
      />
    </v-hover>
    <v-menu
      v-if="type === 'datepicker'"
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      min-width="auto"
      transition="scale-transition"
      offset-y
    >
      <template #activator="{ on, attrs }">
        <v-hover v-slot="{ hover }">
          <v-text-field
            v-model="dateFormatted"
            v-bind="attrs"
            :disabled="disabled"
            :rules="rules"
            :background-color="
              hover ? 'rgba(42, 111, 242, 0.1)' : 'rgba(146, 168, 210, 0.15)'
            "
            class="select-style"
            autocomplete="off"
            persistent-hint
            :hint="item ? item.hint : ''"
            solo
            flat
            readonly
            v-on="on"
            @input="$emit('input', $event)"
          >
            <template #append>
              <img :src="calendarIcon" />
            </template>
          </v-text-field>
        </v-hover>
      </template>
      <v-date-picker
        v-model="date"
        no-title
        scrollable
        @input="menu = false"
        @change="onSelectDate"
      />
    </v-menu>
    <v-menu
      v-if="type === 'daterange'"
      ref="menu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="auto"
    >
      <template #activator="{ on, attrs }">
        <v-hover v-slot="{ hover }">
          <v-text-field
            v-model="dateRangeFormatted"
            placeholder="From      -      To"
            v-bind="attrs"
            :disabled="disabled"
            :rules="rules"
            :background-color="
              hover ? 'rgba(42, 111, 242, 0.1)' : 'rgba(146, 168, 210, 0.15)'
            "
            class="select-style"
            autocomplete="off"
            :hint="item ? item.hint : ''"
            persistent-hint
            solo
            flat
            readonly
            v-on="on"
          >
            <template #prepend>
              <img :src="calendarIcon" />
            </template>
          </v-text-field>
        </v-hover>
      </template>
      <v-date-picker
        v-model="dates"
        range
        no-title
        scrollable
        @change="onDateRange"
      />
    </v-menu>
    <v-hover v-if="type === 'multiple'" v-slot="{ hover }">
      <v-select
        v-model="selectedData"
        :items="items"
        :item-text="'label'"
        :item-value="'value'"
        multiple
        :menu-props="{ bottom: true, offsetY: true }"
        :disabled="disabled"
        :rules="rules"
        :hint="item ? item.hint : ''"
        persistent-hint
        :background-color="
          hover ? 'rgba(42, 111, 242, 0.1)' : 'rgba(146, 168, 210, 0.15)'
        "
        append-icon="mdi-chevron-down"
        class="select-style"
        solo
        flat
        return-object
        @change="onSelect"
      />
    </v-hover>
    <!-- PICKER TYPE -->
    <v-hover v-if="type === 'picker'" v-slot="{ hover }">
      <v-select
        v-model="selectedData"
        :items="items"
        :item-text="'label'"
        :item-value="'value'"
        :menu-props="{ bottom: true, offsetY: true }"
        :disabled="disabled"
        :rules="rules"
        persistent-hint
        :hint="item ? item.hint : ''"
        :background-color="
          hover ? 'rgba(42, 111, 242, 0.1)' : 'rgba(146, 168, 210, 0.15)'
        "
        append-icon="mdi-chevron-down"
        class="select-style"
        solo
        flat
        return-object
        @change="onSelect"
      >
        <template #item="{ item }">
          <div>{{ item.label }}</div>
          <v-spacer></v-spacer>
          <v-list-item-action class="mr-n2" @click.stop>
            <v-btn icon @click.stop.prevent="edit(item)">
              <img src="../assets/images/edit-small-icon.svg" alt="" />
            </v-btn>
          </v-list-item-action>
          <v-list-item-action @click.stop>
            <v-btn icon @click.stop.prevent="onDelete(item)">
              <img src="../assets/images/delete-small-icon.svg" alt="" />
            </v-btn>
          </v-list-item-action>
        </template>
        <template #append-item>
          <v-divider class="mb-2"></v-divider>
          <v-list-item @click="addNew">
            <div class="mr-2">
              <img src="../assets/images/plus-icon.svg" alt="" />
            </div>
            <div class="mt-n1">Add New</div>
          </v-list-item>
        </template>
      </v-select>
    </v-hover>
    <v-dialog
      v-model="addPickerDialog"
      width="542"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <v-card class="card pt-7 pb-10">
        <div class="pl-12 pr-8 d-flex justify-space-between align-center">
          <div class="title_h3">
            {{ editPicker ? 'Edit' : 'Add' }} Exempt Sales Plan
          </div>
          <div>
            <v-btn icon @click="onPickerCancel">
              <v-icon color="#909FBA"> mdi-close </v-icon>
            </v-btn>
          </div>
        </div>
        <v-card
          v-if="!editPicker"
          flat
          color="rgba(42, 111, 242, 0.1)"
          class="mt-8 mx-12 pa-5 rounded-lg d-flex align-center"
        >
          <div class="mr-4">
            <img src="~/assets/images/misc-icon.svg" alt="" />
          </div>
          <div class="subtext">
            You must prerate and submit the plan to Board of Elections using
            <span class="dodger-blue">CRO-2600 form</span> and get an approval
            in advance of the event.
          </div>
        </v-card>
        <div class="mx-12 mt-8">
          <label>Plan Description</label>
          <v-hover v-slot="{ hover }">
            <v-text-field
              v-model="pickerDescription"
              :background-color="
                hover ? 'rgba(42, 111, 242, 0.1)' : 'rgba(146, 168, 210, 0.15)'
              "
              solo
              flat
            />
          </v-hover>
          <label>Plan Submission Date</label>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            min-width="auto"
            transition="scale-transition"
            offset-y
          >
            <template #activator="{ on, attrs }">
              <v-hover v-slot="{ hover }">
                <v-text-field
                  v-model="dateFormatted"
                  v-bind="attrs"
                  :background-color="
                    hover
                      ? 'rgba(42, 111, 242, 0.1)'
                      : 'rgba(146, 168, 210, 0.15)'
                  "
                  solo
                  flat
                  v-on="on"
                  @input="$emit('input', $event)"
                >
                  <template #append>
                    <img :src="calendarIcon" />
                  </template>
                </v-text-field>
              </v-hover>
            </template>
            <v-date-picker
              v-model="date"
              no-title
              scrollable
              @input="menu = false"
            />
          </v-menu>
        </div>
        <div class="text-center mt-6">
          <v-btn
            large
            class="cancel-button elevation-0"
            @click="onPickerCancel"
          >
            <span class="cancel-text">Cancel</span>
          </v-btn>
          <EFButton class="mx-4" large @el-onclick="onPickerSave">
            Save {{ editPicker ? 'Changes' : 'plan' }}
          </EFButton>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="deletePickerDialog"
      width="450"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <v-card class="card pt-7 pb-10">
        <div class="pl-10 pr-8 d-flex justify-space-between align-center">
          <div class="title_h3">Delete Exempt Sales Plan</div>
          <div>
            <v-btn icon @click="deletePickerDialog = false">
              <v-icon color="#909FBA"> mdi-close </v-icon>
            </v-btn>
          </div>
        </div>
        <div class="py-10 text-center text_h3">
          Are you sure you want to delete this plan?
        </div>
        <div class="text-center">
          <v-btn
            large
            class="cancel-button elevation-0"
            @click="deletePickerDialog = false"
          >
            <span class="cancel-text">Cancel</span>
          </v-btn>
          <EFButton class="mx-4" large @el-onclick="onPickerDelete">
            Yes, delete
          </EFButton>
        </div>
      </v-card>
    </v-dialog>

    <!-- Conditional Delete in picker type -->
    <!-- <v-dialog
      v-model="deletePickerDialog"
      width="542"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <v-card class="card pt-7 pb-10">
        <div class="pl-10 pr-8 d-flex justify-space-between align-center">
          <div class="title_h3">Delete Exempt Sales Plan</div>
          <div>
            <v-btn icon @click="deletePickerDialog = false">
              <v-icon color="#909FBA"> mdi-close </v-icon>
            </v-btn>
          </div>
        </div>
        <div class="py-10 px-10 text-center subtext">
          Some transactions refer to this plan. In order to proceed with the deletion, you need to remove this plan from them or delete them.
        </div>
        <div class="text_h4 mt-8 mb-4">Reports to be Amended</div>
        <div v-for="i in 2" :key="i">
          <v-divider class="divider"></v-divider>
          <div class="d-flex justify-space-between mx-10 py-2">
            <div class="data-text">
              <span class="mr-8">07-30-2022</span>
              <span>$10.50</span>
            </div>
            <div>
              <v-menu offset-y transition="slide-y-transition">
                <template #activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on"> mdi-dots-vertical </v-icon>
                </template>
                <v-list>
                  <v-list-item @click="onPickerDeleteEdit">
                    <v-list-item-title>
                      <div class="text_small">Edit</div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </div>
          <v-divider
            v-if="i===2"
            class="divider"
          ></v-divider>
        </div>
        <div class="text-center mt-10">
          <v-btn
            large
            class="cancel-button elevation-0"
            @click="deletePickerDialog = false"
          >
            <span class="cancel-text">Cancel</span>
          </v-btn>
          <EFButton class="mx-4" large @el-onclick="onPickerDelete">
            Yes, delete
          </EFButton>
        </div>
      </v-card>
    </v-dialog> -->
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    type: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: () => [],
    },
    items: {
      type: Array,
      default() {
        return [];
      },
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      date: '',
      calendarIcon: require('../assets/images/calendar-icon.svg'),
      menu: false,
      selectedData: '',

      dates: [],

      // picker
      addPickerDialog: false,
      pickerDescription: '',
      editPicker: false,
      pickedItem: {},
      deletePickerDialog: false,
    };
  },
  computed: {
    dateFormatted: {
      get() {
        return this.formatDate(this.date);
      },
      set(value) {
        this.$emit('input', value);
      },
    },
    dateRangeFormatted() {
      return this.dates.join(' ~ ');
    },
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  mounted() {
    this.initSelected();
  },
  methods: {
    // picker type
    onDelete(item) {
      this.pickedItem = item;
      this.deletePickerDialog = true;
    },
    onPickerDelete() {
      const index = this.item.options.findIndex(
        (el) => el.value === this.pickedItem.value,
      );
      // cant mutate item directly, so emit and change items value in parent component (EFFormItems)
      this.$nuxt.$emit('onPickerDelete', {
        item: this.item,
        index,
      });
      this.deletePickerDialog = false;
    },
    // for conditional delete
    onPickerDeleteEdit() {},
    addNew() {
      console.log(this.item);
      this.addPickerDialog = true;
    },
    edit(item) {
      console.log(item);
      this.pickedItem = item;
      this.addPickerDialog = true;
      this.editPicker = true;
      this.pickerDescription = item.label;
      this.date = item.date;
    },
    onPickerSave() {
      if (this.editPicker) {
        // searching index through value
        const index = this.item.options.findIndex(
          (el) => el.value === this.pickedItem.value,
        );
        this.$nuxt.$emit('onPickerEdit', {
          item: this.item,
          index,
          pickerDescription: this.pickerDescription,
          date: this.date,
        });
      } else {
        this.$nuxt.$emit('onPickerAdd', {
          item: this.item,
          label: this.pickerDescription,
          value: this.item.options.length,
          date: this.date,
        });
      }
      this.onPickerCancel();
    },
    onPickerCancel() {
      this.addPickerDialog = false;
      this.editPicker = false;
      this.pickerDescription = '';
      this.date = '';
      this.pickedItem = {};
    },

    initSelected() {
      if (this.item) {
        const selected = this.item.selected;

        if (selected) {
          /* eslint-disable */
          this.item.value = selected;

          this.selectedData = selected;
          this.value = selected;

          if (this.item.variant !== 'datepicker') {
            this.onSelect();
          }
        }

        if (this.item.variant === 'datepicker') {
          if (selected) {
            /* eslint-disable */
            this.item.data = selected;

            this.data = selected;
            this.date = selected;
          }
        }
      }
    },
    formatDate(date) {
      if (!date) {
        return null;
      }

      // TODO: check with SJ
      /* eslint-disable */
      console.log(`>>> date:`, date);
      return date;
      // const { year, month, day } = date.split('-');
      // return `${day}-${month}-${year}`;
    },
    onSelect() {
      // TODO: check with SJ
      /* eslint-disable */
      this.item ? (this.item.data = this.selectedData) : '';

      console.log('this.selectedData: ', this.selectedData);
      console.log('this.item:', this.item);
      this.$emit('onChange', {
        selectedData: this.selectedData,
        item: this.item,
      });
    },
    onSelectDate() {
      // TODO: check with SJ
      /* eslint-disable */
      this.item ? (this.item.data = this.date) : '';
      this.$emit('onChange', {
        selectedData: this.date,
        item: this.item,
      });
    },
    onDateRange() {
      console.log(this.dates);
      this.item ? (this.item.data = this.dates) : '';
      this.$emit('onChange', {
        selectedData: this.dates,
        item: this.item,
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.dodger-blue {
  color: var(--dodger-blue);
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Biscay */

  color: var(--biscay);
}
.text_h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* Biscay */

  color: var(--biscay);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  /* Black Pearl */

  color: var(--black-pearl);
}
.data-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  letter-spacing: 0.02em;

  /* Big Stone */

  color: var(--big-stone);
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
// TODO: please consider to change these colors in theme
::v-deep {
  label {
    font-family: var(--font-family-callout);
    font-style: var(--font-style-callout);
    font-weight: var(--font-weight-callout);
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #596780;
  }
  .select-style {
    font-family: var(--font-family-callout);
    font-style: var(--font-style-callout);
    font-weight: var(--font-weight-callout);
    font-size: 14px;
    line-height: 22px;
    /* or 160% */

    letter-spacing: 0.02em;
    color: var(--big-stone);
  }
  .ef-select-disabled {
    cursor: not-allowed;
  }
  .primary--text {
    color: var(--dodger-blue) !important;
    caret-color: var(--dodger-blue) !important;
  }
  .accent {
    background-color: var(--dodger-blue) !important;
    border-color: var(--dodger-blue) !important;
  }
  .accent--text {
    color: var(--dodger-blue) !important;
    caret-color: var(--dodger-blue) !important;
  }
  .v-icon {
    color: #909fba !important;
  }
  &:hover {
    .v-icon {
      color: #596780 !important;
    }
  }
  .mdi-calendar-range-outline::before {
    content: '\F0B68';
    cursor: auto;
  }
  .ef-select-list {
    .v-list-item {
      .v-list-item__content {
        .v-list-item__title {
          color: var(--big-stone);
        }
      }
      &:hover {
        &::before {
          border-radius: 6px;
          background: #17356f0a;
        }
      }
    }
  }
}
</style>
