<template>
  <div class="text-center">
    <v-snackbar v-model="snackbar" :color="color" bottom right max-width="250">
      <v-btn
        v-if="color === 'var(--radical-red)'"
        class="mr-1"
        small
        icon
        @click="snackbar = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <span class="white--text snackbar-text">
        {{ message }}
      </span>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      snackbar: false,
      message: '',
      color: '',
    };
  },
  mounted() {
    this.$nuxt.$store.subscribe((mutation) => {
      // (mutation, state)
      if (mutation.type === 'module/snackbar/showMessage') {
        this.message = mutation.payload.message;
        this.color = mutation.payload.error
          ? `var(--radical-red)`
          : `var(--bay-of-many)`;
        this.snackbar = true;
      }
    });
  },
};
</script>

<style></style>
