<template>
  <div>
    <v-btn width="72" height="26" :class="[status]" color="color" depressed>
      <label>{{ title }}</label>
    </v-btn>
  </div>
</template>
<script lang="ts">
export default {
  name: 'EfStatusLabel',
  props: {
    title: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'indigo',
    },
    status: {
      type: String,
      default: 'draft',
    },
  },
};
</script>

<style lang="scss" scoped>
.draft {
  color: #909fba;
  border: 2px solid rgba(144, 159, 186, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}
.ready {
  border: 2px solid rgba(42, 111, 242, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  color: #2a6ff2;
}
.pending {
  border: 2px solid rgba(144, 159, 186, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  color: #424c5f;
}
.sent {
  background: rgba(42, 111, 242, 0.1) !important;
  border-radius: 6px;
  color: #2a6ff2;
}
.accepted {
  background: var(--mountain-meadow) var(--p9) !important; //'var(--p9)}'
  border-radius: 6px;
  color: var(--java);
}

.rejected {
  background: rgba(251, 64, 90, 0.09) !important;
  border-radius: 6px;
  color: #fb405a;
}
label {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  position: static;
  width: 56px;
  height: 10px;
  left: 8px;
  top: 8px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
</style>
