<template>
  <v-container>
    <v-tabs
      v-model="tabs"
      color="var(--biscay)"
      slider-color="var(--radical-red)"
      hide-slider="false"
      vertical
    >
      <v-row no-gutters>
        <v-col cols="3" md="3" sm="4">
          <v-tab v-for="(step, i) in steps" :key="i">
            {{ step.title }}
          </v-tab>
        </v-col>

        <v-col md="9" cols="9" sm="7">
          <v-card elevation="0" max-width="700px">
            <v-tabs-items v-model="tabs" hide-slider>
              <!--              <EFCardButtonIconDownload style="position: absolute; left: 50%" />-->
              <v-tab-item v-for="(step, i) in steps" :key="i">
                <div v-if="step.demo">
                  {{ step.content }}
                </div>
                <component :is="step.content" v-else />
              </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-col>
      </v-row>
    </v-tabs>
  </v-container>
</template>
<script>
import EFFormTitle from './EFFormTitle';

export default {
  name: 'TabsVertical',
  components: { EFFormTitle },
  props: {
    steps: {
      type: Array,
    },
    type: {
      type: String,
      default() {
        return '';
      },
    },
    orientation: {
      type: String,
    },
    activeTab: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      defaultTab: 0,
      stepperTabs: 0,
    };
  },
  computed: {
    tabs: {
      get() {
        if (this.type === 'stepper') {
          return this.stepperTabs;
        } else {
          return this.defaultTab;
        }
      },
      set(val) {
        if (this.type === 'stepper') {
          this.stepperTabs = val;
        } else {
          this.defaultTab = val;
        }
      },
    },
  },
  mounted() {
    if (this.type === 'stepper') {
      this.stepperTabs = this.activeTab - 1;
    }
    this.$nuxt.$on('activeTab', (res) => {
      this.stepperTabs = res - 1;
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('activeTab');
  },
};
</script>

<style scoped lang="scss">
.v-tab {
  color: var(--bali-hai) !important;
  text-transform: inherit;
  letter-spacing: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: left;
  justify-content: left;

  &:before {
    opacity: 0 !important;
  }

  &:hover {
    color: var(--queen-blue) !important;
  }

  &.v-tab--active {
    color: var(--biscay) !important;

    &:hover {
      color: var(--queen-blue) !important;
    }
  }
}

.v-tabs-items .v-tab-item v-text-field input {
  left: 50px;
  position: absolute;
  justify-content: left;
  width: 700px;
}

//.v-tab.v-tab {
//  padding-bottom: 17px;
//  border-bottom: 3px solid var(--black-squeeze);
//}
//.col {
//  &.flex {
//    display: flex;
//    justify-content: flex-end;
//  }
//}
//.v-slide-group__content {
//  margin: auto !important;
//  flex-grow: 0 !important;
//}

//.v-tabs-bar__content {
//  flex-wrap: wrap  !important;
//  width: 100%  !important;
//}
//div.v-tabs-bar {
//  height: auto  !important;
//}
</style>
