<template>
  <div>
    <v-tabs
      v-model="tabs"
      :vertical="orientation === 'vertical'"
      color="var(--biscay)"
      slider-color="var(--radical-red)"
      :class="{ stepper: type === 'stepper', default: type !== 'stepper' }"
    >
      <v-tab
        v-for="(step, i) in steps"
        :key="i"
        :disabled="type === 'stepper' && i !== tabs"
        @change="tabChange(i)"
      >
        <span v-show="type === 'stepper'" class="mr-1">
          <v-icon
            v-if="tabs > i"
            small
            :color="tabs == i ? 'var(--biscay)' : ''"
            >mdi-check</v-icon
          >
          <span v-else>{{ i + 1 }}.</span>
        </span>
        {{ step.title }}
      </v-tab>
      <v-tabs-items v-model="tabs" hide-slider>
        <v-tab-item v-for="(step, i) in steps" :key="i">
          <div :class="{ 'pa-5': type === 'stepper' }">
            <div v-if="step.demo">
              {{ step.content }}
            </div>
            <component
              :is="step.content"
              v-else-if="step.props"
              :type="step.props"
            />
            <component :is="step.content" v-else />
          </div>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  props: {
    props: {
      type: String,
      default: '',
    },
    steps: {
      type: Array,
    },
    type: {
      type: String,
      default() {
        return '';
      },
    },
    orientation: {
      type: String,
    },
    activeTab: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      defaultTab: 0,
      stepperTabs: 0,
    };
  },
  computed: {
    tabs: {
      get() {
        if (this.type === 'stepper') {
          return this.stepperTabs;
        } else {
          return this.defaultTab;
        }
      },
      set(val) {
        if (this.type === 'stepper') {
          this.stepperTabs = val;
        } else {
          this.defaultTab = val;
        }
      },
    },
  },
  mounted() {
    if (this.type === 'stepper') {
      this.stepperTabs = this.activeTab - 1;
    }
    this.$nuxt.$on('activeTab', (res) => {
      this.stepperTabs = res - 1;
    });
    this.$nuxt.$on('activeDefaultTab', (res) => {
      console.log('response >>  ', res, 'defaultTab >> ', this.defaultTab);
      this.defaultTab = res;
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('activeTab');
    this.$nuxt.$off('activeDefaultTab');
  },
  methods: {
    tabChange(i) {
      this.$emit('selctedTab', i);
    },
  },
};
</script>

<style scoped lang="scss">
::v-deep {
  .v-tabs-bar {
    height: 60px;
  }
  .v-tab {
    color: #8a99b6;
    text-transform: inherit;
    letter-spacing: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    &:before {
      opacity: 0 !important;
    }
    &:hover {
      color: var(--queen-blue) !important;
    }
    &.v-tab--active {
      color: var(--biscay);
      &:hover {
        color: var(--queen-blue) !important;
      }
    }
  }

  .v-tab.v-tab {
    padding-bottom: 17px;
    border-bottom: 3px solid var(--black-squeeze);
  }
  .col {
    &.flex {
      display: flex;
      justify-content: flex-end;
    }
  }
  .stepper {
    .v-slide-group__content {
      margin: auto !important;
      flex-grow: 0 !important;
    }
  }
  .default {
    .v-slide-group__content {
      margin: auto !important;
      // flex-grow: 0 !important;
    }
  }

  //.v-tabs-bar__content {
  //  flex-wrap: wrap  !important;
  //  width: 100%  !important;
  //}
  //div.v-tabs-bar {
  //  height: auto  !important;
  //}
}
</style>
