<template>
  <div
    :class="[
      `ef-text-input ${disabled ? `ef-text-input-disabled` : ``} ${
        isError ? `ef-text-input-error` : ``
      }`,
    ]"
  >
    <div class="d-flex justify-space-between align-center">
      <label>{{ label }}</label>
      <div v-show="item ? item.tooltip : ''">
        <img :src="require('~/assets/images/input-tooltip-icon.svg')" alt="" />
      </div>
      <div v-if="item ? item.labelRight : ''">
        <label>{{ item.labelRight }}</label>
      </div>
    </div>
    <v-text-field
      v-if="typeVariant === 'email'"
      v-model="data"
      type="text"
      solo
      flat
      :disabled="disabled"
      :rules="[
        (v) => !!v || 'Email is required',
        (v) => /.+@.+\..+/.test(v) || 'Email must be valid',
      ]"
      :value="value"
      :placeholder="placeholder"
      persistent-hint
      :error-messages="errorMessages"
      :counter="item ? item.counter : null"
      :required="required"
      class="placeholer-style"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    />
    <div v-else-if="typeVariant === 'amountRange'" class="d-flex align-center">
      <img class="mt-3 mr-3" src="../assets/images/usd-small-icon.svg" alt="" />
      <v-row :disabled="disabled" class="customInput">
        <v-col cols="4">
          <input
            v-model="field1"
            type="number"
            placeholder="From"
            class="field1"
            :disabled="disabled"
            @input="amountChange"
          />
        </v-col>
        <v-col cols="2">
          <div style="color: grey" class="px-3">-</div>
        </v-col>
        <v-col cols="4">
          <input
            v-model="field2"
            type="number"
            placeholder="To"
            class="field2"
            :disabled="disabled"
            @input="amountChange"
          />
        </v-col>
      </v-row>
    </div>
    <v-text-field
      v-else-if="typeVariant === 'amount'"
      v-model="data"
      type="number"
      solo
      flat
      :disabled="disabled"
      :rules="rules"
      :value="value"
      :placeholder="placeholder"
      :hint="item ? item.hint : ''"
      persistent-hint
      :error-messages="errorMessages"
      :counter="item ? item.counter : null"
      :required="required"
      class="amount"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    >
      <template #prepend-inner>
        <img :src="require('../assets/images/usd-icon.svg')" />
      </template>
    </v-text-field>
    <v-text-field
      v-else-if="typeVariant === 'start_amount'"
      v-model="data"
      type="number"
      solo
      flat
      :disabled="disabled"
      :rules="rules"
      :value="value"
      :placeholder="placeholder"
      :hint="item ? item.hint : ''"
      persistent-hint
      :error-messages="errorMessages"
      :counter="item ? item.counter : null"
      :required="required"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    >
      <template #prepend-inner>
        <img :src="require('../assets/images/usd-small-icon.svg')" />
      </template>
    </v-text-field>
    <v-text-field
      v-else-if="typeVariant === 'end_amount'"
      v-model="data"
      type="number"
      solo
      flat
      :disabled="disabled"
      :rules="rules"
      :value="value"
      :placeholder="placeholder"
      :hint="item ? item.hint : ''"
      persistent-hint
      :error-messages="errorMessages"
      :counter="item ? item.counter : null"
      :required="required"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    >
      <template #prepend-inner>
        <img :src="require('../assets/images/usd-small-icon.svg')" />
      </template>
    </v-text-field>
    <v-textarea
      v-else-if="typeVariant === 'textarea'"
      v-model="data"
      solo
      flat
      :value="value"
      :rules="rules"
      :counter="item ? item.counter : null"
      :hint="item ? item.hint : ''"
      :placeholder="placeholder"
      rows="2"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    ></v-textarea>
    <v-text-field
      v-else-if="typeVariant === 'percentage'"
      v-model="data"
      type="number"
      solo
      flat
      :disabled="disabled"
      :rules="rules"
      :value="value"
      :placeholder="placeholder"
      :hint="item ? item.hint : ''"
      persistent-hint
      :error-messages="errorMessages"
      :counter="item ? item.counter : null"
      :required="required"
      class="placeholer-style"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    >
      <template #append>
        <img :src="require('../assets/images/percentage-icon.svg')" />
      </template>
    </v-text-field>
    <v-text-field
      v-else
      v-model="data"
      :type="
        typeVariant !== 'password' ? typeVariant : show ? 'text' : 'password'
      "
      solo
      flat
      :disabled="disabled"
      :rules="rules"
      :value="value"
      :placeholder="placeholder"
      :hint="item ? item.hint : ''"
      persistent-hint
      :error-messages="errorMessages"
      :counter="item ? item.counter : null"
      :required="required"
      class="placeholer-style"
      @keyup.enter="$emit('getItem', item)"
      @input="inputChange"
    >
      <template v-if="typeVariant === 'password'" #append>
        <a style="text-decoration: none" @click="show = !show">
          <img :src="require('../assets/images/eye-icon.svg')" />
        </a>
      </template>
    </v-text-field>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: () => [],
    },
    errorMessages: {
      type: Array,
      default: () => [],
    },
    isError: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      data: '',
      field1: '',
      field2: '',
      typeVariant: '',
      show: false,
    };
  },
  created() {
    this.initData();
  },
  beforeMount() {
    this.initItems();
  },
  methods: {
    initData() {
      this.data = this.value;
    },
    initItems() {
      // TODO: check with SJ
      /* eslint-disable */
      this.item
        ? (this.typeVariant = this.item.type)
        : (this.typeVariant = this.type);
    },
    inputChange(val) {
      console.log(' >> input field value changes watch', val);
      this.item ? (this.item.value = this.data) : '';
      this.$emit('getItem', this.item);
    },
    amountChange(val) {
      // console.log(val, this.field1, '   ', this.field2)
      const range = [];
      range[0] = this.field1;
      range[1] = this.field2;
      this.item ? (this.item.value = this.range) : '';
      this.$emit('getItem', this.item);
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .customInput {
    background: rgba(146, 168, 210, 0.15);
    border-radius: 7px;
    margin-top: 0px;
    .field1 {
      width: 70px;
    }
    .field2 {
      width: 70px;
    }
    input[type='number'] {
      // padding: 11px 10px;
      outline: none;
      // line-height: 14px;
      font-family: var(--font-family-callout);
      font-style: var(--font-style-callout);
      font-weight: var(--font-weight-callout);
      font-size: 14px;
      line-height: 22px;
      /* or 160% */

      letter-spacing: 0.02em;
      color: var(--big-stone);
    }

    input::placeholder {
      font-family: var(--font-family-callout);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;
      /* Heather */
      color: var(--heather) !important;
    }
  }
  .v-application--is-ltr .v-messages {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Bali Hai */

    color: var(--bali-hai);
  }

  .v-text-field.error--text {
    color: var(--radical-red) !important;
  }

  .v-input--has-state .v-input__slot {
    background: rgba(251, 64, 90, 0.09) !important;
  }

  .v-text-field.error--text {
    .v-input__control {
      .v-input__slot {
        background: rgba(251, 64, 90, 0.09) !important;
      }
    }
  }

  .amount {
    .v-input__slot {
      height: 72px;
    }
  }

  .amount input::placeholder {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    letter-spacing: 0.02em;
    /* Heather */
    color: var(--heather) !important;
  }

  .placeholer-style input::placeholder {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    /* Heather */
    color: var(--heather) !important;
  }

  .ef-text-input.ef-text-input-disabled {
    cursor: not-allowed;
  }

  // to remove spin button in Number text field
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .v-text-field.v-text-field--solo .v-input__control input {
    font-family: var(--font-family-callout);
    font-style: var(--font-style-callout);
    font-weight: var(--font-weight-callout);
    font-size: 14px;
    line-height: 22px;
    /* or 160% */

    letter-spacing: 0.02em;
    color: var(--big-stone);
  }

  label {
    font-family: var(--font-family-callout);
    font-style: var(--font-style-callout);
    font-weight: var(--font-weight-callout);
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #596780;
  }

  .ef-text-input {
    width: 100% !important;

    label {
      font-family: var(--font-family-callout);
      font-style: var(--font-style-callout);
      font-weight: var(--font-weight-callout);
      font-size: 14px;
      line-height: 35px;
      letter-spacing: 0.02em;
      color: #596780;
    }
    .v-text-field {
      .v-input__control {
        .v-input__slot {
          color: var(--big-stone);
          font-family: var(--font-family-callout);
          font-style: var(--font-style-callout);
          font-weight: var(--font-weight-callout);
          font-size: 14px;
          border-radius: 7px;
          //background: rgba(146, 168, 210, 0.15) !important;
          //&:focus,
          //&:focus-within {
          //  background: rgba(42, 111, 242, 0.15) !important;
          //}
          //&:hover {
          //  background: rgba(42, 111, 242, 0.1) !important;
          //}
        }
      }
    }
  }

  .v-text-field .v-input__control .v-input__slot {
    background: rgba(146, 168, 210, 0.15) !important;
    &:focus,
    &:focus-within {
      background: rgba(42, 111, 242, 0.15) !important;
    }
    &:hover {
      background: rgba(42, 111, 242, 0.1) !important;
    }
  }

  .ef-text-input-disabled {
    .v-text-field {
      .v-input__control {
        .v-input__slot {
          background: rgba(145, 167, 210, 0.08) !important;
          color: var(--big-stone);
        }
      }
    }
  }

  .ef-text-input-error {
    .v-text-field {
      .v-input__control {
        .v-input__slot {
          background: rgba(251, 64, 90, 0.09) !important;
          color: var(--big-stone);
        }
      }
    }
  }
}
</style>
