<template>
  <div>
    <EFContainer title="Update Receipt">
      <EFCard class="px-12 pb-12 pt-9">
        <EFReceiptForm
          v-if="receipt"
          :option-index="optionIndex"
          :receipt="receipt"
        />
      </EFCard>
    </EFContainer>
  </div>
</template>

<script>
import { accessor } from '../../store';
import EFCard from '../../components/EFContainer/EFCard.vue';
import EFReceiptForm from '../../components/receipts/EFReceiptForm.vue';

export default {
  components: {
    EFCard,
    EFReceiptForm,
  },
  data() {
    return {
      optionIndex: 0,
      receipt: null,
    };
  },
  async beforeMount() {
    await accessor.restored;
    const ReceiptsModule = accessor.receipts;
    this.receipt = await ReceiptsModule.getReceipt(this.$route.params.id);
    console.log(
      '❗ . file: _id.vue . line 33 . beforeMount . this.receipt',
      this.receipt,
    );
  },
};
</script>

<style lang="scss" scoped>
.root-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: var(--biscay);
}
</style>
