<template>
  <EFReceipts />
</template>

<script>
import EFReceipts from '../../components/receipts/EFReceipts.vue';
export default {
  components: {
    EFReceipts,
  },
};
</script>

<style></style>
