<template>
  <div class="mt-10">
    <v-row>
      <v-col cols="6">
        <v-card
          elevation="0"
          width="462"
          height="65"
          class="inner-card py-3 pl-6"
        >
          <v-row>
            <v-col cols="6">
              <div class="caption mb-1">Bank</div>
              <div class="subtext">Bank of America</div>
            </v-col>
            <v-col cols="6">
              <div class="caption mb-1">Account Code</div>
              <div class="subtext">00078541</div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="6">
        <EFForm class="form-class mt-n5" name="accounts" :items="items" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          id: 0,
          type: 'start_amount',
          label: 'Begin balance',
          cols: 6,
        },
        {
          id: 1,
          type: 'end_amount',
          label: 'End balance',
          cols: 6,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.inner-card {
  background: var(--white);
  /* Heather */

  border: 1px solid var(--heather);
  box-sizing: border-box;
  border-radius: 8px;
}
.caption {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;

  /* Comet */

  color: var(--comet);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;

  /* Big Stone */

  color: var(--big-stone);
}
</style>
