<template>
  <div class="mt-10">
    <EFStatusBlock :type="type" />
  </div>
</template>

<script>
import { ReportStatusKey } from '../../../../api/electafile-api/types/reports';
import EFStatusBlock from '../../components/status/EFStatusBlock.vue';
export default {
  components: {
    EFStatusBlock,
  },
  props: {
    type: {
      type: String,
      default: ReportStatusKey.DRAFT,
    },
  },
  data() {
    return {
      ReportStatusKey,
    };
  },
  created() {
    console.log('type >>  ', this.type);
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .inner-card {
    background: var(--white);
    /* Heather */

    border: 1px solid var(--heather);
    box-sizing: border-box;
    border-radius: 8px;
  }
  .caption {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.02em;

    /* Comet */

    color: var(--comet);
  }
  .subtext {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;

    /* Big Stone */

    color: var(--big-stone);
  }
  .pending-subtext {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .cost-text {
    margin-top: 6px;
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;

    /* River Bed */

    color: var(--river-bed);
  }
  .absolute-position {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .form-class {
    width: 462px;
    margin-left: 10px;
  }
  .title_h3 {
    font-family: var(--font-family-page-title);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  .ready_cost {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;

    /* River Bed */

    color: var(--river-bed);
  }
  .small_text {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    text-align: center;
    letter-spacing: 0.02em;
  }
  .declined-background {
    background: #fb405a;
    opacity: 0.05;
  }
  .bali-hai {
    color: var(--bali-hai);
  }
  .dodger-blue {
    color: var(--dodger-blue);
  }
  .comet {
    color: var(--comet);
  }
  .black-pearl {
    color: var(--black-pearl);
  }
  .radical-red {
    color: var(--radical-red);
  }
  .java {
    color: var(--java);
  }
}
</style>
