@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}
