.v-list-item svg path {
  fill-opacity: 0 !important;
  stroke: var(--bermuda-grey) !important;
}
.v-list-item svg circle {
  fill-opacity: 0 !important;
  stroke: var(--bermuda-grey) !important;
}
.v-list-item--active svg path {
  fill-opacity: 0 !important;
  stroke: var(--radical-red) !important;
}
.v-list-item--active svg circle {
  fill-opacity: 0 !important;
  stroke: var(--radical-red) !important;
}
