.v-list-item .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: var(--biscay) !important;

}

.v-list-item .ef-svg-icon svg circle {
  fill-opacity: 0 !important;
  fill:  white !important;
}
.v-list-item .ef-svg-icon svg rect {
  fill-opacity: 1 !important;

}
.v-list-item--active .ef-svg-icon svg path {
  fill-opacity: 0 !important;
  stroke: white !important;
}

.v-list-item--active .ef-svg-icon svg circle {
  fill-opacity: 0 !important;
  stroke: #17356F !important;
  fill: var(--radical-red) !important;
}
.v-list-item--active .ef-svg-icon svg rect {
  fill-opacity: 0 !important;
  stroke: white !important;
  fill: var(--radical-red) !important;
}
