// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* Examples - will be removed */
//--body-bg: #1a2733;

/* Text */
//--text-inverse: var(--white);
//--text-dark: var(--white);
//--text-light: var(--white);
//--text-disabled: var(--gray-3);
//--text-muted: var(--gray-3);

/* Backgrounds */
//--bg-1: var(--gray-1);
//--bg-2: #e0e0e0;
//--bg-3: var(--gray-3);
//--bg-4: #677584;
//--bg-5: #1a2733;
//--bg-6: #1c2b3a;
//--bg-7: #677584;
//--bg-inverse: #203449;
//--primary-bg-highlight: #1a2733;

/* Borders */
//--border-base-color: #324457;
//--border-base-alt-color: #324457;

/* Form */
//--input-bg-focus: #1a2733;

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Gilroy&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  /* Fonts */
  /*Gilroy*/
  --font-family-page-title: 'Gilroy';
  --font-style-page-title: normal;
  --font-weight-page-title: 700;
  --font-size-page-title: 30px;

  /* Callout */
  --font-family-callout: 'Manrope';
  --font-style-callout: normal;
  --font-weight-callout: normal;
  --font-size-callout: 18px;

  /* Text */

  /* Form */

  /* Color Palette */
  --white: #ffffff;
  --biscay: #17356F;
  --dodger-blue: #2a6ff2;
  --big-stone: #1b2840;
  --queen-blue: #455d8c;
  --river-bed: #424c5f;
  --comet: #596780;
  --bali-hai: #909fba;
  --heather: #afbed7;
  --radical-red: #fb405a;
  --black-squeeze: #eff3f9;
  --bermuda-grey: #6F82A4;

  --mountain-meadow: #16C89D;
  --java: #20C9A0;
  --black-pearl: #09152D;
  --mystic: #D9DFEA;
  --bay-of-many: #23427E;
  --whisper: #e5e5e5;
  //
  --p9: 17;
}
