<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      :src="require('~/assets/images/sommittee-sidebar.png')"
      :width="462"
      fixed
      app
      class="ef-drawer"
    >
      <div class="mt-10">
        <nuxt-link to="/">
          <ef-icon-svg :icon="electafileLogo" />
        </nuxt-link>
      </div>
      <div v-if="IS_DEBUG" class="mb-10 ml-10">
        <nuxt-link to="/"> logout </nuxt-link>
      </div>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import electafileLogo from '../assets/images/electafileLogo.vue';
import { IS_UI_ONLY, IS_DEBUG } from '../constants/const';
import authZero from '../store/module/authZero';
import EfIconSvg from '~/components/EFIcon';
import { userUtils } from '~/utils/user/user-utils';

export default {
  components: {
    EfIconSvg,
  },
  layout: 'committee',
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      electafileLogo,
      IS_DEBUG,
    };
  },
  mounted() {
    authZero.init(this.$auth);
  },
  beforeMount() {
    if (this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) {
      this.drawer = false;
    } else {
      this.drawer = true;
    }
  },
  methods: {
    async logout() {
      console.log('>>>>user  logout');

      if (IS_UI_ONLY) {
        await this.$router.push({
          path: '/login',
        });
        return;
      }

      await this.$auth.logout({
        returnTo: window.location.origin,
      });

      await userUtils.logout();
    },
  },
};
</script>

<style lang="scss" scoped>
.ef-drawer {
  .v-image__image {
    background-size: cover !important;
    background-position: inherit !important;
  }
}
</style>
