<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      :width="350"
      fixed
      app
      class="secondary"
    >
      <div class="text-center mt-9 mb-10">
        <nuxt-link to="/">
          <ef-icon-svg :icon="electafileLogo" />
        </nuxt-link>
      </div>
      <v-menu v-model="menu" offset-y transition="slide-y-transition">
        <template #activator="{ on, attrs }">
          <div
            v-bind="attrs"
            class="d-flex flex-column align-center mb-10"
            v-on="on"
          >
            <div
              style="width: 164px"
              class="d-flex align-center justify-space-between mb-3 white--text"
            >
              <div class="text-election">2022 Election</div>
              <v-icon style="margin-right: -6px" color="white">
                {{ menu ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
              </v-icon>
            </div>
            <v-card color="var(--dodger-blue)" width="164" height="3" />
          </div>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in electionItems"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-title>
              <div class="small_text">
                {{ item.title }}
              </div>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <div>
            <v-list-item-action>
              <ef-icon-svg :icon="item.icon" size="md" />
            </v-list-item-action>
          </div>

          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template #append>
        <v-list>
          <v-list-item to="/settings" exact>
            <v-list-item-action>
              <ef-icon-svg :icon="settings" size="md" />
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="'Settings'" />
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <Nuxt />
        <EFSnackbar></EFSnackbar>
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import EfIconSvg from '../components/EFIcon';
import electafileLogo from '../assets/images/electafileLogo.vue';
import report from '../assets/images/reports.vue';
import receipts from '../assets/images/receipts.vue';
import dashboard from '../assets/images/dashboard.vue';
import expenditures from '../assets/images/expenditures.vue';
import counterparties from '../assets/images/counterparties.vue';
import settings from '../assets/images/settings.vue';
import authZero from '~/store/module/authZero';
import EFSnackbar from '~/components/EFSnackbar';
// import nuxtLayoutUserStyles from '../assets/variables.scss';
export default {
  // injectStyles: [nuxtLayoutUserStyles],
  components: {
    EfIconSvg,
    EFSnackbar,
  },
  data() {
    return {
      menu: false,
      clipped: false,
      drawer: false,
      fixed: false,
      electafileLogo,
      settings,
      electionItems: [
        { title: 'Election 2022', to: '/election-2022' },
        { title: 'Election 2022', to: '/election-2020' },
      ],
      items: [
        {
          icon: dashboard,
          title: 'Dashboard',
          to: '/',
        },
        {
          icon: report,
          title: 'Reports',
          to: '/reports',
        },
        {
          icon: receipts,
          title: 'Receipts',
          to: '/receipts',
        },
        {
          icon: expenditures,
          title: 'Expenditures',
          to: '/expenditures',
        },
        {
          icon: counterparties,
          title: 'Counterparties',
          to: '/counterparties',
        },
        {
          icon: report,
          title: 'StoryBook',
          to: '/storybook',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    };
  },
  mounted() {
    console.log('>>>>> layout default');
    authZero.init(this.$auth);
  },
  beforeMount() {
    if (this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) {
      this.drawer = false;
    } else {
      this.drawer = true;
    }
  },
};
</script>
<style lang="scss" scoped>
.v-list-item .v-list-item__title {
  color: var(--bermuda-grey) !important;
}
.v-list-item--active .v-list-item__title {
  color: var(--white) !important;
}
.small_text {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--river-bed) !important;
}
.text-election {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.v-menu__content {
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(89, 103, 128, 0.16);
}
</style>

<style lang="scss">
.rounded-dialog {
  border-radius: 24px;
}
.cursor-pointer {
  cursor: pointer;
}
</style>
