<template>
  <v-app>
    <v-container fluid fill-height class="pa-0">
      <div class="content-block">
        <Nuxt />
      </div>
      <v-navigation-drawer
        v-model="drawer"
        :mini-variant="miniVariant"
        clipped
        right
        :src="require('~/assets/images/onboarding-sidebar.svg')"
        :width="546"
        fixed
        app
        class="ef-drawer"
      />
    </v-container>
  </v-app>
</template>

<script>
import authZero from '~/store/module/authZero';

export default {
  data() {
    return {
      drawer: false,
      fixed: false,
      miniVariant: false,
    };
  },
  mounted() {
    authZero.init(this.$auth);
  },
  beforeMount() {
    if (this.$vuetify.breakpoint.xs || this.$vuetify.breakpoint.sm) {
      this.drawer = false;
    } else {
      this.drawer = true;
    }
  },
};
</script>
<style scoped lang="scss">
@import '~vuetify/src/styles/styles.sass';

.content-block {
  flex-grow: 1;
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
  .content-block {
    width: calc(100vw - 546px);
    flex-grow: inherit;
  }
}
</style>
