<template>
  <div>
    <div class="top-position d-flex">
      <div
        v-for="(item, i) in status"
        :key="i"
        :class="item"
        class="cursor-pointer status d-flex align-center justify-center mr-1"
        @click="onStatus(item)"
      >
        {{ item }}
      </div>
    </div>
    <EFContainer
      title="First Quarter Report"
      :back-icon="true"
      :back-component="parentComponent"
    >
      <EFCard>
        <div class="mt-2 relative-position">
          <v-row class="px-5">
            <v-col cols="12">
              <EFTabs :steps="steps" @selctedTab="onChange" />
            </v-col>
          </v-row>
          <div class="d-flex absolute-position">
            <div class="cursor-pointer mr-7 button_small">Preview</div>
            <div
              v-if="
                flag === ReportStatusKey.READY ||
                flag === ReportStatusKey.DECLINED
              "
              class="cursor-pointer mr-5 mt-n3"
            >
              <div class="py-3 px-5 button_small button-background">
                Pay and file to board of elections
              </div>
            </div>
            <div
              v-else-if="flag === ReportStatusKey.ACCEPTED"
              class="cursor-pointer button_small mr-7"
            >
              File Amendment
            </div>
            <div
              v-else-if="flag === ReportStatusKey.REJECTED"
              class="cursor-pointer button_small mr-7"
            >
              Edit
            </div>
            <div class="mt-3">
              <v-menu min-width="100" left transition="slide-y-transition">
                <template #activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on"> mdi-dots-vertical </v-icon>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(menuItem, i) in menuItems"
                    :key="i"
                    @click="menuItemClick(menuItem)"
                  >
                    <v-list-item-title>
                      <div class="text_small">{{ menuItem }}</div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </div>
        </div>
        <v-row justify="center" align="center" class="pt-10 mb-12">
          <v-btn
            large
            class="mr-4 px-6 elevation-0 cancel-button"
            @click="onBack"
            >{{ !activeTab ? 'Cancel' : 'Back' }}</v-btn
          >
          <div @click="onContinue">
            <EFButton class="rounded-lg" large type="primary">
              Continue
            </EFButton>
          </div>
        </v-row>
      </EFCard>
    </EFContainer>
  </div>
</template>

<script>
import EFContainer from '../../../EFContainer/EFContainer.vue';
import EFCard from '../../../EFContainer/EFCard.vue';
import EFReceipts from '../../../receipts/EFReceipts.vue';
import EFExpenditures from '../../../expenditures/EFExpenditures.vue';
import { ReportStatusKey } from '../../../../api/electafile-api/types/reports';
import EFDetails from './EFReportDetails.vue';
import EFAccounts from './EFReportAccounts.vue';

const WrappedReceipts = () => <EFReceipts mode="reports" />;
const WrappedExpenditures = () => <EFExpenditures mode="reports" />;
export default {
  components: {
    EFContainer,
    EFCard,
  },
  props: {
    parentComponent: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      ReportStatusKey,
      steps: [
        { title: 'Details', content: EFDetails, props: '' },
        { title: 'Accounts', content: EFAccounts },
        { title: 'Receipts', content: WrappedReceipts },
        { title: 'Expenditures', content: WrappedExpenditures },
      ],
      activeTab: 0,
      status: [
        'Draft',
        'Ready',
        'Pending',
        'Declined',
        'Sent',
        'Accepted',
        'Rejected',
      ],
      flag: false,
      menuItems: [],
      menuAll: [
        'Download Report Cover PDF',
        'Download Report PDF',
        'Download Report CFD',
        'Delete',
      ],
    };
  },
  created() {
    this.onStatus('Draft');
  },
  methods: {
    onStatus(status) {
      this.flag = status;
      this.steps[0].props = status;
      if (status === 'Sent' || status === 'Accepted' || status === 'Rejected') {
        this.menuItems = this.menuAll;
      } else {
        this.menuItems = this.menuAll.slice(-1);
      }
    },
    menuItemClick() {
      console.log('menu item clicked >>> ');
    },
    onContinue() {
      if (this.activeTab < this.steps.length - 1) {
        this.$nuxt.$emit('activeDefaultTab', ++this.activeTab);
      } else {
        this.activeTab = 0;
        this.$nuxt.$emit('activeDefaultTab', 0);
      }
    },
    onBack() {
      if (this.activeTab !== 0) {
        this.$nuxt.$emit('activeDefaultTab', --this.activeTab);
      } else if (this.activeTab === 0) {
        this.$nuxt.$emit('EFReportsList');
      }
    },
    onChange(tab) {
      this.activeTab = tab;
    },
  },
};
</script>

<style lang="scss" scoped>
.top-position {
  position: absolute;
  top: 40px;
  left: 385px;
}
.status {
  width: 72px;
  height: 26px;
  border-radius: 6px;

  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.Ready {
  /* Dodger Blue 10% */
  border: 2px solid rgba(42, 111, 242, 0.1);
  color: var(--dodger-blue);
}
.Accepted {
  background: rgba(22, 200, 157, 0.09);
  color: var(--java);
}
.Pending {
  border: 2px solid rgba(144, 159, 186, 0.1);
  color: var(--river-bed);
}
.Declined {
  border: 2px solid rgba(251, 64, 90, 0.09);
  color: var(--radical-red);
}
.Sent {
  background: rgba(42, 111, 242, 0.1);
  color: var(--dodger-blue);
}
.Draft {
  border: 2px solid rgba(144, 159, 186, 0.1);
  color: var(--bali-hai);
}
.Rejected {
  background: rgba(251, 64, 90, 0.09);
  color: var(--radical-red);
}
.text_small {
  font-family: var(--font-family-callout);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--river-bed);
}
.v-menu__content {
  border-radius: 8px;
}
.button_small {
  margin-top: 18px;
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.button-background {
  background: #ffffff;
  /* Mystic */

  border: 2px solid #d9dfea;
  border-radius: 8px;
}
.cancel-button {
  border: 2px solid #d9dfea;
  border-radius: 9px;
  background-color: var(--white) !important;
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.absolute-position {
  position: absolute;
  top: 10px;
  right: 15px;
}
.relative-position {
  position: relative;
}
</style>
