<template>
  <div class="mt-10">
    <div v-if="type === 'Draft'" class="d-flex">
      <v-row class="d-flex flex-column" no-gutters>
        <v-card
          elevation="0"
          width="462"
          height="125"
          class="mx-auto inner-card py-3 pl-6"
        >
          <v-row>
            <v-col cols="6">
              <div class="caption mb-1">Committee Name</div>
              <div class="subtext">Ronald Richards Committee</div>
              <div class="caption mt-4 mb-1">Report Period Start Date</div>
              <div class="subtext">01-05-2022</div>
            </v-col>
            <v-col cols="6">
              <!-- <div class="caption mb-1">Board of Elections ID</div>
              <div class="subtext">STA-123456-C-001</div> -->
              <div class="caption mt-4 pt-11 mb-1">Report Period End Date</div>
              <div class="subtext">02-19-2022</div>
            </v-col>
          </v-row>
        </v-card>
        <div class="mx-auto">
          <EFForm class="form-class mt-4" name="draft" :items="DraftItems" />
        </div>
      </v-row>
      <div class="">
        <v-card
          elevation="0"
          width="146"
          height="146"
          class="inner-card d-flex flex-column align-center justify-center"
        >
          <div class="absolute-position">
            <img
              :src="require('~/assets/images/input-tooltip-icon.svg')"
              alt=""
            />
          </div>
          <div class="caption">Submission Cost</div>
          <div class="cost-text">$59.99</div>
        </v-card>
      </div>
    </div>

    <div v-else-if="type === 'Ready'" class="d-flex justify-space-between">
      <div>
        <v-card
          elevation="0"
          width="462"
          height="125"
          class="inner-card py-3 pl-6"
        >
          <v-row>
            <v-col cols="6">
              <div class="caption mb-1">Committee Name</div>
              <div class="subtext">Ronald Richards Committee</div>
              <div class="caption mt-4 mb-1">Report Period Start Date</div>
              <div class="subtext">01-05-2022</div>
            </v-col>
            <v-col cols="6">
              <div class="caption mb-1">Board of Elections ID</div>
              <div class="subtext">STA-123456-C-001</div>
              <div class="caption mt-4 mb-1">Report Period End Date</div>
              <div class="subtext">02-19-2022</div>
            </v-col>
          </v-row>
        </v-card>
        <EFForm class="form-class mt-4" name="ready" :items="ReadyItems" />
      </div>
      <div>
        <v-card
          elevation="0"
          width="462"
          height="462"
          class="
            px-12
            rounded-xl
            d-flex
            flex-column
            align-center
            justify-center
          "
          color="#F6F7FB"
        >
          <img
            class="mb-6"
            :src="require('~/assets/images/reports-status.svg')"
            alt="Reports status"
          />
          <div class="mb-7 title_h3 dodger-blue">Ready for Filing</div>
          <div class="caption mb-1">Submission Cost</div>
          <div class="mb-7 ready_cost">$59.99</div>
          <EFButton large class="rounded-lg mb-6">
            Pay and file to board of elections
          </EFButton>
          <div class="small_text bali-hai mb-1">
            We charge a flat fee for each report or amendment submission.
          </div>
          <div class="small_text dodger-blue">Learn more about Pricing</div>
        </v-card>
      </div>
    </div>
    <div v-else-if="type === 'Pending'" class="d-flex justify-space-between">
      <div class="d-flex ml-5">
        <div class="mr-6">
          <div class="caption mb-1">Committee Name</div>
          <div class="subtext">Ronald Richards Committee</div>
          <div class="caption mt-4 mb-1">Report Period Start Date</div>
          <div class="subtext">01-05-2022</div>
          <div class="caption mt-4 mb-1">Number of Fundraisers</div>
          <div class="subtext">0</div>
        </div>
        <div>
          <div class="caption mb-1">Board of Elections ID</div>
          <div class="subtext">STA-123456-C-001</div>
          <div class="caption mt-4 mb-1">Report Period End Date</div>
          <div class="subtext">02-19-2022</div>
        </div>
      </div>
      <div>
        <v-card
          elevation="0"
          width="462"
          height="355"
          class="px-12 rounded-xl d-flex flex-column justify-center"
          color="#F6F7FB"
        >
          <div class="d-flex flex-column align-center">
            <img
              class="mb-6"
              :src="require('~/assets/images/report-status.svg')"
              alt="Reports status"
            />
            <div class="mb-2 title_h3 comet">Pending</div>
            <div class="pending-subtext comet mb-9">
              Please wait while we’re processing the payment
            </div>
          </div>
          <div class="">
            <div class="caption mb-1">Sent</div>
            <div class="pending-subtext black-pearl">02-20-2022, 12:10 PM</div>
          </div>
        </v-card>
      </div>
    </div>
    <div v-else-if="type === 'Declined'" class="d-flex justify-space-between">
      <div>
        <v-card
          elevation="0"
          width="462"
          height="125"
          class="inner-card py-3 pl-6"
        >
          <v-row>
            <v-col cols="6">
              <div class="caption mb-1">Committee Name</div>
              <div class="subtext">Ronald Richards Committee</div>
              <div class="caption mt-4 mb-1">Report Period Start Date</div>
              <div class="subtext">01-05-2022</div>
            </v-col>
            <v-col cols="6">
              <div class="caption mb-1">Board of Elections ID</div>
              <div class="subtext">STA-123456-C-001</div>
              <div class="caption mt-4 mb-1">Report Period End Date</div>
              <div class="subtext">02-19-2022</div>
            </v-col>
          </v-row>
        </v-card>
        <EFForm class="form-class mt-4" name="declined" :items="ReadyItems" />
      </div>
      <div>
        <v-card
          elevation="0"
          width="462"
          height="465"
          class="
            px-12
            rounded-xl
            d-flex
            flex-column
            align-center
            justify-center
          "
          color="rgba(251, 64, 90, 0.05)"
        >
          <img
            class="mb-6"
            :src="require('~/assets/images/report-status-declined.svg')"
            alt="Reports status"
          />
          <div class="mb-5 title_h3 radical-red">Payment Didn’t Go Through</div>
          <v-card
            elevation="0"
            width="406"
            height="76"
            class="rounded-lg"
            style="border: 2px solid #fb405a"
          >
            <v-card
              class="text-center"
              elevation="0"
              width="402"
              height="26"
              :color="'var(--radical-red)'"
            >
              <span class="caption white--text">Reason</span>
            </v-card>
            <div class="text-center mt-3 pending-subtext black-pearl">
              Payment declined by card holder’s bank.
            </div>
          </v-card>
          <EFButton large class="rounded-lg my-6"> Try again </EFButton>
          <div class="small_text bali-hai mb-1">
            We charge a flat fee for each report or amendment submission.
          </div>
          <div class="small_text dodger-blue">Learn more about Pricing</div>
        </v-card>
      </div>
    </div>
    <div v-else-if="type === 'Sent'" class="d-flex justify-space-between">
      <div class="d-flex ml-5">
        <div class="mr-6">
          <div class="caption mb-1">Committee Name</div>
          <div class="subtext">Ronald Richards Committee</div>
          <div class="caption mt-4 mb-1">Report Period Start Date</div>
          <div class="subtext">01-05-2022</div>
          <div class="caption mt-4 mb-1">Number of Fundraisers</div>
          <div class="subtext">0</div>
        </div>
        <div>
          <div class="caption mb-1">Board of Elections ID</div>
          <div class="subtext">STA-123456-C-001</div>
          <div class="caption mt-4 mb-1">Report Period End Date</div>
          <div class="subtext">02-19-2022</div>
        </div>
      </div>
      <div>
        <v-card
          elevation="0"
          width="462"
          height="355"
          class="px-12 rounded-xl d-flex flex-column justify-center"
          color="#F6F7FB"
        >
          <div class="d-flex flex-column align-center">
            <img
              class="mb-6"
              :src="require('~/assets/images/report-status-sent.svg')"
              alt="Reports status"
            />
            <div class="mb-2 title_h3 dodger-blue">Report Sent</div>
            <div class="pending-subtext comet mb-9">
              Waiting for approval from the Board of Elections
            </div>
          </div>
          <div class="">
            <div class="caption mb-1">Sent</div>
            <div class="pending-subtext black-pearl">02-20-2022, 12:10 PM</div>
          </div>
        </v-card>
      </div>
    </div>
    <div v-else-if="type === 'Accepted'" class="d-flex justify-space-between">
      <div class="d-flex ml-5">
        <div class="mr-6">
          <div class="caption mb-1">Committee Name</div>
          <div class="subtext">Ronald Richards Committee</div>
          <div class="caption mt-4 mb-1">Report Period Start Date</div>
          <div class="subtext">01-05-2022</div>
          <div class="caption mt-4 mb-1">Number of Fundraisers</div>
          <div class="subtext">0</div>
        </div>
        <div>
          <div class="caption mb-1">Board of Elections ID</div>
          <div class="subtext">STA-123456-C-001</div>
          <div class="caption mt-4 mb-1">Report Period End Date</div>
          <div class="subtext">02-19-2022</div>
        </div>
      </div>
      <div>
        <v-card
          elevation="0"
          width="462"
          height="355"
          class="px-12 rounded-xl d-flex flex-column justify-center"
          color="rgba(32, 201, 160, 0.06)"
        >
          <div class="d-flex flex-column align-center">
            <img
              class="mb-6"
              :src="require('~/assets/images/report-status-accepted.svg')"
              alt="Reports status"
            />
            <div class="mb-2 title_h3 java">Accepted</div>
            <div class="pending-subtext comet mb-9">by Board of Elections</div>
          </div>
          <div class="d-flex">
            <div class="mr-10">
              <div class="caption mb-1">Sent</div>
              <div class="pending-subtext black-pearl">
                02-20-2022, 12:10 PM
              </div>
            </div>
            <div>
              <div class="caption mb-1">Accepted</div>
              <div class="pending-subtext black-pearl">02-21-2022, 5:45 PM</div>
            </div>
          </div>
        </v-card>
      </div>
    </div>
    <div v-else-if="type === 'Rejected'" class="d-flex justify-space-between">
      <div class="d-flex ml-5">
        <div class="mr-6">
          <div class="caption mb-1">Committee Name</div>
          <div class="subtext">Ronald Richards Committee</div>
          <div class="caption mt-4 mb-1">Report Period Start Date</div>
          <div class="subtext">01-05-2022</div>
          <div class="caption mt-4 mb-1">Number of Fundraisers</div>
          <div class="subtext">0</div>
        </div>
        <div>
          <div class="caption mb-1">Board of Elections ID</div>
          <div class="subtext">STA-123456-C-001</div>
          <div class="caption mt-4 mb-1">Report Period End Date</div>
          <div class="subtext">02-19-2022</div>
        </div>
      </div>
      <div>
        <v-card
          elevation="0"
          width="462"
          height="515"
          class="px-7 rounded-xl d-flex flex-column justify-center"
          color="rgba(251, 64, 90, 0.05)"
        >
          <div class="d-flex flex-column align-center">
            <img
              class="mb-6"
              :src="require('~/assets/images/report-status-rejected.svg')"
              alt="Reports status"
            />
            <div class="mb-5 title_h3 radical-red">Rejected</div>
            <v-card
              elevation="0"
              width="406"
              height="98"
              class="rounded-lg"
              style="border: 2px solid #fb405a"
            >
              <v-card
                class="text-center"
                elevation="0"
                width="402"
                height="26"
                :color="'var(--radical-red)'"
              >
                <span class="caption white--text"
                  >Board of Elections response</span
                >
              </v-card>
              <div class="mx-5 text-center mt-3 pending-subtext black-pearl">
                Start balance doesn’t match the end balance in the previous
                report.
              </div>
            </v-card>
          </div>
          <div class="d-flex mt-8 mx-3">
            <div class="mr-10">
              <div class="caption mb-1">Sent</div>
              <div class="pending-subtext black-pearl">
                02-20-2022, 12:10 PM
              </div>
            </div>
            <div>
              <div class="caption mb-1">Rejected</div>
              <div class="pending-subtext black-pearl">02-21-2022, 5:45 PM</div>
            </div>
          </div>
          <div class="d-flex justify-center mt-6">
            <EFButton large class="rounded-lg"> Edit </EFButton>
          </div>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      DraftItems: [
        {
          id: 0,
          type: 'text',
          label: 'North Carolina Board of Elections ID',
          hint: 'Ex.: STA-123456-C-001',
          tooltip: true,
        },
        {
          id: 1,
          type: 'text',
          label: 'Number of Fundraisers',
        },
      ],
      ReadyItems: [
        {
          id: 0,
          type: 'text',
          label: 'Number of Fundraisers',
          value: 0,
        },
      ],
    };
  },
  created() {
    console.log('type >>  ', this.type);
  },
};
</script>

<style lang="scss" scoped>
.inner-card {
  background: var(--white);
  /* Heather */

  border: 1px solid var(--heather);
  box-sizing: border-box;
  border-radius: 8px;
}
.caption {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;

  /* Comet */

  color: var(--comet);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;

  /* Big Stone */

  color: var(--big-stone);
}
.pending-subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.cost-text {
  margin-top: 6px;
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  /* River Bed */

  color: var(--river-bed);
}
.absolute-position {
  position: absolute;
  top: 12px;
  right: 12px;
}
.form-class {
  width: 462px;
  margin-left: 10px;
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.ready_cost {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;

  /* River Bed */

  color: var(--river-bed);
}
.small_text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  text-align: center;
  letter-spacing: 0.02em;
}
.declined-background {
  background: #fb405a;
  opacity: 0.05;
}
.bali-hai {
  color: var(--bali-hai);
}
.dodger-blue {
  color: var(--dodger-blue);
}
.comet {
  color: var(--comet);
}
.black-pearl {
  color: var(--black-pearl);
}
.radical-red {
  color: var(--radical-red);
}
.java {
  color: var(--java);
}
</style>
