<template>
  <EFContainer title="New Expenditure" :back-icon="true">
    <EFCard>
      <v-card-title class="headline">Coming soon...</v-card-title>
    </EFCard>
  </EFContainer>
</template>
<script>
import EFCard from '../EFContainer/EFCard.vue';
export default {
  components: { EFCard },
};
</script>

<style></style>
