<template>
  <div>
    <EFContainer title="Expenditures">
      <EFCard>
        <EFExpendituresData />
      </EFCard>
    </EFContainer>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFExpendituresData from './EFExpendituresData.vue';
export default {
  components: {
    EFCard,
    EFExpendituresData,
  },
};
</script>

<style></style>
