<template>
  <div>
    <v-row class="mt-6 mx-4" no-gutters>
      <v-col cols="12" md="4">
        <div v-if="deleteButton" @click="onMultiDelete">
          <v-btn text class="delete-text">Delete Selected</v-btn>
        </div>
        <EFButton v-else large icon="mdi-plus" @el-onclick="addExpenditure">
          Add Expenditure
        </EFButton>
      </v-col>
      <v-col cols="12" md="8">
        <EFForm name="seacrh" :items="items" />
      </v-col>
    </v-row>
    <EFDataTables
      name="expenditures"
      :flat="true"
      :items="indexedItems"
      :table-headers="tableHeaders"
      @delete="onDelete"
      @deleteSelected="deleteSelected"
    />

    <!-- DELETE Modal -->
    <v-dialog
      v-model="dialog"
      width="542"
      overlay-color="var(--whisper)"
      content-class="rounded-dialog"
    >
      <v-card class="card pt-7 pb-10">
        <div class="pl-12 pr-8 d-flex justify-space-between align-center">
          <div class="title_h3">Confirm Report Amendments</div>
          <div>
            <v-btn icon @click="dialog = false">
              <v-icon color="#909FBA"> mdi-close </v-icon>
            </v-btn>
          </div>
        </div>
        <v-card
          flat
          color="rgba(42, 111, 242, 0.1)"
          class="mt-8 mx-12 pa-5 rounded-lg d-flex align-center"
        >
          <div class="mr-4">
            <img src="~/assets/images/misc-icon.svg" alt="" />
          </div>
          <div class="subtext">
            Changes in this transaction may affect the data in the reports you
            have filed. Report Amendments must be filed accordingly.
          </div>
        </v-card>
        <div class="text_h4 mt-8 mb-4">Reports to be Amended</div>
        <div v-for="(report, i) in reports" :key="i">
          <v-divider class="divider"></v-divider>
          <div class="d-flex justify-space-between mx-10 py-2">
            <div class="data-text">
              <span class="mr-8">{{ report.year }}</span>
              <span>{{ report.title }}</span>
            </div>
            <div>
              <v-card class="elevation-0 chips">
                <div class="chips-text">{{ report.status }}</div>
              </v-card>
            </div>
          </div>
          <v-divider
            v-if="i === reports.length - 1"
            class="divider"
          ></v-divider>
        </div>
        <div class="text-center mt-10">
          <v-btn
            large
            class="cancel-button elevation-0"
            @click="dialog = false"
          >
            <span class="cancel-text">Cancel</span>
          </v-btn>
          <EFButton class="mx-4" large @el-onclick="dialog = false">
            Confirm and save
          </EFButton>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import EFForm from '../EFForm/EFForm.vue';
import { accessor } from '../../store';

export default {
  components: { EFForm },
  data() {
    return {
      dialog: false,
      reports: [
        { year: '2022', title: 'Third Quarter', status: 'Accepted' },
        { year: '2022', title: 'Second Quarter', status: 'Accepted' },
        { year: '2022', title: '48-Hour Notice', status: 'Accepted' },
        { year: '2022', title: 'First Quarter', status: 'Accepted' },
      ],
      items: [
        {
          id: 0,
          type: 'text',
          placeholder: 'Search',
          cols: 4,
          disabled: false,
        },
        {
          id: 1,
          type: 'select',
          variant: 'daterange',
          cols: 4,
          disabled: false,
        },
        {
          id: 2,
          type: 'amountRange',
          placeholder: '',
          cols: 4,
          disabled: false,
        },
      ],

      tableHeaders: [
        {
          text: 'Date',
          align: 'start',
          sortable: false,
          value: 'date',
        },

        { text: 'Amount', value: 'amount' },
        { text: 'Expenditure Type', value: 'expenditureType' },
        { text: 'Payee', value: 'payee' },
        { text: 'Form', value: 'form' },
        { text: 'Account Code', value: 'amountCode', sortable: false },
        { value: 'actions', sortable: false },
      ],
      tableItems: [
        {
          date: '20-01-2021',
          amount: '$100,000',
          expenditureType: 'Contribution to Candidate or Political Committee',
          payee: 'ronald-richards',
          form: 'Cash',
          amountCode: '00000000000',
        },
        {
          date: '21-02-2020',
          amount: '$100,000',
          expenditureType: 'Contribution to Candidate or Political Committee',
          payee: 'ronald-richards',
          form: 'Draft',
          amountCode: '100000000000',
        },
        {
          date: '10-03-2023',
          amount: '$000,000',
          expenditureType: 'Operating Expense',
          payee: 'Smith Wells',
          form: 'Cash',
          amountCode: '00000000000',
        },
        {
          date: '23-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
        {
          date: '26-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
        {
          date: '28-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
        {
          date: '19-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
        {
          date: '30-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
        {
          date: '12-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
        {
          date: '14-00-0000',
          amount: '$000,000',
          expenditureType: 'Contribution to be Reim...',
          payee: 'Smith Wells',
          form: 'Wire Transfer',
          amountCode: '00000000000',
        },
      ],
      deleteButton: false,
      deleteItems: [],
      expendituresFetchedItems: [],
    };
  },
  async fetch() {
    const getExpenditures = async () => {
      await accessor.restored;
      const ExpendituresModule = accessor.expenditures;
      return await ExpendituresModule.getExpenditure();
    };
    this.expendituresFetchedItems = await getExpenditures();
  },
  computed: {
    indexedItems() {
      console.log('>>>>>', this.expendituresFetchedItems);
      return this.expendituresFetchedItems
        ? this.expendituresFetchedItems.map((item, index) => ({
            id: index,
            ...item,
          }))
        : [];
    },
  },
  beforeMount() {
    this.$nuxt.$on('getInputItem', (res) => {
      console.log('get values', res);
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getInputItem');
  },
  methods: {
    onMultiDelete() {
      console.log('Delete items >>> ', this.deleteItems);
      this.dialog = true;
    },
    deleteSelected(selectedItems) {
      console.log('EFExpendituresData/ delete multiselect >>> ', selectedItems);
      if (selectedItems.length !== 0) {
        this.deleteItems = selectedItems;
        if (!this.deleteButton) {
          this.setDisabled();
        }
        this.deleteButton = true;
      } else {
        this.setDisabled();
        this.deleteButton = false;
      }
    },
    setDisabled() {
      this.items[0].disabled = !this.items[0].disabled;
      this.items[1].disabled = !this.items[1].disabled;
      this.items[2].disabled = !this.items[2].disabled;
    },
    addExpenditure() {
      this.$nuxt.$emit('addExpenditure');
    },
    onDelete(deleteItem) {
      console.log('single item delete >>> ', deleteItem);
      this.dialog = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Biscay */

  color: var(--biscay);
}
.text_h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* Biscay */

  color: var(--biscay);
}
.chips {
  background: rgba(22, 200, 157, 0.09);
  border-radius: 6px;
  padding: 8px;
}
.chips-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Java */

  color: #20c9a0;
}
.divider {
  border-color: #eff3f9 !important;
}
.data-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Big Stone */

  color: #1b2840;
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  /* Black Pearl */

  color: var(--black-pearl);
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.delete-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 114% */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
</style>
