<template>
  <div>
    <v-menu offset-y transition="slide-y-transition" @change="selected">
      <template #activator="{ on, attrs }">
        <v-chip-group>
          <div v-bind="attrs" class="d-flex align-center" v-on="on">
            <div class="card_subtitle mr-5">{{ selected.label }}</div>
            <v-icon class="card_subtitle-icon">mdi-chevron-down</v-icon>
          </div>
        </v-chip-group>
      </template>
      <v-list>
        <v-list-item
          v-for="(option, i) in committee.options"
          :key="i"
          @click="onSelected(option, i)"
        >
          <v-list-item-title>
            <div class="text_small">{{ option.label }}</div>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-row v-if="selectedIndex === 5 || selectedIndex === 6" class="mt-5 mb-16">
      <v-col cols="12">
        <EFForm name="expenditure" :items="items">
          <template #default="{ valid }">
            <div class="text-center mt-16 pt-3">
              <v-btn large class="cancel-button elevation-0" @click="cancel">
                <span class="cancel-text">Cancel</span>
              </v-btn>
              <EFButton
                :valid="valid"
                :disabled="!valid"
                class="mx-4"
                large
                @el-onclick="save"
              >
                Save
              </EFButton>
              <EFButton
                :valid="valid"
                :disabled="!valid"
                large
                @el-onclick="saveAddMore"
              >
                Save and Add more</EFButton
              >
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
    <div v-else>
      <v-row class="mt-5 mb-16">
        <v-col cols="12" md="6">
          <EFForm name="expenditure" :items="items" />
        </v-col>
        <v-col cols="12" md="6">
          <EFPaymentForm :selected-payment-mode="selectedPaymentMode" />
        </v-col>
      </v-row>
      <div class="text-center">
        <v-btn large class="cancel-button elevation-0" @click="cancel">
          <span class="cancel-text">Cancel</span>
        </v-btn>
        <EFButton class="mx-4" large @el-onclick="save">
          {{ editExpendituresData === null ? 'Save' : 'Save changes' }}
        </EFButton>
        <EFButton
          v-if="editExpendituresData === null"
          large
          @el-onclick="saveAddMore"
        >
          Save and Add more</EFButton
        >
      </div>
    </div>
  </div>
</template>
<script>
import EFConditionalButton from '../expenditures/EFConditionalButton.vue';
import {
  PURPOSE_CODE,
  CONDITIONAL_PURPOSE,
  PAYEE,
  OUTSTANDING_LOAN,
  TYPE_GIFT,
  REFUND_PURPOSE_CODE,
  REFUND_CONDITIONAL_PURPOSE,
} from '../../constants/const';
import { accessor } from '../../store';
export default {
  props: {
    committee: {
      type: Object,
      default: () => {},
    },
    optionIndex: {
      type: Number,
      default: null,
    },
    editExpendituresData: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      valid: false,
      selected: '',
      selectedIndex: null,
      selectedPaymentMode: null,
      expenditureValidData: [],
      items: [],
      // for item type 0, 1, 2
      items0: [
        {
          id: 0,
          type: 'amount',
          label: 'Amount',
          placeholder: '0.00',
        },
        {
          id: 1,
          type: 'select',
          variant: 'datepicker',
          label: 'Date',
          rules: [(v) => !!v || 'Date is required'],
        },
        {
          id: 2,
          type: 'select',
          label: 'Payee',
          rules: [(v) => !!v || 'Payee is required'],
          options: PAYEE,
        },
        {
          id: 3,
          type: 'select',
          variant: 'multiple',
          label: 'Purpose Code',
          rules: [(v) => !!v || 'Purpose code is required'],
          options: PURPOSE_CODE,
        },
        {
          id: 4,
          type: 'textarea',
          label: 'Comments',
          counter: 70,
          labelRight: '(optional)',
        },
      ],
      // TODO Options needs to be changed
      coordinateItem: {
        id: 5,
        type: 'select',
        label: 'Coordinated Committee Name',
        options: [
          { label: 'Committee 1', value: 'Committee 1' },
          { label: 'Committee 2', value: 'Committee 2' },
        ],
        rules: [(v) => !!v || 'Coordinated committee name is required'],
      },
      optionalItem: {
        id: 3.1,
        type: 'text',
        label: 'Required Remarks',
        value: 'Marketing',
        // rules: [(v) => !!v || 'Required remarks is required'],
      },
      requiredRemarks: false,

      // (3) Loan Repayment
      // TODO Validate amounts. Paid amount can’t exceed the outstanding amount.
      items3: [
        {
          id: 0,
          type: 'select',
          label: 'Outstanding Loan',
          rules: [(v) => !!v || 'Outstanding loan is required'],
          options: OUTSTANDING_LOAN,
        },
        {
          id: 1,
          type: 'amount',
          label: 'Amount Repaid',
          placeholder: '0.00',
        },
        {
          id: 2,
          type: 'select',
          variant: 'datepicker',
          label: 'Repayment Date',
          rules: [(v) => !!v || 'Repayment date is required'],
        },
        {
          id: 3,
          type: 'textarea',
          label: 'Comments',
          counter: 70,
          labelRight: '(optional)',
        },
      ],
      // (4) Refunds/Reimbursements From the Committee
      items4: [
        {
          id: 0,
          type: 'select',
          label: 'Receipt Refunded/Reimbursed',
          rules: [(v) => !!v || 'Receipt Refunded/Reimbursed is required'],
          // options: PAYEE,
        },
        {
          id: 1,
          type: 'amount',
          label: 'Amount Refunded/Reimbursed',
          placeholder: '0.00',
        },
        {
          id: 2,
          type: 'select',
          variant: 'datepicker',
          label: 'Refund/Reimbursement Date',
          rules: [(v) => !!v || 'Refund/Reimbursement date is required'],
        },
        {
          id: 3,
          type: 'select',
          label: 'Refund/Reimbursement Purpose Code',
          rules: [
            (v) => !!v || 'Refund/Reimbursement purpose code is required',
          ],
          options: REFUND_PURPOSE_CODE,
        },
        {
          id: 4,
          type: 'textarea',
          label: 'Comments',
          counter: 70,
          labelRight: '(optional)',
        },
      ],
      // (5) Non-Monetary Gift
      items5: [
        {
          id: 0,
          type: 'amount',
          label: 'Fair Market Amount',
          placeholder: '0.00',
          cols: 6,
        },
        {
          id: 1,
          type: 'textarea',
          label: 'Comments',
          counter: 70,
          labelRight: '(optional)',
          cols: 6,
        },
        {
          id: 2,
          type: 'select',
          variant: 'datepicker',
          label: 'Date',
          rules: [(v) => !!v || 'Date is required'],
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          id: 3,
          type: 'select',
          label: 'Payee',
          rules: [(v) => !!v || 'Payee is required'],
          options: PAYEE,
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          id: 4,
          type: 'select',
          label: 'Type of Gift',
          rules: [(v) => !!v || 'Type of Gift is required'],
          options: TYPE_GIFT,
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          id: 5,
          type: 'text',
          label: 'Gift Description',
          counter: 70,
          cols: 6,
        },
      ],
      // (6) Independent Expenditure
      items6: [
        {
          id: 0,
          type: 'amount',
          label: 'Amount',
          placeholder: '0.00',
          cols: 6,
        },
        {
          id: 1,
          type: 'text',
          label: 'Full Name',
          customLabel: 'Candidate Information',
          cols: 6,
        },
        {
          id: 2,
          type: 'select',
          variant: 'datepicker',
          label: 'Date',
          rules: [(v) => !!v || 'Date is required'],
          cols: 6,
        },
        {
          id: 3,
          type: 'text',
          label: 'Office Sought',
          cols: 6,
        },
        {
          id: 4,
          type: 'select',
          label: 'Payee',
          rules: [(v) => !!v || 'Payee is required'],
          options: PAYEE,
          cols: 6,
        },
        {
          id: 5,
          type: 'customItems',
          label: 'Declaration',
          content: EFConditionalButton,
          cols: 6,
        },
        {
          id: 6,
          type: 'text',
          label: 'Purpose',
          counter: 25,
          cols: 6,
        },
      ],
    };
  },
  created() {
    this.watchSelected(
      this.committee.options[this.optionIndex],
      this.optionIndex,
    );
  },
  beforeMount() {
    console.log('checking >> mount');

    if (this.editExpendituresData) {
      console.log(this.editExpendituresData);
      this.items[0].value = parseInt(
        this.editExpendituresData.amount.split('$')[1],
      );
      this.items[1].selected = this.editExpendituresData.date;
      this.items[2].selected = this.editExpendituresData.payee;
      this.selectedPaymentMode = this.editExpendituresData.form;
    }

    this.$nuxt.$on('getItem', (res) => {
      console.log(res, res.value, this.optionIndex, this.selected);

      if (
        this.selectedIndex === 0 ||
        this.selectedIndex === 1 ||
        this.selectedIndex === 2
      ) {
        // if purpose code a,b,c,f,h,k,o >> then show Requied remarks field
        this.requiredRemarks = false;
        // check purpose code
        const indexOfPurpose = this.items.findIndex((itm) => itm.id === 3);
        if (res.id === 3) {
          if (res.value.length === 0) {
            // console.log(res.value.length);
            this.requiredRemarks = false;
            if (this.items[indexOfPurpose + 1].id === 3.1) {
              this.items.splice(indexOfPurpose + 1, 1);
            }
          } else {
            for (let i = 0; i < res.value.length; i++) {
              if (CONDITIONAL_PURPOSE.includes(res.value[i].value)) {
                this.requiredRemarks = true;
                break;
              }
            }
            if (this.items[indexOfPurpose + 1].id !== 3.1) {
              if (this.requiredRemarks) {
                this.items.splice(indexOfPurpose + 1, 0, this.optionalItem);
              }
            } else if (!this.requiredRemarks) {
              this.items.splice(indexOfPurpose + 1, 1);
            }
          }
        }
      }

      if (this.selectedIndex === 4) {
        // if REFUND purpose code p, o >> then show Requied remarks field
        const indexOfRefundPurpose = this.items.findIndex(
          (itm) => itm.id === 3,
        );
        if (res.id === 3) {
          if (REFUND_CONDITIONAL_PURPOSE.includes(res.value.value)) {
            // includes / if not present before > insert
            if (this.items[indexOfRefundPurpose + 1].id !== 3.1) {
              this.items.splice(indexOfRefundPurpose + 1, 0, this.optionalItem);
            }
          } else if (this.items[indexOfRefundPurpose + 1].id === 3.1) {
            // not includes / if present before -> remove
            this.items.splice(indexOfRefundPurpose + 1, 1);
          }
        }
      }
    });
    this.$nuxt.$on('expenditure', (res) => {
      this.expenditureValidData = res;
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
  },
  methods: {
    cancel() {
      console.log('cancel');
      if (this.editExpendituresData) {
        this.$nuxt.$emit('EFExpenditures');
      } else {
        this.$nuxt.$emit('backToEFNewExpenditure');
      }
    },
    save() {
      console.log('All Items-->', this.items);

      this.createExpenditure(
        this.editExpendituresData ? 'EFExpenditures' : 'backToHome',
      );
    },
    async createExpenditure(emitName) {
      const expenditureType = this.committee.options[this.selectedIndex].value;

      try {
        await accessor.restored;
        const ExpendituresModule = accessor.expenditures;
        const response = ExpendituresModule.createExpenditure({
          items: this.items,
          expenditureType,
          expenditureId: this.editExpendituresData
            ? this.editExpendituresData.id
            : null,
        });

        this.showSnackbar({
          message: `Data was successfully ${
            this.editExpendituresData ? 'updated' : 'saved'
          }!`,
          error: false,
        });
        this.$nuxt.$emit(emitName);
      } catch (e) {
        this.showSnackbar({ message: 'Some error occurs', error: true });
      }
    },
    saveAddMore() {
      this.$nuxt.$emit('backToEFNewExpenditure');
    },
    onSelected(option, index) {
      console.log('selected >>> ', index);
      this.watchSelected(option, index);
    },
    watchSelected(option, index) {
      if (index !== this.selectedIndex) {
        this.selected = option;
        this.selectedIndex = index;
        if (index === 0 || index === 1 || index === 2) {
          this.items = this.items0;
          // if Coordinated Party Expenditure
          const indexOfPayee = this.items.findIndex((itm) => itm.id === 2);
          if (index === 2) {
            this.items.splice(indexOfPayee + 1, 0, this.coordinateItem);
            console.log('add for coordinate party', this.items);
          } else if (this.items[indexOfPayee + 1].id === 5) {
            this.items.splice(indexOfPayee + 1, 1);
            console.log('remove coordinate party', this.items);
          }
        } else if (index === 3) {
          this.items = this.items3;
        } else if (index === 4) {
          this.items = this.items4;
        } else if (index === 5) {
          this.items = this.items5;
        } else if (index === 6) {
          this.items = this.items6;
        }
      }
    },
    showSnackbar(data) {
      this.$nuxt.$notifier.showMessage({
        message: data.message,
        error: data.error,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.card_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  /* Biscay */

  color: var(--biscay);
}
.card_subtitle-icon {
  width: 12px;
  height: 6px;
  color: var(--biscay) !important;
}
.v-menu__content {
  min-width: 470px !important;
  box-shadow: 0px 0px 30px rgba(89, 103, 128, 0.16) !important;
  border-radius: 8px !important;
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.text_small {
  font-family: var(--font-family-callout);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--river-bed);
}
</style>
