<template>
  <div>
    <div v-if="expenditures">
      <EFExpendituresData v-if="mode === 'reports'" />
      <EFExpendituresDataContainer v-else />
    </div>
    <div v-else>
      <EFNewExpenditureContainer
        v-if="mode === 'reports'"
        :edit-expenditures-data="editExpenditures"
        :committee="committee"
        parent-component="EFExpenditures"
        :mode="mode"
      />
      <EFNewExpenditureContainer
        v-else
        :edit-expenditures-data="editExpenditures"
        :committee="committee"
        parent-component="EFExpenditures"
      />
    </div>
  </div>
</template>

<script>
import EFExpendituresData from '../expenditures/EFExpendituresData.vue';
import EFExpendituresDataContainer from '../expenditures/EFExpendituresDataContainer.vue';
import EFNewExpenditureContainer from './EFNewExpenditureContainer.vue';
import { ExpenditureType } from '~/api/electafile-api/types/expenditure';

export default {
  components: {
    EFExpendituresDataContainer,
    EFExpendituresData,
    EFNewExpenditureContainer,
  },
  props: {
    mode: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      expenditures: true,
      expenditureList: ExpenditureType,
      committee: {},
      editExpenditures: null,
    };
  },
  beforeMount() {
    this.$nuxt.$on('backToHome', () => {
      if (this.editExpenditures) {
        alert('Expenditure updated successfully');
      } else {
        alert('Expenditure added successfully');
      }
      this.reset();
    });
    this.$nuxt.$on('EFExpenditures', () => {
      this.reset();
    });
    this.$nuxt.$on('addExpenditure', () => {
      this.committee = { options: this.expenditureList };
      this.expenditures = false;
    });
    this.$nuxt.$on('editexpenditures', (resp) => {
      if (resp.item) {
        // const usersCommitteeType = accessor.user.committee_type;

        this.committee = { options: this.expenditureList };
        this.editExpenditures = Object.assign({}, resp.item, {
          expenditureIndex: this.expenditureList.findIndex(
            (x) => x.label === resp.item.expenditureType,
          ),
        });
        console.log(this.editExpenditures);
        this.expenditures = false;
      }
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('backToHome');
    this.$nuxt.$off('EFExpenditures');
    this.$nuxt.$off('editexpenditures');
    this.$nuxt.$off('addExpenditure');
  },
  methods: {
    reset() {
      this.expenditures = true;
      this.expenditureList = ExpenditureType;
      this.committee = {};
      this.editExpenditures = null;
    },
  },
};
</script>

<style></style>
