<template>
  <div>
    <div v-if="mode === 'reports'">
      <div
        style="cursor: pointer"
        class="mt-6 d-flex align-center"
        @click="
          $nuxt.$emit(
            editExpendituresData ? 'EFExpenditures' : 'EFNewExpenditure',
          )
        "
      >
        <img src="../../assets/images/back.svg" alt="" />
        <div class="root-title ml-3">New Expenditure</div>
      </div>
      <div class="px-12 pb-12 pt-9">
        <EFExpenditureForm
          :committee="committee"
          :option-index="optionIndex"
          :edit-expenditures-data="editExpendituresData"
        />
      </div>
    </div>
    <div v-else>
      <EFContainer
        title="New Expenditure"
        :back-icon="true"
        :back-component="
          editExpendituresData ? 'EFExpenditures' : 'EFNewExpenditure'
        "
      >
        <EFCard class="px-12 pb-12 pt-9">
          <EFExpenditureForm
            :committee="committee"
            :option-index="optionIndex"
            :edit-expenditures-data="editExpendituresData"
          />
        </EFCard>
      </EFContainer>
    </div>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFExpenditureForm from './EFExpenditureForm.vue';
export default {
  components: {
    EFCard,
    EFExpenditureForm,
  },
  props: {
    committee: {
      type: Object,
      default: () => {},
    },
    editExpendituresData: {
      type: Object,
      default: null,
    },
    optionIndex: {
      type: Number,
      default: null,
    },
    mode: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.root-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: var(--biscay);
}
</style>
