<template>
  <div>
    <div v-if="newExpenditure">
      <div v-if="mode === 'reports'">
        <div
          style="cursor: pointer"
          class="mt-6 d-flex align-center"
          @click="$nuxt.$emit('EFExpenditures')"
        >
          <img src="../../assets/images/back.svg" alt="" />
          <div class="root-title ml-3">New Expenditure</div>
        </div>
        <div class="pt-6 pb-12 d-flex flex-column justify-center align-center">
          <EFNewExpenditure
            :committee="committee"
            @onExpenditureType="onExpenditureType"
          />
        </div>
      </div>
      <EFContainer
        v-else
        title="New Expenditure"
        :back-icon="true"
        :back-component="parentComponent"
      >
        <EFCard class="py-12 d-flex flex-column justify-center align-center">
          <EFNewExpenditure
            :committee="committee"
            @onExpenditureType="onExpenditureType"
          />
        </EFCard>
      </EFContainer>
    </div>

    <div v-else>
      <EFExpenditureFormContainer
        v-if="mode === 'reports'"
        :committee="committee"
        :option-index="optionIndex"
        :edit-expenditures-data="editExpendituresData"
        :mode="mode"
      />
      <EFExpenditureFormContainer
        v-else
        :committee="committee"
        :option-index="optionIndex"
        :edit-expenditures-data="editExpendituresData"
      />
    </div>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFNewExpenditure from './EFNewExpenditure.vue';
import EFExpenditureFormContainer from './EFExpenditureFormContainer.vue';
export default {
  components: {
    EFNewExpenditure,
    EFCard,
    EFExpenditureFormContainer,
  },
  props: {
    committee: {
      type: Object,
      default: () => {},
    },
    editExpendituresData: {
      type: Object,
      default: null,
    },
    parentComponent: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      newExpenditure: true,
      optionIndex: null,
    };
  },
  beforeMount() {
    console.log(this.committee);
    if (this.editExpendituresData) {
      this.onExpenditureType(this.editExpendituresData.expenditureIndex);
    }
    this.$nuxt.$on('EFNewExpenditure', () => {
      console.log('new expenditure component');
      this.reset();
    });
    this.$nuxt.$on('backToEFNewExpenditure', () => {
      this.reset();
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('EFNewExpenditure');
    this.$nuxt.$off('backToEFNewExpenditure');
  },
  methods: {
    onExpenditureType(index) {
      this.newExpenditure = false;
      this.optionIndex = index;
    },
    reset() {
      this.newExpenditure = true;
      this.optionIndex = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.root-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: var(--biscay);
}
</style>
