<template>
  <div>
    <div class="card_subtitle">Expenditure Type</div>
    <div v-for="(option, i) in expenditureOptions" :key="i">
      <v-btn
        :class="{ 'my-8': i === 0, 'mb-2': i !== 0 }"
        class="cardButton elevation-0"
        width="462"
        :height="i === 0 ? 82 : 52"
        @click="onExpenditureType(i)"
      >
        <span
          :class="{
            'text-capitalize operating_text': i === 0,
            'text-none contribution_text': i !== 0,
          }"
          >{{ option.label }}</span
        >
      </v-btn>
    </div>
    <div>
      <v-btn
        v-if="expenditureOptions.length !== committee.options.length"
        outlined
        width="462"
        height="52"
        class="otherButton elevation-0"
        @click="other"
      >
        <span class="other_text">Other</span>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    committee: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      expenditureOptions: [],
    };
  },
  created() {
    this.expenditureOptions = this.committee.options.slice(0, 3);
  },
  methods: {
    other() {
      this.expenditureOptions = this.committee.options;
    },
    onExpenditureType(index) {
      this.$emit('onExpenditureType', index);
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .card_subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    /* Biscay */

    color: var(--biscay);
  }
  .card_subtitle-icon {
    width: 12px;
    height: 6px;
    color: var(--biscay) !important;
  }
}
</style>

<style lang="scss" scoped>
::v-deep {
  .cardButton {
    background: rgba(146, 168, 210, 0.15);
    border-radius: 9px;
  }
  .operating_text {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;

    /* River Bed */

    color: var(--river-bed);
  }
  .contribution_text {
    font-family: var(--font-family-callout);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 160% */

    text-align: center;

    /* River Bed */

    color: var(--river-bed);
  }
  .otherButton {
    background: rgba(255, 255, 255, 0.5);

    /* Black Squeeze */
    border: 1px solid var(--black-squeeze);
    box-sizing: border-box;
    border-radius: 9px;
  }
  .other_text {
    font-family: var(--font-family-page-title);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 114% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* Bali Hai */

    color: var(--bali-hai);
  }
}
</style>
