<template>
  <div>
    <div class="login">
      <nuxt-link v-if="signup" to="/login">
        <div style="color: white" class="button-small">Log in</div>
      </nuxt-link>
      <div v-else class="avatar d-flex justify-center align-center">
        <div class="avatar-text">K</div>
      </div>
    </div>
    <div v-if="signup">
      <EFFormTitle title="Create Account" />
      <div class="text-center mt-5 subtext">Let’s get your reports filed</div>
      <div class="form">
        <EFForm name="onboarding" :items="items">
          <template #default="{ valid }">
            <div class="pr-2">
              <EFButton
                large
                block
                :valid="valid"
                :disabled="!valid"
                type="primary"
                @click="registration"
              >
                Sign up
              </EFButton>
            </div>
          </template>
        </EFForm>
      </div>
    </div>
    <div v-else-if="welcome">
      <div class="d-flex justify-center">
        <img :src="require('~/assets/images/onboarding-welcome.svg')" alt="" />
      </div>
      <div class="mt-10 text-center">
        <EFFormTitle subtitle="Welcome!" />
        <div style="width: 320px" class="mt-4 subtext">
          Take a look at our straighforward process of financial reports filing.
        </div>
      </div>
      <div class="text-center mt-16 pt-2">
        <v-btn
          fab
          dark
          large
          class="primary elevation-0"
          @click="
            welcome = false;
            signup = false;
          "
        >
          <v-icon dark> mdi-arrow-right </v-icon>
        </v-btn>
      </div>
      <div class="text-center mt-16 pt-7">
        <nuxt-link to="">
          <div class="button-small">Skip and get started</div>
        </nuxt-link>
      </div>
    </div>
    <div v-else>
      <v-carousel
        v-model="model"
        :continuous="false"
        :show-arrows="false"
        hide-delimiters
        height="100%"
      >
        <v-carousel-item v-for="(item, i) in carouselItems" :key="i">
          <div class="d-flex justify-center">
            <img :src="item.image" alt="" />
          </div>
          <div class="mt-10 text-center">
            <EFFormTitle :subtitle="item.title" />
            <div v-if="i !== 2">
              <div class="subtitle-width mt-4 subtext">
                {{ item.subtitle }}
              </div>
              <div class="gray-text mt-4">
                {{ item.subtext }}
              </div>
            </div>
            <div v-else style="width: 356px">
              <div class="river-bed mt-4 subtext">
                {{ item.subtitle }}
              </div>
              <div class="river-bed mt-4 subtext">
                {{ item.subtext }}
              </div>
              <a>
                <div class="dodger-blue subtext">{{ item.highlightText }}</div>
              </a>
            </div>
          </div>
          <div class="text-center mt-16 pt-2">
            <v-btn
              v-if="model < 2"
              fab
              dark
              large
              class="primary elevation-0"
              @click="
                welcome = false;
                signup = false;
                model++;
              "
            >
              <v-icon dark> mdi-arrow-right </v-icon>
            </v-btn>
            <div v-else @click="$router.push('/' + items[0].value)">
              <EFButton large type="primary"> Add your Committee </EFButton>
            </div>
          </div>
        </v-carousel-item>
      </v-carousel>
      <div class="d-flex justify-center">
        <div class="d-flex delimiter-position">
          <v-card
            :width="model === 0 ? 14 : 5"
            height="5"
            color="#17356F"
            class="elevation-0 mr-2"
          />
          <v-card
            :width="model === 1 ? 14 : 5"
            height="5"
            :class="{ delimiter: model < 1, 'delimiter-color': model >= 1 }"
            class="elevation-0 mr-2"
          />
          <v-card
            :width="model === 2 ? 14 : 5"
            height="5"
            :class="{ delimiter: model < 2, 'delimiter-color': model >= 2 }"
            class="elevation-0"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import authZero from '../../store/module/authZero';
import { COMMITTEE_TYPE_OPTIONS, IS_UI_ONLY } from '~/constants/const.ts';
import { accessor } from '~/store';

export default {
  data() {
    return {
      valid: false,

      items: [
        {
          id: 0,
          type: 'select',
          label: 'Committee Type',
          options: COMMITTEE_TYPE_OPTIONS,
          rules: [(v) => !!v || 'Committee type is required'],
          class: '',
        },
        {
          id: 1,
          type: 'email',
          label: 'Work email',
          class: '',
        },
        {
          id: 2,
          type: 'password',
          label: 'Password input',
          class: '',
          rules: [(v) => !!v || 'Password is required'],
        },
      ],
      welcome: false,
      signup: true,
      model: 0,
      carouselItems: [
        {
          image: require('~/assets/images/onboarding-add1.svg'),
          title: 'Add Your Committee',
          subtitle:
            'Add your committee, candidate, officers, and bank accounts. Needs to be done only once.',
          subtext: 'Takes 5 minutes',
        },
        {
          image: require('~/assets/images/onboarding-add2.svg'),
          title: 'Record Transations',
          subtitle:
            'Add all committee receipts and expenditures to the system. We will put them into reports.',
          subtext: 'Takes 2 minutes per transaction',
        },
        {
          image: require('~/assets/images/onboarding-add1.svg'),
          title: 'Generate and File Reports',
          subtitle:
            'Complete a couple of fields, click a button and your report is filed!',
          subtext:
            'We charge a flat fee for each report or amendment submission. No upfront payments needed.',
          highlightText: 'Learn more about Pricing',
        },
      ],
    };
  },
  mounted() {
    this.$nuxt.$on('getItem', (res) => {
      if (this.items.findIndex((itm) => itm.id === res.id) !== -1) {
        this.items[this.items.findIndex((itm) => itm.id === res.id)].value =
          res.id !== 0 ? res.value : res.value.value;
      }
    });

    this.$nuxt.$on('onboarding', (res) => {
      if (res.isValid) {
        this.registration();
      }
      // this.$nuxt.$emit("nextTab");
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
    this.$nuxt.$off('onboarding');
  },
  methods: {
    async registration() {
      if (IS_UI_ONLY) {
        this.welcome = true;
        this.signup = false;
        return;
      }

      if (this.items.length < 3) {
        return;
      }

      const committeeType = this.items[0].data.value;
      const email = this.items[1].value;
      const password = this.items[2].value;

      const data = {
        email,
        password,
      };

      try {
        const resRegister = await authZero.register(data, this.$auth);
        const resLogin = await authZero.login(data, this.$auth);

        await this.$auth.setUserToken(resLogin.data.access_token);
        await authZero.init(this.$auth);
        this.welcome = true;
        this.signup = false;

        // TODO: move to user module
        if (resRegister.data && resRegister.data._id) {
          const uData = {
            authID: resRegister.data._id,
            first_name: '',
            last_name: '',
            email,
            committee_type: committeeType
              .toLowerCase()
              .replace('-committee', ''),
          };

          await accessor.restored;
          const UserModule = accessor.user;
          await UserModule.register(uData);
        }
      } catch (e) {
        alert('Some error occurs');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  position: absolute;
  top: 51px;
  right: 86px;
  z-index: 5;
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Big Stone */

  // color: var(--big-stone);
}
.button-small {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  /* identical to box height, or 109% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Bali Hai */

  color: var(--bali-hai);
}
.gray-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 140% */

  text-align: center;
  letter-spacing: 0.02em;

  /* Bali Hai */

  color: var(--bali-hai);
}
a {
  text-decoration: none;
}
.delimiter {
  background-color: var(--bali-hai) !important;
}
.delimiter-color {
  background-color: #17356f !important;
}
.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.avatar-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* White */

  color: var(--white);
}
.form {
  margin-top: 31px;
  width: 400px;
}
.subtitle-width {
  width: 320px;
  color: var(--big-stone);
}
.river-bed {
  color: var(--river-bed);
}
.dodger-blue {
  color: var(--dodger-blue);
}
.delimiter-position {
  position: absolute;
  bottom: 60px;
}
</style>
