<template>
  <div>
    <EFContainer
      :title="report.title"
      :back-icon="true"
      :back-component="parentComponent"
      :center-component="statusLists"
    >
      <EFCard>
        <div class="mt-2 relative-position">
          <v-row class="px-5">
            <v-col cols="12">
              <EFTabs :steps="steps" @selctedTab="onChange" />
            </v-col>
          </v-row>
          <div class="d-flex absolute-position">
            <div class="cursor-pointer mr-7 button_small">Preview</div>
            <div
              v-if="
                flag === ReportStatusKey.READY ||
                flag === ReportStatusKey.DECLINED
              "
              class="cursor-pointer mr-5 mt-n3"
            >
              <div class="py-3 px-5 button_small button-background">
                Pay and file to board of elections
              </div>
            </div>
            <div
              v-else-if="flag === ReportStatusKey.ACCEPTED"
              class="cursor-pointer button_small mr-7"
            >
              File Amendment
            </div>
            <div
              v-else-if="flag === ReportStatusKey.REJECTED"
              class="cursor-pointer button_small mr-7"
            >
              Edit
            </div>
            <div class="mt-3">
              <v-menu min-width="100" left transition="slide-y-transition">
                <template #activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on"> mdi-dots-vertical </v-icon>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(menuItem, i) in menuItems"
                    :key="i"
                    @click="menuItemClick(menuItem)"
                  >
                    <v-list-item-title>
                      <div class="text_small">{{ menuItem }}</div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </div>
        </div>
        <v-row justify="center" align="center" class="pt-10 mb-12">
          <v-btn
            large
            class="mr-4 px-6 elevation-0 cancel-button"
            @click="onBack"
            >{{ !activeTab ? 'Cancel' : 'Back' }}</v-btn
          >
          <div @click="onContinue">
            <EFButton class="rounded-lg" large type="primary">
              Continue
            </EFButton>
          </div>
        </v-row>
      </EFCard>
    </EFContainer>
  </div>
</template>

<script>
import EFContainer from '../../EFContainer/EFContainer.vue';
import EFCard from '../../EFContainer/EFCard.vue';
import EFReceipts from '../../receipts/EFReceipts.vue';
import EFExpenditures from '../../expenditures/EFExpenditures.vue';
import EFReportsStatusLists from '../components/EFReportsStatusLists.vue';
import {
  ReportStatusKey,
  ReportTypeKey,
} from '../../../api/electafile-api/types/reports';
import EFDetails from './tab/EFDetails.vue';
import EFAccounts from './tab/EFAccounts.vue';

const WrappedReceipts = () => <EFReceipts mode="reports" />;
const WrappedExpenditures = () => <EFExpenditures mode="reports" />;

const fortyEightHrsNoticeTabs = [
  { title: 'Details', content: EFDetails },
  { title: 'Accounts', content: EFAccounts },
  // { title: 'Accounts', content: EFContributions },
];

const reportTabs = [
  { title: 'Details', content: EFDetails, props: '' },
  { title: 'Accounts', content: EFAccounts },
  { title: 'Receipts', content: WrappedReceipts },
  { title: 'Expenditures', content: WrappedExpenditures },
];
export default {
  components: {
    EFContainer,
    EFCard,
  },
  props: {
    parentComponent: {
      type: String,
      default: '',
    },
    report: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      ReportStatusKey,
      steps: reportTabs,
      statusLists: EFReportsStatusLists,
      activeTab: 0,
      status: [
        ReportStatusKey.DRAFT,
        ReportStatusKey.READY,
        ReportStatusKey.PENDING,
        ReportStatusKey.DECLINED,
        ReportStatusKey.SENT,
        ReportStatusKey.ACCEPTED,
        ReportStatusKey.REJECTED,
      ],
      flag: false,
      menuItems: [],
      menuAll: [
        'Download Report Cover PDF',
        'Download Report PDF',
        'Download Report CFD',
        'Delete',
      ],
    };
  },
  created() {
    this.onStatus(ReportStatusKey.DRAFT);
  },
  mounted() {
    this.initSteps();
  },
  beforeMount() {
    this.$nuxt.$on('reportStatusSelected', (val) => {
      this.onStatus(val.status);
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('reportStatusSelected');
  },
  methods: {
    onStatus(status) {
      this.flag = status;
      this.steps[0].props = status;
      if (
        status === ReportStatusKey.SENT ||
        status === ReportStatusKey.ACCEPTED ||
        status === ReportStatusKey.REJECTED
      ) {
        this.menuItems = this.menuAll;
      } else {
        this.menuItems = this.menuAll.slice(-1);
      }
    },
    menuItemClick() {
      console.log('menu item clicked >>> ');
    },
    onContinue() {
      if (this.activeTab < this.steps.length - 1) {
        this.$nuxt.$emit('activeDefaultTab', ++this.activeTab);
      } else {
        this.activeTab = 0;
        this.$nuxt.$emit('activeDefaultTab', 0);
      }
    },
    onBack() {
      if (this.activeTab !== 0) {
        this.$nuxt.$emit('activeDefaultTab', --this.activeTab);
      } else if (this.activeTab === 0) {
        this.$nuxt.$emit('EFReportsList');
      }
    },
    onChange(tab) {
      this.activeTab = tab;
    },
    initSteps() {
      switch (this.report.type) {
        case ReportTypeKey.FORTY_EIGHT_HRS_NOTICE:
          this.steps = fortyEightHrsNoticeTabs;
          break;

        default:
          this.steps = reportTabs;
          break;
      }
      console.log('steps:', this.steps);
    },
  },
};
</script>

<style lang="scss" scoped>
.top-position {
  position: absolute;
  top: 40px;
  left: 385px;
}

.text_small {
  font-family: var(--font-family-callout);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--river-bed);
}
.v-menu__content {
  border-radius: 8px;
}
.button_small {
  margin-top: 18px;
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.button-background {
  background: #ffffff;
  /* Mystic */

  border: 2px solid #d9dfea;
  border-radius: 8px;
}
.cancel-button {
  border: 2px solid #d9dfea;
  border-radius: 9px;
  background-color: var(--white) !important;
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.absolute-position {
  position: absolute;
  top: 10px;
  right: 15px;
}
.relative-position {
  position: relative;
}
</style>
