<template>
  <EFCandidateCommittee />
</template>

<script>
import EFCandidateCommittee from '~/components/committee/candidate/EFCandidateCommittee.vue';
export default {
  components: { EFCandidateCommittee },
  layout: 'committee',
};
</script>
