<template>
  <EFCounterparties />
</template>

<script>
import EFCounterparties from '../components/counterparties/EFCounterparties.vue';
export default {
  components: {
    EFCounterparties,
  },
};
</script>

<style></style>
