<template>
  <EFExpenditures />
</template>

<script>
import EFExpenditures from '../components/expenditures/EFExpenditures.vue';
export default {
  components: {
    EFExpenditures,
  },
};
</script>

<style></style>
