<template>
  <EFIndependentExpenditureCommittee />
</template>

<script scoped>
import EFIndependentExpenditureCommittee from '~/components/committee/independent-expenditure-committee/EFIndependentExpenditureCommittee.vue';
export default {
  components: { EFIndependentExpenditureCommittee },
  layout: 'committee',
};
</script>
