<template>
  <div class="d-flex flex-column">
    <div class="logo-block">
      <a href="/login">
        <img src="~/assets/images/electafile-logo.svg" alt="Electafile" />
      </a>
    </div>
    <div class="login-block d-flex justify-center align-center">
      <EFLogin />
    </div>
  </div>
</template>

<script>
import EFLogin from '../components/login/EFLogin.vue';

export default {
  name: 'Login',
  components: {
    EFLogin,
  },
  layout: 'onboarding',
  middleware: 'auth',
  data() {
    return {};
  },
  methods: {},
};
</script>

<style scoped lang="scss">
.logo-block {
  position: absolute;
  top: 40px;
  left: 50px;
}
.login-block {
  height: 100vh;
}
</style>
