<template>
  <div class="d-flex flex-column">
    <div class="logo-block">
      <a href="/onboarding">
        <img src="~/assets/images/electafile-logo.svg" alt="Electafile" />
      </a>
    </div>
    <div class="onboarding-block d-flex justify-center align-center">
      <EFOnboarding />
    </div>
  </div>
</template>

<script>
import EFOnboarding from '../components/onboarding/EFOnboarding';

export default {
  components: {
    EFOnboarding,
  },
  layout: 'onboarding',
};
</script>

<style lang="scss" scoped>
.logo-block {
  position: absolute;
  top: 40px;
  left: 50px;
}
.onboarding-block {
  height: 100vh;
}
</style>
