<template>
  <EFPartyCommittee />
</template>

<script scoped>
import EFPartyCommittee from '../components/committee/party-committee/EFPartyCommittee.vue';
export default {
  components: { EFPartyCommittee },
  layout: 'committee',
};
</script>
