<template>
  <EFPoliticalActionCommittee />
</template>

<script scoped>
import EFPoliticalActionCommittee from '~/components/committee/political-action-committee/EFPoliticalActionCommittee.vue';
export default {
  components: { EFPoliticalActionCommittee },
  layout: 'committee',
};
</script>
