<template>
  <EFReportsList />
</template>

<script>
import EFReportsList from '../components/reports/EFReportsList.vue';
export default {
  components: {
    EFReportsList,
  },
};
</script>

<style></style>
