<template>
  <div>
    <v-container>
      <h1 class="text-center">Buttons</h1>
      <v-card class="logo py-4 d-flex justify-center">
        <br />
        <v-row justify="center" align="center">
          <v-col cols="9">
            <EFButton>Default</EFButton>
          </v-col>
          <v-col cols="9">
            <EFButton type="primary"> Primary </EFButton>
          </v-col>
          <v-col cols="9">
            <EFButton type="secondary"> Secondary </EFButton>
          </v-col>
          <v-col cols="9">
            <EFButton :disabled="true"> Disabled </EFButton>
          </v-col>
        </v-row>
        <br />
      </v-card>
    </v-container>

    <v-container>
      <h1 class="text-center">TextInputs</h1>

      <v-card class="logo py-4 d-flex justify-center">
        <br />
        <v-row justify="center" align="center">
          <v-col cols="9">
            <EFTextInput />
          </v-col>
          <v-col cols="9">
            <EFTextInput disabled value="Disabled" />
          </v-col>
          <v-col cols="9">
            <EFTextInput
              label="Error Field Type"
              :rules="[(value) => value === 'invalid' || 'Max 20 characters']"
              :error-messages="['Invalid Text Input']"
              is-error
              value="Invalid"
            />
          </v-col>
          <v-col cols="9">
            <EFSelectComponent
              :items="['item1', 'item2', 'item3']"
              label="Default Select List"
            />
            <EFSelectComponent type="datepicker" label="Default DatePicker" />
          </v-col>
          <v-col cols="9">
            <EFTabs :steps="steps" />
          </v-col>
          <v-col cols="9">
            <EFTabs :steps="steps" type="stepper" :active-tab="activeTab" />
            <v-row justify="center" class="pt-5" align="center">
              <v-col cols="6">
                <v-btn
                  color="#f1f1f1"
                  light
                  :disabled="activeTab <= 1"
                  @click="$nuxt.$emit('activeTab', --activeTab)"
                >
                  Previous
                </v-btn>
              </v-col>
              <v-col cols="6" class="flex align-end">
                <v-btn
                  color="#f1f1f1"
                  light
                  :disabled="activeTab >= steps.length"
                  @click="$nuxt.$emit('activeTab', ++activeTab)"
                >
                  Next
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <br />
      </v-card>
    </v-container>
    <v-container>
      <h1 class="text-center">Cards</h1>

      <v-card class="logo py-4 d-flex justify-center">
        <br />
        <v-row justify="center" align="center">
          <v-col cols="3">
            <EFReportCard :content="cardContents" />
          </v-col>
          <v-col cols="3">
            <EFReportCard
              :content="cardNoDateContents"
              :is-issue="true"
              type="noDueDate"
            />
          </v-col>
          <v-col cols="3">
            <EFReportCard :content="cardContents" />
          </v-col>
          <v-col cols="11">
            <EFDashboardBanner :content="dashBoardBannerContents" />
          </v-col>
          <v-col cols="6">
            <EFRecordCard :content="recordCard" />
          </v-col>
          <v-col cols="9" class="pt-4 pb-12">
            <div class="text-center">
              <v-btn color="primary" @click.stop="dialog = true">
                Open Modal
              </v-btn>
            </div>
            <v-dialog
              v-model="dialog"
              width="661"
              overlay-color="var(--whisper)"
              content-class="rounded-dialog"
            >
              <EFModal
                :highlight-text="true"
                :content="modalContent"
                @closeDialog="closeDialog"
              >
                <EFButton> Continue </EFButton>
              </EFModal>
            </v-dialog>
          </v-col>
        </v-row>
        <br />
      </v-card>
    </v-container>
    <v-container>
      <h1 class="text-center">Form Builder</h1>

      <v-card class="logo py-4 d-flex justify-center">
        <br />
        <v-row justify="center" align="center">
          <v-col cols="9">
            <v-col cols="9">
              <EFForm name="form" :items="items">
                <template #default="{ valid }">
                  <EFButton :valid="valid" :disabled="!valid" type="secondary">
                    Submit
                  </EFButton>
                </template>
              </EFForm>
              <!-- <v-form ref="form" v-model="valid">
              <EFFormItems :items="items" @data="data">
                <EFButton :disabled="!valid" type="secondary">
                  Submit
                </EFButton>
              </EFFormItems>
           </v-form> -->
            </v-col>
          </v-col>
        </v-row>
        <br />
      </v-card>
    </v-container>
  </div>
</template>

<script>
import Q1 from '../assets/images/Q1.vue';
import YE from '../assets/images/YE.vue';
export default {
  data() {
    return {
      steps: [
        { title: 'Tab 1', content: 'Tab 1', demo: true },
        { title: 'Tab 2', content: 'Tab 2', demo: true },
        { title: 'Tab 3', content: 'Tab 3', demo: true },
      ],
      activeTab: 1,
      cardContents: {
        image: Q1,
        title: 'First Quarter',
        dueDate: 'February 28',
      },
      cardNoDateContents: {
        image: YE,
        title: '48-Hour Notice',
        subtitle:
          'There’s a contribution of $1,000 or more that must be reported within 48 hours',
      },
      dashBoardBannerContents: {
        header: 'NC Statewide General Elections',
        dividers: [
          { title: 'Committee', subtitle: 'Ronald Richards Committee' },
          { title: 'Committee ID', subtitle: 'STA-123456-C-001' },
        ],
        inCard: [
          { title: 'Primary', date: 'Mar 8, 2022' },
          { title: 'General', date: 'Nov 8, 2020' },
        ],
        linkText: 'NC Board of Elections',
        linkUrl: '',
      },
      recordCard: {
        image: require('../assets/images/add-receipt.svg'),
        title: 'Add Receipt',
        subtitle: 'General Contribution, Loan Proceed, Interest',
      },
      dialog: false,
      modalContent: {
        title: 'Add Transactions. Then, File Reports',
        image: require('../assets/images/file-reports.svg'),
        subText:
          'Add all the transactions from the committee’s bank account(s).When the time comes, Electafile suggests a report that needs to be filed',
        hightlightTitle: 'Practical Tip',
        highlightSubtext:
          'Add transactions as they come. This way, we can notify you as soon as possible if anything doesn’t comply with the law or requires any actions from your side.',
      },

      valid: false,

      // Forms Json
      items: [
        {
          type: 'text',
          label: 'Custom input',
          placeholder: 'street address',
          rules: [
            (v) => !!v || 'Input is required',
            (v) => v.length <= 10 || 'Input must be less than 10 characters',
          ],
          // disabled: false,
          // isError: false,
          // errorMessage: [],
          class: 'mt-10',
        },
        {
          type: 'email',
          label: 'Email',
          placeholder: 'Email',
        },
        {
          type: 'text',
          label: 'Text input',
          value: '+880',
          class: '',
        },
        {
          type: 'number',
          label: 'Number input',
          value: 17,
          class: '',
        },
        {
          type: 'password',
          label: 'Password input',
          placeholder: 'Password',
          class: '',
        },
        {
          type: 'checkbox',
          label: 'Checkbox',
          disabled: false,
          // indeterminate: false,
          // color: 'indigo',
          // dark: false,
          // inputValue: false,
          class: '',
        },
        // Define column for screen if needed - cols sm md lg xl
        {
          type: 'select',
          label: 'Select items',
          options: ['1', '2', '3', '4'],
          disabled: false,
          // rules: ['Selection is required'],
          md: 6,
          class: '',
          rules: [(v) => !!v || 'Select is required'],
        },
        {
          type: 'select',
          variant: 'datepicker', // variant for datepicker
          label: 'Select date',
          // rules: ['Date is required'],
          md: 6,
          class: '',
          rules: [(v) => !!v || 'Date is required'],
        },
      ],
    };
  },
  beforeMount() {
    this.$nuxt.$on('form', (res) => {
      console.log('form value get', res);
    });
    this.$nuxt.$on('getItem', (res) => {
      console.log('changed items in select', res);
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('form');
    this.$nuxt.$off('getItem');
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    },
  },
};
</script>
