<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="12">
      <div class="mt-10 mb-8">
        <EFFormTitle title="Add Committee" />
      </div>
      <v-row>
        <v-col cols="12">
          <EFTabs :steps="steps" type="stepper" :active-tab="activeTab" />

          <v-row
            v-if="activeTab > 1"
            justify="center"
            class="pt-5 mb-16"
            align="center"
          >
            <v-btn
              color="#f1f1f1"
              light
              :disabled="activeTab <= 1"
              @click="$nuxt.$emit('activeTab', --activeTab)"
            >
              Back
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import EFCommittee from '~/components/committee/EFCommittee';
import EFCandidate from '~/components/committee/candidate/EFCandidate';
import EFOfficers from '~/components/committee/EFOfficers';
import EFAccounts from '~/components/committee/EFAccounts';
import statesCities from '@/constants/states-cities';
import countyList from '@/constants/county-list';

const WrappedCommittee = () => (
  <EFCommittee
    states-cities={statesCities}
    mode="committee"
    county-list={countyList}
  />
);

const WrappedCandidate = () => (
  <EFCandidate mode="committee" states-cities={statesCities} />
);

const WrappedAccounts = () => <EFAccounts mode="committee" />;

const WrappedOfficers = () => (
  <EFOfficers mode="committee" states-cities={statesCities} />
);
export default {
  components: {},
  data() {
    return {
      steps: [
        { title: 'Committee', content: WrappedCommittee },
        { title: 'Candidate', content: WrappedCandidate },
        { title: 'Officers', content: WrappedOfficers },
        { title: 'Accounts', content: WrappedAccounts },
      ],
      activeTab: 1,
    };
  },
  beforeMount() {
    this.onTabs();
  },
  beforeDestroy() {
    this.offTabs();
  },
  methods: {
    onTabs() {
      this.$nuxt.$on('nextTab', () => {
        // console.log('its next tab')
        return this.activeTab < this.steps.length
          ? this.$nuxt.$emit('activeTab', ++this.activeTab)
          : '';
      });
    },
    offTabs() {
      this.$nuxt.$off('nextTab');
    },
  },
};
</script>
