<template>
  <div>
    <EFFormTitle v-if="mode === VIEW_MODE.SETTINGS" subsubtitle="Candidate" />
    <v-row
      :class="[
        `${
          mode === VIEW_MODE.COMMITTEE
            ? `d-flex align-center justify-center`
            : ``
        }`,
      ]"
    >
      <v-col cols="12" sm="8" md="6">
        <EFForm :key="refreshKey" name="candidate" :items="items">
          <template #default="{ valid }">
            <div v-if="mode === VIEW_MODE.COMMITTEE" class="text-center">
              <EFButton :valid="valid" :disabled="!valid" type="primary">
                Continue
              </EFButton>
            </div>
            <div v-if="mode === VIEW_MODE.SETTINGS">
              <EFButton type="primary"> SAVE CHANGES </EFButton>
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formUtils } from '../../../utils/common/forms';
import { IS_UI_ONLY, PARTY_AFFILIATION, VIEW_MODE } from '~/constants/const';
import { accessor } from '~/store';
import { AddressKeys } from '~/api/electafile-api/types/address';
import { CandidateKeys } from '~/api/electafile-api/types/committee';

export default {
  components: {},
  props: {
    statesCities: {
      type: Object,
      default: () => {},
    },
    countyList: {
      type: Array,
      default: () => [],
    },
    mode: {
      type: String,
      default: VIEW_MODE.COMMITTEE,
    },
  },
  data() {
    return {
      valid: false,
      refreshKey: Date.now(),
      VIEW_MODE,
      items: [
        {
          id: 0,
          key: CandidateKeys.FULL_NAME,
          type: 'text',
          label: 'Full Name',
          value: '',
        },
        {
          id: 1,
          key: CandidateKeys.PARTY_AFFILIATION_TYPE,
          type: 'select',
          label: 'Party Affiliation',
          options: PARTY_AFFILIATION,
          rules: [(v) => !!v || 'Party affiliation level is required'],
        },
        {
          id: 2,
          key: CandidateKeys.OFFICE_SOUGHT,
          type: 'text',
          label: 'Office Sought',
        },
        {
          id: 3,
          key: CandidateKeys.JURISDICTION,
          type: 'text',
          label: 'Jurisdiction',
          cols: 12,
          md: 6,
        },
        {
          id: 4,
          key: CandidateKeys.NEXT_ELECTION_YEAR,
          type: 'text',
          label: 'Next Election Year',
          cols: 12,
          md: 6,
        },
        {
          id: 5,
          key: AddressKeys.STREET,
          parent_key: 'address',
          type: 'text',
          label: 'Mailing Address',
        },
        {
          id: 7,
          key: AddressKeys.STATE,
          parent_key: 'address',
          type: 'select',
          options: Object.keys(this.statesCities).map((key) => {
            return { label: key, value: key };
          }),
          disabled: false,
          // selected: "NC",
          rules: [(v) => !!v || 'State is required'],
          cols: 12,
          md: 5,
        },
        {
          id: 6,
          key: AddressKeys.CITY,
          parent_key: 'address',
          type: 'select',
          placeholder: 'City',
          options: [],
          value: '',
          rules: [], // [(v) => !!v || 'City is required'], //TODO: return
          cols: 12,
          md: 4,
        },
        {
          id: 8,
          key: AddressKeys.ZIP,
          parent_key: 'address',
          type: 'text',
          placeholder: 'Zip',
          cols: 12,
          md: 3,
        },
        {
          id: 9,
          key: CandidateKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          value: '+1',
        },
        {
          id: 10,
          key: CandidateKeys.EMAIL,
          type: 'text',
          label: 'Email',
        },
      ],
    };
  },
  mounted() {
    this.initCandidate();

    this.$nuxt.$on('getItem', (res) => {
      this.items[this.items.findIndex((item) => item.id === 6)].value =
        res.value;
      for (const x in this.statesCities) {
        if (x === res.value?.value) {
          this.items[this.items.findIndex((item) => item.id === 6)].options =
            this.statesCities[x];
        }
      }
    });
    this.$nuxt.$on('candidate', (res) => {
      console.log('form value get', res);
      // this.$nuxt.$emit('nextTab');
      this.createCandidate();
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
    this.$nuxt.$off('candidate');
  },
  methods: {
    async createCandidate() {
      if (IS_UI_ONLY) {
        return;
      }

      console.log('>>>> createCandidate data', this.items);
      try {
        await accessor.restored;
        const CandidateModule = accessor.candidate;
        await CandidateModule.createCandidate(this.items);

        if (this.mode === VIEW_MODE.COMMITTEE) {
          this.$nuxt.$emit('nextTab');
        }
      } catch (e) {
        alert('Some error occurs');
      }
    },

    async initCandidate() {
      if (IS_UI_ONLY) {
        return;
      }

      console.log('>>>> initCandidate >>>>>', this.items);
      await accessor.restored;
      const CandidateModule = accessor.candidate;
      try {
        const response = await CandidateModule.getCandidate();
        console.log('>>>> initCandidate response:', response);

        this.items = formUtils.buildItems(this.items, response);
        console.log('>>>> initCandidate pre-populate items:', this.items);
      } catch (e) {
        // alert('Some error occurs');
      }

      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
  },
};
</script>
