<template>
  <div>
    <EFContainer title="Counterparties">
      <EFCard>
        <v-row class="mt-6 mx-4" no-gutters>
          <v-col cols="12" md="4">
            <div v-if="deleteButton" @click="onMultiDelete">
              <v-btn text class="delete-text">Delete Selected</v-btn>
            </div>
            <EFButton
              v-else
              large
              icon="mdi-plus"
              @el-onclick="addCounterparties"
            >
              Add Counterparty
            </EFButton>
          </v-col>
          <v-col cols="12" md="8">
            <EFForm name="seacrh" :items="items" />
          </v-col>
        </v-row>
        <!-- @deleteSelected="deleteSelected" -->
        <EFDataTables
          :key="refreshKey"
          name="counterparties"
          :flat="true"
          :items="tableItems"
          :table-headers="tableHeaders"
          @delete="onDelete"
        />

        <!-- DELETE Modal -->
        <v-dialog
          v-model="dialog"
          width="542"
          overlay-color="var(--whisper)"
          content-class="rounded-dialog"
        >
          <v-card class="card pt-7 pb-10">
            <div class="pl-12 pr-8 d-flex justify-space-between align-center">
              <div class="title_h3">Confirm Report Amendments</div>
              <div>
                <v-btn icon @click="dialog = false">
                  <v-icon color="#909FBA"> mdi-close </v-icon>
                </v-btn>
              </div>
            </div>
            <v-card
              flat
              color="rgba(42, 111, 242, 0.1)"
              class="mt-8 mx-12 pa-5 rounded-lg d-flex align-center"
            >
              <div class="mr-4">
                <img src="~/assets/images/misc-icon.svg" alt="" />
              </div>
              <div class="subtext">
                Changes in this transaction may affect the data in the reports
                you have filed. Report Amendments must be filed accordingly.
              </div>
            </v-card>
            <div class="mx-12 mt-8">
              <div class="data-text text-center mb-8">
                Specify the date when your updates become effective, so that
                your reports before this date don’t require amendments.
              </div>
              <EFForm name="datepicker" :items="datePickerItem" />
            </div>
            <div class="text_h4 mb-4">Reports to be Amended</div>
            <div v-for="(report, i) in reports" :key="i">
              <v-divider class="divider"></v-divider>
              <div class="d-flex justify-space-between mx-10 py-2">
                <div class="data-text">
                  <span class="mr-8">{{ report.year }}</span>
                  <span>{{ report.title }}</span>
                </div>
                <div>
                  <v-card class="elevation-0 chips">
                    <div class="chips-text">{{ report.status }}</div>
                  </v-card>
                </div>
              </div>
              <v-divider
                v-if="i === reports.length - 1"
                class="divider"
              ></v-divider>
            </div>
            <div class="text-center mt-10">
              <v-btn
                large
                class="cancel-button elevation-0"
                @click="dialog = false"
              >
                <span class="cancel-text">Cancel</span>
              </v-btn>
              <EFButton class="mx-4" large @el-onclick="dialog = false">
                Confirm Amendments
              </EFButton>
            </div>
          </v-card>
        </v-dialog>
      </EFCard>
    </EFContainer>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFForm from '../EFForm/EFForm.vue';
import { FEATURE_FLAGS, IS_UI_ONLY } from '../../constants/const';
import { accessor } from '../../store';
import { counterpartyUtils } from '../../utils/committe/counterparty-utils';
export default {
  components: { EFCard, EFForm },
  data() {
    return {
      refreshKey: Date.now(),
      dialog: false,
      reports: [
        { year: '2022', title: 'Third Quarter', status: 'Accepted' },
        { year: '2022', title: 'Second Quarter', status: 'Accepted' },
        { year: '2022', title: '48-Hour Notice', status: 'Accepted' },
        { year: '2022', title: 'First Quarter', status: 'Accepted' },
      ],
      datePickerItem: [
        {
          id: 0,
          type: 'select',
          variant: 'datepicker',
          label: 'Date Effective',
        },
      ],
      items: [
        {
          cols: 2,
        },
        {
          id: 0,
          type: 'text',
          placeholder: 'Search',
          cols: 5,
          disabled: false,
        },
        {
          id: 1,
          type: 'text',
          placeholder: 'Type: All',
          cols: 5,
          disabled: true,
        },
      ],

      tableHeaders: [
        {
          text: 'Name',
          align: 'start',
          sortable: false,
          value: 'name',
        },

        {
          text: 'Counterparty Type',
          value: 'counterpartyType',
          sortable: false,
        },
        {
          text: 'Contributed, Total',
          value: 'contributedTotal',
          sortable: false,
          align: 'end',
        },
        {
          text: 'Got Paid, Total',
          value: 'gotPaidTotal',
          sortable: false,
          align: 'end',
        },
        { value: 'actions', sortable: false },
      ],
      tableItems: [
        {
          name: 'Company, LLC',
          counterpartyType: 'Other Organization',
          contributedTotal: '$1,542.00',
          gotPaidTotal: '$490.00',
        },
        {
          name: 'Franklyn’s Fund',
          counterpartyType: 'Financial Institution',
          contributedTotal: '$21,000.00',
          gotPaidTotal: '$9,000.00',
        },
        {
          name: 'Sarah Wells',
          counterpartyType: 'Individual',
          contributedTotal: '$5,800.00',
          gotPaidTotal: '0.00',
        },
        {
          name: 'Wade Warren',
          counterpartyType: 'Individual',
          contributedTotal: '$49.00',
          gotPaidTotal: '0.00',
        },
      ],
      deleteButton: false,
      deleteItems: [],
    };
  },
  mounted() {
    this.initCounterparties();
  },
  beforeMount() {
    this.$nuxt.$on('getInputItem', (res) => {
      console.log('get values', res);
    });
    this.$nuxt.$on('getItem', (res) => {
      console.log('get values', res);
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getInputItem');
    this.$nuxt.$off('getItem');
  },
  methods: {
    onMultiDelete() {
      console.log('Delete items >>> ', this.deleteItems);
      this.dialog = true;
    },
    deleteSelected(selectedItems) {
      console.log(
        'EFCounterpartiesData/ delete multiselect >>> ',
        selectedItems,
      );
      if (selectedItems.length !== 0) {
        this.deleteItems = selectedItems;
        if (!this.deleteButton) {
          this.setDisabled();
        }
        this.deleteButton = true;
      } else {
        this.setDisabled();
        this.deleteButton = false;
      }
    },
    setDisabled() {
      this.items[1].disabled = !this.items[1].disabled;
      // this.items[2].disabled = !this.items[2].disabled;
    },
    addCounterparties() {
      this.$emit('addCounterparties');
    },
    onDelete(deleteItem) {
      console.log('single item delete >>> ', deleteItem);
      this.dialog = true;
    },
    async initCounterparties() {
      if (IS_UI_ONLY) {
        return;
      }

      if (!FEATURE_FLAGS.COUNTERPARTIES) {
        return;
      }

      try {
        await accessor.restored;
        const CounterpartyModule = accessor.counterparties;
        const responseItems = await CounterpartyModule.getCounterparties();
        console.log('response items >>> ', responseItems);

        this.tableItems = counterpartyUtils.buildTableItems(responseItems);
        console.log('>>>> initCounterparties items:', this.tableItems);
      } catch (e) {
        alert('Some error occurs');
      }

      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
}
.title_h3 {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* Biscay */

  color: var(--biscay);
}
.text_h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* Biscay */

  color: var(--biscay);
}
.chips {
  background: rgba(22, 200, 157, 0.09);
  border-radius: 6px;
  padding: 8px;
}
.chips-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Java */

  color: var(--java);
}
.divider {
  border-color: var(--black-squeeze) !important;
}
.data-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 160% */

  letter-spacing: 0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Big Stone */

  color: var(--big-stone);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  /* Black Pearl */

  color: var(--black-pearl);
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.delete-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 114% */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
</style>
