<template>
  <div>
    <div v-if="counterparties">
      <EFCounterpartiesData @addCounterparties="addCounterparties" />
    </div>
    <div v-else>
      <EFNewCounterparty
        parent-component="EFCounterparties"
        :edit-counterparty-data="editCounterpartyData"
      />
    </div>
  </div>
</template>

<script>
import EFCounterpartiesData from '../counterparties/EFCounterpartiesData.vue';
import EFNewCounterparty from '../counterparties/EFNewCounterparty.vue';
export default {
  components: {
    EFCounterpartiesData,
    EFNewCounterparty,
  },
  data() {
    return {
      counterparties: true,
      editCounterpartyData: null,
    };
  },
  beforeMount() {
    this.$nuxt.$on('backToHome', () => {
      // alert('Counterparties added successfully');
      this.counterparties = true;
    });
    this.$nuxt.$on('EFCounterparties', () => {
      this.counterparties = true;
      this.editCounterpartyData = null;
    });

    this.$nuxt.$on('editcounterparties', (res) => {
      console.log('edit counterparty event on >>> ', res, res.item.name);
      this.editCounterpartyData = res.item;
      this.counterparties = false;
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('backToHome');
    this.$nuxt.$off('EFCounterparties');
    this.$nuxt.$off('editcounterparties');
  },
  methods: {
    addCounterparties() {
      // TODO: use states e.g:
      // counterparties_list
      // edit
      // create
      this.counterparties = false;
    },
  },
};
</script>

<style></style>
