<template>
  <EFContainer
    title="New Counterparty"
    :back-icon="true"
    :back-component="
      editCounterpartyData ? 'EFCounterparties' : 'EFNewCounterparty'
    "
  >
    <EFCard class="px-12 pb-12 pt-9">
      <v-menu offset-y transition="slide-y-transition" @change="selected">
        <template #activator="{ on, attrs }">
          <v-chip-group>
            <div v-bind="attrs" class="d-flex align-center" v-on="on">
              <div class="card_subtitle mr-5">{{ selected.label }}</div>
              <v-icon class="card_subtitle-icon">mdi-chevron-down</v-icon>
            </div>
          </v-chip-group>
        </template>
        <v-list>
          <v-list-item
            v-for="(option, i) in counterpartyOptions"
            :key="i"
            @click="onSelected(option, i)"
          >
            <v-list-item-title>
              <div class="text_small">{{ option.label }}</div>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-row class="mt-5 mb-16">
        <v-col cols="12">
          <EFForm :key="refreshKey" name="receipt" :items="items">
            <template #default="{ valid }">
              <div class="text-center mt-7">
                <v-btn large class="cancel-button elevation-0" @click="cancel">
                  <span class="cancel-text">Cancel</span>
                </v-btn>
                <EFButton
                  :valid="valid"
                  :disabled="!valid"
                  class="mx-4"
                  large
                  @el-onclick="save"
                >
                  {{ editCounterpartyData ? 'Save changes' : 'Save' }}
                </EFButton>
                <EFButton
                  v-if="!editCounterpartyData"
                  :valid="valid"
                  :disabled="!valid"
                  large
                  @el-onclick="saveAddMore"
                >
                  Save and Add more</EFButton
                >
              </div>
            </template>
          </EFForm>
        </v-col>
      </v-row>
    </EFCard>
  </EFContainer>
</template>
<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFConditionalButton from '../counterparties/EFConditionalButton.vue';
import {
  COMMITTEE_TYPE,
  FEATURE_FLAGS,
  IS_UI_ONLY,
} from '../../constants/const';
import { AddressKeys } from '../../api/electafile-api/types/address';
import { CounterpartyKeys } from '../../api/electafile-api/types/counterparty';
import { accessor } from '../../store';
import { formUtils } from '../../utils/common/forms';
import {
  CounterpartySubType,
  CounterpartyCommiteeOrglevel,
} from '~/api/electafile-api/types/counterparty';
import statesCities from '~/constants/states-cities';

export default {
  components: { EFCard },
  props: {
    editCounterpartyData: {
      type: Object,
      default: null,
    },
    counterpartyOptions: {
      type: Array,
      default: () => [],
    },
    optionIndex: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      valid: false,
      selected: '',
      selectedIndex: null,
      refreshKey: Date.now(),
      items: [],
      addressItems: [
        {
          key: AddressKeys.STREET,
          parent_key: 'address',
          value: '',
          type: 'text',
          label: 'Mailing Address',
          placeholder: 'Street Address',
          cols: 6,
        },
        {
          key: AddressKeys.STATE,
          parent_key: 'address',
          type: 'select',
          options: Object.keys(statesCities).map((key) => {
            return { label: key, value: key };
          }),
          value: '',
          selected: 'NC',
          cols: 2,
          class: 'mt-n5',
        },
        {
          key: AddressKeys.CITY,
          parent_key: 'address',
          value: '',
          type: 'select',
          placeholder: 'City',
          options: [],
          cols: 2,
          class: 'mt-n5',
        },
        {
          key: AddressKeys.ZIP,
          parent_key: 'address',
          type: 'text',
          placeholder: 'Zip',
          cols: 2,
          class: 'mt-n5',
        },
      ],
      // Individual
      items0: [
        {
          id: 0,
          key: CounterpartyKeys.FULL_NAME,
          type: 'text',
          label: 'Full Name',
          cols: 6,
        },
        {
          id: 2,
          key: CounterpartyKeys.JOB_TITLE,
          type: 'text',
          label: 'Job Title / Profession',
          cols: 6,
          class: 'mt-n5',
        },
        {
          id: 6,
          key: CounterpartyKeys.EMPLOYER_NAME,
          type: 'text',
          label: 'Employer’s Name / Specific Field',
          tooltip: true,
          cols: 6,
          class: 'mt-n5',
        },
        {
          id: 7,
          key: CounterpartyKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          cols: 3,
          class: 'mt-n14',
        },
        {
          id: 8,
          key: CounterpartyKeys.EMAIL,
          type: 'text',
          label: 'Email',
          labelRight: '(optional)',
          cols: 3,
          class: 'mt-n14',
        },
        // TODO Available only for Candidate committee, there is contribution limit also
        {
          id: 9,
          key: CounterpartyKeys.CANDIDATE_SPOUSE,
          subtype: 'boolean',
          type: 'checkbox',
          label: 'Candidate Spouse',
          cols: 6,
          class: 'mt-n7',
        },
      ],
      // Financial Institution
      items1: [
        {
          id: 0,
          key: CounterpartyKeys.ORGANIZATION_NAME,
          type: 'text',
          label: 'Organization Name',
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          id: 5,
          key: CounterpartyKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          cols: 3,
          class: 'mt-n5',
        },
        {
          id: 6,
          key: CounterpartyKeys.EMAIL,
          type: 'text',
          label: 'Email',
          labelRight: '(optional)',
          cols: 3,
          class: 'mt-n5',
        },
      ],
      // Political Committee
      items2: [
        {
          id: 0,
          key: CounterpartyKeys.COUNTERPARTY_COMMITTEE_NAME,
          type: 'text',
          label: 'Committee Name',
          cols: 6,
        },
        {
          id: 2,
          key: CounterpartyKeys.COUNTERPARTY_COMMITTEE_TYPE,
          type: 'select',
          label: 'Committee Type',
          options: COMMITTEE_TYPE,
          rules: [(v) => !!v || 'Committee type is required'],
          cols: 6,
          class: 'mt-n5',
        },
        {
          id: 6,
          key: CounterpartyKeys.COUNTERPARTY_COMMITTEE_ORGANIZATIONAL_LEVEL,
          type: 'select',
          label: 'Committee Organization Level',
          options: CounterpartyCommiteeOrglevel,
          rules: [(v) => !!v || 'Committee organization level is required'],
          cols: 6,
          class: 'mt-n5',
        },
        {
          id: 7,
          key: CounterpartyKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          cols: 3,
          class: 'mt-n14',
        },
        {
          id: 8,
          key: CounterpartyKeys.EMAIL,
          type: 'text',
          label: 'Email',
          labelRight: '(optional)',
          cols: 3,
          class: 'mt-n14',
        },
      ],
      // Other Organization
      items3: [
        {
          id: 0,
          key: CounterpartyKeys.ORGANIZATION_NAME,
          type: 'text',
          label: 'Organization Name',
          cols: 6,
        },
        {
          id: 2,
          key: CounterpartyKeys.ORGANIZATION_NON_FOR_PROFIT,
          subtype: 'boolean',
          type: 'checkbox',
          label: 'Non-for-Profit Organization',
          cols: 6,
          class: 'mt-n7',
        },
        {
          cols: 6,
        },
        {
          id: 6,
          key: CounterpartyKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          cols: 3,
          class: 'mt-n5',
        },
        {
          id: 7,
          key: CounterpartyKeys.EMAIL,
          type: 'text',
          label: 'Email',
          labelRight: '(optional)',
          cols: 3,
          class: 'mt-n5',
        },
      ],
      // Electioneering Communication Entity
      items4: [
        {
          id: 0,
          type: 'customItems',
          label: 'Type',
          content: EFConditionalButton,
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          cols: 6,
        },
        {
          id: 5,
          key: CounterpartyKeys.PHONE,
          type: 'text',
          label: 'Phone Number',
          placeholder: '+1',
          cols: 3,
          class: 'mt-n5',
        },
        {
          id: 6,
          key: CounterpartyKeys.EMAIL,
          type: 'text',
          label: 'Email',
          labelRight: '(optional)',
          cols: 3,
          class: 'mt-n5',
        },
      ],
      conditionalItems: [
        {
          id: 0.1,
          key: CounterpartyKeys.FULL_NAME,
          type: 'text',
          label: 'Full Name',
          cols: 6,
          class: 'mt-n6',
        },
        {
          id: 0.2,
          key: CounterpartyKeys.JOB_TITLE,
          type: 'text',
          label: 'Job Title / Profession',
          cols: 6,
          class: 'mt-n5',
        },
        {
          id: 0.3,
          key: CounterpartyKeys.EMPLOYER_NAME,
          type: 'text',
          label: 'Employer’s Name / Specific Field',
          tooltip: true,
          cols: 6,
          class: 'mt-n5',
        },
      ],
      // Independent Expenditure Entity (same as items4)
    };
  },
  created() {
    this.watchSelected(
      this.counterpartyOptions[this.optionIndex],
      this.optionIndex,
    );
    if (this.editCounterpartyData) {
      this.initCounterparty();
    }
  },
  beforeMount() {
    this.$nuxt.$on('getItem', (res) => {
      console.log(
        res,
        this.selectedIndex,
        res.id,
        'all items >>> ',
        this.items,
      );
      if (res.id === 3) {
        if (
          this.selectedIndex === 0 ||
          this.selectedIndex === 2 ||
          this.selectedIndex === 3
        ) {
          this.items[this.items.findIndex((item) => item.id === 4)].options =
            statesCities[res.value.value];
        }
      } else if (res.id === 2) {
        if (this.selectedIndex === 1 || this.selectedIndex === 4) {
          this.items[this.items.findIndex((item) => item.id === 3)].options =
            statesCities[res.value.value];
        }
      }

      // Electioneering Communication Entity >> condition
      else if (res.id === 0) {
        if (this.selectedIndex === 4 || this.selectedIndex === 5) {
          const indexOfMailing = this.items.findIndex((itm) => itm.id === 1);
          if (res.value === CounterpartySubType[0].value) {
            console.log(' >>> Individual');
            this.items.splice(indexOfMailing + 1, 1, this.conditionalItems[0]);
            this.items.splice(indexOfMailing + 5, 1, this.conditionalItems[1]);
            this.items.splice(indexOfMailing + 8, 1, this.conditionalItems[2]);
          } else if (res.value === CounterpartySubType[1].value) {
            console.log(' >>> Organization');
            this.items = [...this.items4];
            this.setAddressV2();
            this.items.splice(indexOfMailing + 1, 1, {
              id: 0.1,
              type: 'text',
              label: 'Organization Name',
              cols: 6,
              class: 'mt-n5',
            });
          } else {
            this.items = [...this.items4];
            this.setAddressV2();
          }
        }
      }
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
  },
  methods: {
    cancel() {
      if (this.editCounterpartyData) {
        this.$nuxt.$emit('EFCounterparties');
      } else {
        this.$emit('backToEFNewCounterparty');
      }
    },
    save() {
      console.log('items - >', this.items, this.items.isValid);
      // check is valid
      if (!FEATURE_FLAGS.COUNTERPARTIES) {
        if (this.editCounterpartyData) {
          this.$nuxt.$emit('EFCounterparties');
        } else {
          this.$nuxt.$emit('backToHome');
        }
        return;
      }
      // this.$nuxt.$emit('backToHome');
      this.createCounterparty(
        this.editCounterpartyData ? 'EFCounterparties' : 'backToHome',
      );
    },
    saveAddMore() {
      // check is valid
      if (!FEATURE_FLAGS.COUNTERPARTIES) {
        this.$emit('backToEFNewCounterparty');
        return;
      }
      // this.$emit('backToEFNewCounterparty');
      this.createCounterparty('backToEFNewCounterparty');
    },
    async initCounterparty() {
      if (IS_UI_ONLY) {
        return;
      }

      if (!FEATURE_FLAGS.COUNTERPARTIES) {
        return;
      }

      try {
        await accessor.restored;
        const CounterpartyModule = accessor.counterparties;
        const counterparty = await CounterpartyModule.getCounterparty(
          this.editCounterpartyData.id,
        );

        console.log(
          'counterparty response >>>> ',
          counterparty,
          this.optionIndex,
          this.items,
        );
        console.log('before items >> ', this.items);
        this.items = formUtils.buildItems(this.items, counterparty);
        // this.$emit(emitName);
      } catch (e) {
        alert('Some error occurs');
      }
      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
    async createCounterparty(emitName) {
      if (IS_UI_ONLY) {
        return;
      }

      if (!FEATURE_FLAGS.COUNTERPARTIES) {
        return;
      }

      const counterpartyType =
        this.counterpartyOptions[this.selectedIndex].value;

      try {
        await accessor.restored;
        const CounterpartyModule = accessor.counterparties;

        await CounterpartyModule.createCounterparty({
          items: this.items,
          counterpartyType,
          counterpartyID: this.editCounterpartyData
            ? this.editCounterpartyData.id
            : null,
        });

        console.log(emitName);
        this.showSnackbar({
          message: `Data was successfully ${
            this.editCounterpartyData ? 'updated' : 'saved'
          }!`,
          error: false,
        });
        this.$nuxt.$emit(emitName);
      } catch (e) {
        this.showSnackbar({ message: 'Some error occurs', error: true });
      }
    },
    onSelected(option, index) {
      console.log('selected >>> ', index);
      this.watchSelected(option, index);
    },
    watchSelected(option, index) {
      if (index !== this.selectedIndex) {
        this.selected = option;
        this.selectedIndex = index;
        if (index === 0) {
          this.items = [...this.items0];
          this.setAddressV1();
          console.log(this.items);
        } else if (index === 1) {
          this.items = [...this.items1];
          this.setAddressV2();
        } else if (index === 2) {
          this.items = [...this.items2];
          this.setAddressV1();
        } else if (index === 3) {
          this.items = [...this.items3];
          this.setAddressV1();
        } else if (index === 4) {
          this.items = [...this.items4];
          this.setAddressV2();
        } else if (index === 5) {
          this.items = [...this.items4];
          this.setAddressV2();
        }
      }
    },
    setAddressV1() {
      this.items.splice(1, 0, { id: 1, ...this.addressItems[0] });
      this.items.splice(3, 0, { id: 3, ...this.addressItems[1] });
      this.items.splice(4, 0, { id: 4, ...this.addressItems[2] });
      this.items.splice(5, 0, { id: 5, ...this.addressItems[3] });
    },
    setAddressV2() {
      this.items.splice(1, 0, { id: 1, ...this.addressItems[0] });
      this.items.splice(3, 0, { id: 2, ...this.addressItems[1] });
      this.items.splice(4, 0, { id: 3, ...this.addressItems[2] });
      this.items.splice(5, 0, { id: 4, ...this.addressItems[3] });
    },
    showSnackbar(data) {
      this.$nuxt.$notifier.showMessage({
        message: data.message,
        error: data.error,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.card_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  /* Biscay */

  color: var(--biscay);
}
.card_subtitle-icon {
  width: 12px;
  height: 6px;
  color: var(--biscay) !important;
}
.v-menu__content {
  min-width: 470px !important;
  box-shadow: 0px 0px 30px rgba(89, 103, 128, 0.16) !important;
  border-radius: 8px !important;
}
.cancel-button {
  background-color: white !important;
  border: 2px solid var(--mystic);
  border-radius: 9px;
}
.cancel-text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Biscay */

  color: var(--biscay);
}
.text_small {
  font-family: var(--font-family-callout);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--river-bed);
}
</style>
