<template>
  <div>
    <EFContainer
      v-if="newCounterparty"
      title="New Counterparty"
      :back-icon="true"
      :back-component="parentComponent"
    >
      <EFCard class="py-12 d-flex flex-column justify-center align-center">
        <div class="card_subtitle">Counterparty Type</div>
        <div v-for="(option, i) in counterpartyOptions" :key="i">
          <v-btn
            :class="{ 'my-8': i === 0, 'mb-2': i !== 0 }"
            class="cardButton elevation-0"
            width="462"
            :height="i === 0 ? 82 : 52"
            @click="onCounterpartyType(i)"
          >
            <span
              :class="{
                'text-capitalize operating_text': i === 0,
                'text-none contribution_text': i !== 0,
              }"
              >{{ option.label }}</span
            >
          </v-btn>
        </div>
        <div>
          <v-btn
            v-if="counterpartyOptions.length !== CounterpartyOptions.length"
            outlined
            width="462"
            height="52"
            class="otherButton elevation-0"
            @click="other"
          >
            <span class="other_text">Other</span>
          </v-btn>
        </div>
      </EFCard>
    </EFContainer>

    <div v-else>
      <EFCounterpartyForm
        :counterparty-options="CounterpartyOptions"
        :option-index="optionIndex"
        :edit-counterparty-data="editCounterpartyData"
        @backToEFNewCounterparty="back"
      />
    </div>
  </div>
</template>

<script>
import EFCard from '../EFContainer/EFCard.vue';
import EFCounterpartyForm from '../counterparties/EFCounterpartyForm.vue';
import { CounterpartyType } from '~/api/electafile-api/types/counterparty';
export default {
  components: {
    EFCard,
    EFCounterpartyForm,
  },
  props: {
    editCounterpartyData: {
      type: Object,
      default: null,
    },
    parentComponent: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      newCounterparty: true,
      optionIndex: null,
      counterpartyOptions: [],
      CounterpartyOptions: CounterpartyType,
    };
  },
  created() {
    if (this.editCounterpartyData) {
      this.onCounterpartyType(
        this.CounterpartyOptions.findIndex(
          (el) => el.label === this.editCounterpartyData.counterpartyType,
        ),
      );
    } else {
      this.counterpartyOptions = this.CounterpartyOptions.slice(0, 3);
    }
  },
  beforeMount() {
    console.log(this.CounterpartyOptions);
    this.$nuxt.$on('EFNewCounterparty', () => {
      console.log('new receipt component');
      this.reset();
    });
  },
  beforeDestroy() {
    this.$nuxt.$off('EFNewCounterparty');
  },
  methods: {
    other() {
      this.counterpartyOptions = this.CounterpartyOptions;
    },
    onCounterpartyType(index) {
      this.newCounterparty = false;
      this.optionIndex = index;
      console.log(this.optionIndex, this.CounterpartyOptions[this.optionIndex]);
    },
    back() {
      this.reset();
    },
    reset() {
      this.newCounterparty = true;
      this.optionIndex = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.card_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  /* Biscay */

  color: var(--biscay);
}
.card_subtitle-icon {
  width: 12px;
  height: 6px;
  color: var(--biscay) !important;
}
.cardButton {
  background: rgba(146, 168, 210, 0.15);
  border-radius: 9px;
}
.otherButton {
  background: rgba(255, 255, 255, 0.5);

  /* Black Squeeze */
  border: 1px solid var(--black-squeeze);
  box-sizing: border-box;
  border-radius: 9px;
}
.other_text {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Bali Hai */

  color: var(--bali-hai);
}
.operating_text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: 0.02em;

  /* River Bed */

  color: var(--river-bed);
}
.contribution_text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 160% */

  text-align: center;

  /* River Bed */

  color: var(--river-bed);
}
</style>
