<template>
  <EFContainer title="Settings">
    <EFCard>
      <v-row no-gutters>
        <v-col cols="12">
          <EFTabsVertical
            :steps="steps"
            type="stepper"
            :active-tab="activeTab"
          />
        </v-col>
      </v-row>
    </EFCard>
  </EFContainer>
</template>
<script>
import EFCard from '../EFContainer/EFCard';
import EFUserAccount from './EFUserAccount';
import EFCommittee from '~/components/committee/EFCommittee.vue';
import EFCandidate from '~/components/committee/candidate/EFCandidate.vue';
import EFOfficers from '~/components/committee/EFOfficers.vue';
import EFAccounts from '~/components/committee/EFAccounts.vue';
import EFDetails from '~/components/committee/political-action-committee/EFDetails';
import statesCities from '~/constants/states-cities';
import countyList from '~/constants/county-list';
import { VIEW_MODE } from '~/constants/const';

import EFParty from '~/components/committee/party-committee/EFParty';
import { accessor } from '~/store';
import { CommitteeTypeBackend } from '~/api/electafile-api/types/user';

const WrappedCommittee = () => (
  <EFCommittee
    states-cities={statesCities}
    county-list={countyList}
    mode={VIEW_MODE.SETTINGS}
  />
);

const WrappedEFCandidate = () => (
  <EFCandidate states-cities={statesCities} mode={VIEW_MODE.SETTINGS} />
);
const WrappedEFAccounts = () => <EFAccounts mode={VIEW_MODE.SETTINGS} />;
const WrappedOfficers = () => (
  <EFOfficers states-cities={statesCities} mode={VIEW_MODE.SETTINGS} />
);

const WrappedEFParty = () => <EFParty mode={VIEW_MODE.SETTINGS} />;

const WrappedDetails = () => (
  <EFDetails
    mode={VIEW_MODE.SETTINGS}
    states-cities={statesCities}
    county-list={countyList}
  />
);

const candidateCommittee = [
  { title: 'Committee', content: WrappedCommittee },
  { title: 'Candidate', content: WrappedEFCandidate },
  { title: 'Officers', content: WrappedOfficers },
  { title: 'Bank Accounts', content: WrappedEFAccounts },
  { title: 'User Account', content: EFUserAccount },
];

const partyCommittee = [
  { title: 'Committee', content: WrappedCommittee },
  { title: 'Party', content: WrappedEFParty },
  { title: 'Officers', content: WrappedOfficers },
  { title: 'Accounts', content: WrappedEFAccounts },
  { title: 'User Account', content: EFUserAccount },
];

const politicalActionCommittee = [
  { title: 'Committee', content: WrappedCommittee },
  { title: 'Details', content: WrappedDetails },
  { title: 'Officers', content: WrappedOfficers },
  { title: 'Accounts', content: WrappedEFAccounts },
  { title: 'User Account', content: EFUserAccount },
];

const independentExpenditureCommittee = [
  { title: 'Committee', content: WrappedCommittee },
  { title: 'Officers', content: WrappedOfficers },
  { title: 'User Account', content: EFUserAccount },
];

const none = [{ title: 'User Account', content: EFUserAccount }];

export default {
  components: { EFCard },

  data() {
    return {
      VIEW_MODE,
      steps: none,
      activeTab: 1,
    };
  },
  computed: {
    tabs: {
      get() {
        if (this.type === 'stepper') {
          return this.stepperTabs;
        } else {
          return this.defaultTab;
        }
      },
      set(val) {
        if (this.type === 'stepper') {
          this.stepperTabs = val;
        } else {
          this.defaultTab = val;
        }
      },
    },
  },
  beforeMount() {
    this.onTabs();
  },
  beforeDestroy() {
    this.offTabs();
  },
  mounted() {
    this.initSteps();
  },
  methods: {
    onTabs() {
      this.$nuxt.$on('nextTab', () => {
        // console.log('its next tab')
        return this.activeTab < this.steps.length
          ? this.$nuxt.$emit('activeTab', ++this.activeTab)
          : '';
      });
    },
    offTabs() {
      this.$nuxt.$off('nextTab');
    },
    async initSteps() {
      await accessor.restored;

      const committeeType = accessor.user.committee_type;

      switch (committeeType) {
        case CommitteeTypeBackend.CANDIDATE_COMMITTEE:
          this.steps = candidateCommittee;
          break;

        case CommitteeTypeBackend.PARTY_COMMITTEE:
          this.steps = partyCommittee;
          break;

        case CommitteeTypeBackend.POLITICAL_ACTION_COMMITTEE:
          this.steps = politicalActionCommittee;
          break;

        case CommitteeTypeBackend.INDEPENDENT_EXPENDITURE_COMMITTEE:
          this.steps = independentExpenditureCommittee;
          break;
      }
      console.log('steps:', this.steps);
    },
  },
};
</script>
