<template>
  <div>
    <EFFormTitle subsubtitle="User Account" />
    <v-row>
      <v-col cols="12" sm="8" md="6">
        <EFForm name="committee" :items="items">
          <template #default="{ valid }">
            <div>
              <EFButton :valid="valid" type="primary"> SAVE CHANGES </EFButton>
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import { COMMITTE_ORGANIZATION_LEVEL, IS_UI_ONLY } from '~/constants/const';
import { accessor } from '~/store';

export default {
  props: {},

  data() {
    return {
      valid: false,
      items: [
        {
          id: 0,
          type: 'text',
          label: 'Email',
          rules: [(v) => /.+@.+/.test(v) || 'E-mail must be valid'],
          cols: 12,
          md: 12,
        },
      ],
    };
  },
  beforeDestroy() {
    this.$nuxt.$off('getItem');
    this.$nuxt.$off('committee');
  },
  methods: {
    async createCommittee() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const CommitteeModule = accessor.committee;

      try {
        const res = await CommitteeModule.createCommittee(this.items);
        console.log('HERE createCommittee: ', res);
        this.$nuxt.$emit('nextTab');
      } catch (e) {
        alert('Some error occurs');
      }
    },
  },
};
</script>
