<template>
  <div>
    <v-row justify="center" no-gutters>
      <v-card class="card px-12 pt-14 pb-12">
        <v-btn class="close-icon" icon @click="$emit('closeDialog')">
          <v-icon color="#909FBA"> mdi-close </v-icon>
        </v-btn>
        <div class="text-center title">
          {{ content.title }}
        </div>
        <v-img
          class="my-8 mx-auto"
          width="242"
          height="124"
          :src="content.image"
        />
        <div class="subtext">
          <span v-html="content.subtext" />
          <nuxt-link to="/settings">
            <span style="color: var(--dodger-blue)">Settings</span>
          </nuxt-link>
          <span>later.</span>
        </div>
        <div class="text-center mt-10">
          <slot />
        </div>
      </v-card>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
  // border-radius: 24px !important;
}
.title {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--biscay);
}
.text_h4 {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  /* Biscay */

  color: var(--biscay);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--big-stone);
}
.close-icon {
  position: absolute;
  right: 28px;
  top: 28px;
}
</style>
