<template>
  <div>
    <v-row justify="center" no-gutters>
      <v-card class="card px-12 pt-14 pb-12">
        <v-btn class="close-icon" icon @click="$emit('closeDialog')">
          <v-icon color="#909FBA"> mdi-close </v-icon>
        </v-btn>
        <div class="text-center title">
          {{ content.title }}
        </div>
        <v-card
          flat
          color="rgba(42, 111, 242, 0.1)"
          class="mt-8 pa-5 rounded-lg d-flex align-center"
        >
          <div class="mr-4">
            <img src="~/assets/images/misc-icon.svg" alt="" />
          </div>
          <div>
            <div class="text_h4 mb-3">
              {{ content.hightlightTitle }}
            </div>
            <span class="subtext" v-html="content.highlightSubtext" />
          </div>
        </v-card>
        <v-card flat class="mystic mt-10 mb-4 pa-4 d-flex align-center">
          <img src="~/assets/images/download-icon.svg" alt="" />
          <div class="button-medium mx-auto">
            {{ content.statement }}
          </div>
        </v-card>
        <a
          href="https://s3.amazonaws.com/dl.ncsbe.gov/Campaign_Finance/Forms/cro3500/ecro3500.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <v-card flat class="mystic mb-10 pa-4 d-flex align-center">
            <img
              style="margin-right: 6px"
              src="~/assets/images/download-icon.svg"
              alt=""
            />
            <div class="button-medium">{{ content.certification }}</div>
          </v-card>
        </a>
        <div class="text-center my-10">
          <slot />
        </div>
        <div class="small-text">
          <span v-html="content.footerText" />
          <nuxt-link to="/settings">
            <span style="color: var(--dodger-blue)">Settings</span>
          </nuxt-link>
          <span>later.</span>
        </div>
      </v-card>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  box-shadow: 4px 4px 28px rgba(144, 159, 186, 0.1) !important;
  // border-radius: 24px !important;
}
.title {
  font-family: var(--font-family-page-title);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--biscay);
}
.text_h4 {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  /* Biscay */

  color: var(--biscay);
}
.subtext {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--big-stone);
}
.button-medium {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--biscay);
}
.small-text {
  font-family: var(--font-family-callout);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: 0.02em;

  /* Bali Hai */

  color: var(--bali-hai);
}
.mystic {
  border: 2px solid var(--mystic) !important;
  box-sizing: border-box !important;
  border-radius: 9px !important;
}
.close-icon {
  position: absolute;
  right: 28px;
  top: 28px;
}
</style>
