<template>
  <div>
    <EFFormTitle v-if="mode === VIEW_MODE.SETTINGS" subsubtitle="Party" />
    <v-row
      :class="[
        `${
          mode === VIEW_MODE.COMMITTEE
            ? `d-flex align-center justify-center`
            : ``
        }`,
      ]"
    >
      <v-col cols="12" sm="8" md="6">
        <EFForm :key="refreshKey" name="party" :items="items">
          <template #default="{ valid }">
            <div class="text-center">
              <EFButton :valid="valid" :disabled="!valid" type="primary">
                Continue
              </EFButton>
            </div>
          </template>
        </EFForm>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formUtils } from '../../../utils/common/forms';
import { VIEW_MODE, IS_UI_ONLY, PARTY_TYPES } from '@/constants/const';
import { accessor } from '~/store';
import { PartyKeys } from '~/api/electafile-api/types/committee';
export default {
  props: {
    mode: {
      type: String,
      default: VIEW_MODE.COMMITTEE,
    },
  },
  data() {
    return {
      valid: false,
      refreshKey: Date.now(),
      VIEW_MODE,
      items: [
        {
          key: PartyKeys.PARTY_NAME,
          type: 'text',
          label: 'Party Name',
        },
        {
          key: PartyKeys.PARTY_TYPE,
          type: 'select',
          label: 'Party Type',
          options: PARTY_TYPES,
          disabled: false,
          rules: [(v) => !!v || 'Party type is required'],
        },
      ],
    };
  },
  mounted() {
    this.initParty();
    // @ts-ignore
    this.$nuxt.$on('party', (res) => {
      console.log('form value get', res);
      // @ts-ignore
      if (res.isValid) {
        this.createParty();
        // this.$nuxt.$emit('nextTab');
      }
    });
  },
  beforeDestroy() {
    // @ts-ignore

    this.$nuxt.$off('party');
  },
  methods: {
    async createParty() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const PartyModule = accessor.party;
      console.log('POST createParty: ', this.items);

      try {
        const res = await PartyModule.createParty(this.items);
        console.log('HERE createParty: ', res);
        this.$nuxt.$emit('nextTab');
      } catch (e) {
        alert('Some error occurs');
      }
    },
    async initParty() {
      if (IS_UI_ONLY) {
        return;
      }

      await accessor.restored;
      const PartyModule = accessor.party;
      try {
        const response = await PartyModule.getParty();

        console.log('>>>> initParty response:', response);

        /* Pre-populate */
        this.items = formUtils.buildItems(this.items, response);
        console.log('>>>> initParty pre-populate items:', this.items);
      } catch (e) {
        // alert('Some error occurs');
      }

      this.refreshView();
    },
    refreshView() {
      this.refreshKey = Date.now();
    },
  },
};
</script>

<style lang="scss" scoped></style>
