<template>
  <div :class="classes">
    <component :is="icon" />
  </div>
</template>
<script>
/* eslint-disable indent */
import iconStyles from './icon.scss';

/**
 * WfIconSvg component.
 */
export default {
  injectStyles: [iconStyles],
  name: 'WfIconSvg',
  props: {
    /**
     * Specify the icon vue-component (or import promise)
     */
    icon: {
      default: null,
      type: [Object, Function],
    },
    /**
     * Specify the icon size: xs - sm - md - lg
     */
    size: {
      default: '',
      type: String,
      validator: (size) => ['', 'xs', 'sm', 'md', 'lg'].includes(size),
    },
  },
  computed: {
    classes() {
      return {
        'wf-svg-icon': true,
        [this.size]: this.size,
      };
    },
  },
};
</script>
