.up-icon {
  --size: 14px;

  display: inline-block;
  width: var(--size);
  height: var(--size);

  @media (forced-colors: active) {
    color: var(--hc-icon);
  }

  & > svg {
    fill: currentColor;
    object-fit: contain;
    width: 100% !important;
    height: 100% !important;
    display: block;
  }

  &.xs {
    --size: 10px;
  }

  &.sm {
    --size: 12px;
  }

  &.md {
    --size: 20px;
  }

  &.lg {
    --size: 40px;
  }
}
